GhadiTire/bin/Debug/fa/json resources/dx-rich.fa.json
{
  "OfficeStringId.Caption_EditHyperlinkForm": "Edit Hyperlink",
  "OfficeStringId.Caption_EditHyperlinkFormDescription": " ",
  "OfficeStringId.Caption_InsertHyperlinkForm": "Insert Hyperlink",
  "OfficeStringId.Caption_InsertHyperlinkFormDescription": " ",
  "OfficeStringId.Caption_UnitCentimeters": "Centimeters",
  "OfficeStringId.Caption_UnitInches": "Inches",
  "OfficeStringId.Caption_UnitMillimeters": "Millimeters",
  "OfficeStringId.Caption_UnitPercent": "درصد",
  "OfficeStringId.Caption_UnitPoints": "Points",
  "OfficeStringId.FileFilterDescription_AllFiles": "تمام فایل ها",
  "OfficeStringId.FileFilterDescription_AllSupportedFiles": "تمام فیل های پشتیبانی شده",
  "OfficeStringId.FileFilterDescription_BitmapFiles": "Windows Bitmap",
  "OfficeStringId.FileFilterDescription_EmfFiles": "Microsoft Enhanced Metafile",
  "OfficeStringId.FileFilterDescription_GifFiles": "Graphics Interchange Format",
  "OfficeStringId.FileFilterDescription_JPEGFiles": "JPEG File Interchange Format",
  "OfficeStringId.FileFilterDescription_PNGFiles": "Portable Network Graphics",
  "OfficeStringId.FileFilterDescription_TiffFiles": "Tag Image File Format",
  "OfficeStringId.FileFilterDescription_WmfFiles": "Windows Metafile",
  "OfficeStringId.MenuCmd_AlignmentCenter": "مرکز",
  "OfficeStringId.MenuCmd_AlignmentCenterDescription": "Center text.",
  "OfficeStringId.MenuCmd_AlignmentJustify": "هم تراز كردن",
  "OfficeStringId.MenuCmd_AlignmentJustifyDescription": "Align text to both left and right margins, adding extra space between words as necessary.\n\nThis creates a clean look along the left and right side of the page.",
  "OfficeStringId.MenuCmd_AlignmentLeft": "Align Text Left",
  "OfficeStringId.MenuCmd_AlignmentLeftDescription": "Align text to the left.",
  "OfficeStringId.MenuCmd_AlignmentRight": "Align Text Right",
  "OfficeStringId.MenuCmd_AlignmentRightDescription": "Align text to the right.",
  "OfficeStringId.MenuCmd_ChangeFontColor": "Font Color",
  "OfficeStringId.MenuCmd_ChangeFontColorDescription": "Change the text color.",
  "OfficeStringId.MenuCmd_ChangeFontName": "قلم",
  "OfficeStringId.MenuCmd_ChangeFontNameDescription": "Change the font face.",
  "OfficeStringId.MenuCmd_ChangeFontSize": "اندازه قلم",
  "OfficeStringId.MenuCmd_ChangeFontSizeDescription": "Change the font size.",
  "OfficeStringId.MenuCmd_ClearUndo": "ClearUndo",
  "OfficeStringId.MenuCmd_ClearUndoDescription": "Clear Undo Buffer",
  "OfficeStringId.MenuCmd_CopySelection": "كپي",
  "OfficeStringId.MenuCmd_CopySelectionDescription": "Copy the selection and put it on the Clipboard.",
  "OfficeStringId.MenuCmd_CutSelection": "برش",
  "OfficeStringId.MenuCmd_CutSelectionDescription": "Cut the selection from the document and put it on the Clipboard.",
  "OfficeStringId.MenuCmd_DecreaseFontSize": "Shrink Font",
  "OfficeStringId.MenuCmd_DecreaseFontSizeDescription": "Decrease the font size.",
  "OfficeStringId.MenuCmd_DeleteComment": "حذف",
  "OfficeStringId.MenuCmd_DeleteCommentDescription": "Delete the selected comment.",
  "OfficeStringId.MenuCmd_EditComment": "Edit Comment",
  "OfficeStringId.MenuCmd_EditCommentDescription": "Add a note about this part of the document.",
  "OfficeStringId.MenuCmd_EditHyperlink": "Edit Hyperlink...",
  "OfficeStringId.MenuCmd_EditHyperlinkDescription": "Edit Hyperlink...",
  "OfficeStringId.MenuCmd_Encrypt": "Encrypt with Password",
  "OfficeStringId.MenuCmd_EncryptDescription": "Require a password to open this workbook.",
  "OfficeStringId.MenuCmd_FloatingObjectBringForward": "Bring Forward",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardCommandGroup": "Bring Forward",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardCommandGroupDescription": "Bring the selected object forward one level, or bring it in front of all the other objects.",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardDescription": "Bring the selected object forward so that it is hidden by fewer objects that are in front of it.",
  "OfficeStringId.MenuCmd_FloatingObjectBringToFront": "انتقال به جلو",
  "OfficeStringId.MenuCmd_FloatingObjectBringToFrontDescription": "Bring the selected object in front of all other objects so that no part of it is hidden behind other objects.",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackward": "Send Backward",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardCommandGroup": "Send Backward",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardCommandGroupDescription": "Send the selected object back one level, or send it behind all the other objects.",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardDescription": "Send the selected object backward so that it is hidden by the objects that are in front of it.",
  "OfficeStringId.MenuCmd_FloatingObjectSendToBack": "انتقال به پشت",
  "OfficeStringId.MenuCmd_FloatingObjectSendToBackDescription": "Send the selected object behind all other objects.",
  "OfficeStringId.MenuCmd_Hyperlink": "فراپیوند",
  "OfficeStringId.MenuCmd_HyperlinkDescription": "Create a link to a Web page, a picture, an e-mail address, or a program.",
  "OfficeStringId.MenuCmd_IncreaseFontSize": "Grow Font",
  "OfficeStringId.MenuCmd_IncreaseFontSizeDescription": "Increase the font size.",
  "OfficeStringId.MenuCmd_InsertComment": "New Comment",
  "OfficeStringId.MenuCmd_InsertCommentDescription": "Add a note about this part of the document.",
  "OfficeStringId.MenuCmd_InsertFloatingObjectPicture": "Picture",
  "OfficeStringId.MenuCmd_InsertFloatingObjectPictureDescription": "Insert a picture from a file.",
  "OfficeStringId.MenuCmd_InsertHyperlink": "Hyperlink...",
  "OfficeStringId.MenuCmd_InsertHyperlinkDescription": "Add a new hyperlink.",
  "OfficeStringId.MenuCmd_InsertSymbol": "نماد",
  "OfficeStringId.MenuCmd_InsertSymbolDescription": "Insert symbols that are not on your keyboard, such as copyright symbols, trademark symbols, paragraph marks and Unicode characters.",
  "OfficeStringId.MenuCmd_LoadDocument": "باز کردن",
  "OfficeStringId.MenuCmd_LoadDocumentDescription": "Open a document.",
  "OfficeStringId.MenuCmd_NewEmptyDocument": "جدید",
  "OfficeStringId.MenuCmd_NewEmptyDocumentDescription": "Create a new document.",
  "OfficeStringId.MenuCmd_OpenHyperlink": "Open Hyperlink",
  "OfficeStringId.MenuCmd_OpenHyperlinkDescription": "Open Hyperlink",
  "OfficeStringId.MenuCmd_PageMarginsModerate": "Moderate\nTop:\t{1,10}\tBottom:\t{3,10}\nLeft:\t{0,10}\tRight:\t\t{2,10}",
  "OfficeStringId.MenuCmd_PageMarginsModerateDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsNarrow": "Narrow\nTop:\t{1,10}\tBottom:\t{3,10}\nLeft:\t{0,10}\tRight:\t\t{2,10}",
  "OfficeStringId.MenuCmd_PageMarginsNarrowDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsNormal": "Normal\nTop:\t{1,10}\tBottom:\t{3,10}\nLeft:\t{0,10}\tRight:\t\t{2,10}",
  "OfficeStringId.MenuCmd_PageMarginsNormalDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsWide": "Wide\nTop:\t{1,10}\tBottom:\t{3,10}\nLeft:\t{0,10}\tRight:\t\t{2,10}",
  "OfficeStringId.MenuCmd_PageMarginsWideDescription": " ",
  "OfficeStringId.MenuCmd_PageOrientationCommandGroup": "جهت گیری",
  "OfficeStringId.MenuCmd_PageOrientationCommandGroupDescription": "Switch the pages between portrait and landscape layouts.",
  "OfficeStringId.MenuCmd_PageOrientationLandscape": "چشم انداز",
  "OfficeStringId.MenuCmd_PageOrientationLandscapeDescription": " ",
  "OfficeStringId.MenuCmd_PageOrientationPortrait": "پرتره",
  "OfficeStringId.MenuCmd_PageOrientationPortraitDescription": " ",
  "OfficeStringId.MenuCmd_Paste": "جاگذاري",
  "OfficeStringId.MenuCmd_PasteDescription": "Paste the contents of the Clipboard.",
  "OfficeStringId.MenuCmd_Print": "&Print",
  "OfficeStringId.MenuCmd_PrintDescription": "Select a printer, number of copies, and other printing options before printing.",
  "OfficeStringId.MenuCmd_PrintPreview": "Print Pre&view",
  "OfficeStringId.MenuCmd_PrintPreviewDescription": "Preview pages before printing.",
  "OfficeStringId.MenuCmd_QuickPrint": "&Quick Print",
  "OfficeStringId.MenuCmd_QuickPrintDescription": "Send the document directly to the default printer without making changes.",
  "OfficeStringId.MenuCmd_Redo": "تكرار عمل",
  "OfficeStringId.MenuCmd_RedoDescription": "تكرار عمل",
  "OfficeStringId.MenuCmd_RemoveHyperlink": "Remove Hyperlink",
  "OfficeStringId.MenuCmd_RemoveHyperlinkDescription": "Remove Hyperlink",
  "OfficeStringId.MenuCmd_RemoveHyperlinks": "Remove Hyperlinks",
  "OfficeStringId.MenuCmd_RemoveHyperlinksDescription": "Remove Hyperlinks",
  "OfficeStringId.MenuCmd_SaveDocument": "ذخیره",
  "OfficeStringId.MenuCmd_SaveDocumentAs": "ذخیره به عنوان",
  "OfficeStringId.MenuCmd_SaveDocumentAsDescription": "Open the Save As dialog box to select a file format and save the document to a new location.",
  "OfficeStringId.MenuCmd_SaveDocumentDescription": "Save the document.",
  "OfficeStringId.MenuCmd_ShowPasteSpecialForm": "Paste Special",
  "OfficeStringId.MenuCmd_ShowPasteSpecialFormDescription": "Show the Paste Special dialog box.",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuHeader": "Customize Status Bar",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuZoom": "زوم",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuZoomSlider": "Zoom Slider",
  "OfficeStringId.MenuCmd_StatusBarZoomDescription": "Zoom level. Click to open the Zoom dialog box.",
  "OfficeStringId.MenuCmd_StatusBarZoomSliderDescription": "زوم",
  "OfficeStringId.MenuCmd_ToggleFontBold": "برجسته",
  "OfficeStringId.MenuCmd_ToggleFontBoldDescription": "Make the selected text bold.",
  "OfficeStringId.MenuCmd_ToggleFontDoubleUnderline": "Double Underline",
  "OfficeStringId.MenuCmd_ToggleFontDoubleUnderlineDescription": "Double underline",
  "OfficeStringId.MenuCmd_ToggleFontItalic": "مورب",
  "OfficeStringId.MenuCmd_ToggleFontItalicDescription": "Italicize the selected text.",
  "OfficeStringId.MenuCmd_ToggleFontStrikeout": "خط زدن",
  "OfficeStringId.MenuCmd_ToggleFontStrikeoutDescription": "Draw a line through the middle of the selected text.",
  "OfficeStringId.MenuCmd_ToggleFontUnderline": "زير خط دار",
  "OfficeStringId.MenuCmd_ToggleFontUnderlineDescription": "Underline the selected text.",
  "OfficeStringId.MenuCmd_Undo": "لغو عمل",
  "OfficeStringId.MenuCmd_UndoDescription": "لغو عمل",
  "OfficeStringId.MenuCmd_Zoom100Percent": "100%",
  "OfficeStringId.MenuCmd_Zoom100PercentDescription": "Zoom the document to 100% of the normal size.",
  "OfficeStringId.MenuCmd_ZoomIn": "بزرگنمايي",
  "OfficeStringId.MenuCmd_ZoomInDescription": "بزرگنمايي",
  "OfficeStringId.MenuCmd_ZoomOut": "كوچكنمايي",
  "OfficeStringId.MenuCmd_ZoomOutDescription": "كوچكنمايي",
  "OfficeStringId.Msg_InternalError": "یک خطای داخلی رخ داده است",
  "OfficeStringId.Msg_InvalidBeginInit": "خطا: فراخوانی BeginInit از BeginUpdate",
  "OfficeStringId.Msg_InvalidBeginUpdate": "خطا: فراخوانی BeginUpdate از BeginInit",
  "OfficeStringId.Msg_InvalidCopyFromDocumentModel": "خطا: منبع و مقصد سند با هم فرق دارند.",
  "OfficeStringId.Msg_InvalidEndInit": "خطا: فراخوانی EndInit یا CancelInit بدون BeginInit یا BeginUpdate",
  "OfficeStringId.Msg_InvalidEndUpdate": "خطا: فراخوانی EndInit یا CancelUpdate بدون BeginInit یا BeginUpdate",
  "OfficeStringId.Msg_InvalidFontSize": "The number must be between {0} and {1}.",
  "OfficeStringId.Msg_InvalidNumber": "This is not a valid number.",
  "OfficeStringId.Msg_InvalidNumberConverterValue": "Value must be between {0} and {1}.",
  "OfficeStringId.Msg_InvalidRemoveDataSource": "A data source cannot be deleted during the mail-merge process.",
  "OfficeStringId.Msg_IsNotValid": "این مقدار'{0}' برای این  '{1}' معتبر نیست.",
  "OfficeStringId.Msg_Loading": "بارگزاری...",
  "OfficeStringId.Msg_MagicNumberNotFound": "فایل مورد نظر دارای فرمتی متفاوت می باشد.",
  "OfficeStringId.Msg_UnsupportedFormatOrCorruptedFile": "Unsupported format or corrupted file.",
  "OfficeStringId.UnitAbbreviation_Centimeter": " cm",
  "OfficeStringId.UnitAbbreviation_Inch": "\"",
  "OfficeStringId.UnitAbbreviation_Millimeter": " mm",
  "OfficeStringId.UnitAbbreviation_Percent": "%",
  "OfficeStringId.UnitAbbreviation_Pica": " pc",
  "OfficeStringId.UnitAbbreviation_Point": " pt",
  "XtraRichEditStringId.BorderLineStyleNone": "هیچکدام",
  "XtraRichEditStringId.Caption_AlignmentCenter": "مرکزی",
  "XtraRichEditStringId.Caption_AlignmentDistribute": "Distributed",
  "XtraRichEditStringId.Caption_AlignmentJustify": "تراز شده",
  "XtraRichEditStringId.Caption_AlignmentJustifyHigh": "Justify High",
  "XtraRichEditStringId.Caption_AlignmentJustifyLow": "Justify Low",
  "XtraRichEditStringId.Caption_AlignmentJustifyMedium": "Justify Medium",
  "XtraRichEditStringId.Caption_AlignmentLeft": "چپ",
  "XtraRichEditStringId.Caption_AlignmentRight": "راست",
  "XtraRichEditStringId.Caption_AlignmentThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.Caption_AllMarkup": "All Markup",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_Nothing": "Nothing",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_SpaceCharacter": "Space",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_TabCharacter": "Tab character",
  "XtraRichEditStringId.Caption_Bytes": "bytes",
  "XtraRichEditStringId.Caption_CaptionPrefixEquation": "معادله",
  "XtraRichEditStringId.Caption_CaptionPrefixFigure": "شکل",
  "XtraRichEditStringId.Caption_CaptionPrefixTable": "جدول",
  "XtraRichEditStringId.Caption_CharacterPositionLowered": "Lowered",
  "XtraRichEditStringId.Caption_CharacterPositionNormal": "عادی",
  "XtraRichEditStringId.Caption_CharacterPositionRaised": "Raised",
  "XtraRichEditStringId.Caption_CharacterSpacingCondensed": "Condensed",
  "XtraRichEditStringId.Caption_CharacterSpacingExpanded": "Expanded",
  "XtraRichEditStringId.Caption_CharacterSpacingNormal": "عادی",
  "XtraRichEditStringId.Caption_ClipboardSubItem": "Clipboard",
  "XtraRichEditStringId.Caption_ColorAutomatic": "خودکار",
  "XtraRichEditStringId.Caption_ColumnBreak": "Column Break",
  "XtraRichEditStringId.Caption_Comments": "Comments",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_BottomLeftCell": "سلول چپ پایین",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_BottomRightCell": "سلول راست پایین",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_EvenColumnBanding": "Even banded columns",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_EvenRowBanding": "Even banded rows",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_FirstColumn": "اولین ستون",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_FirstRow": "عنوان ردیف",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_LastColumn": "آخرین ستون",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_LastRow": "مجموع ردیف",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_OddColumnBanding": "Odd banded columns",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_OddRowBanding": "Odd banded rows",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_TopLeftCell": "سلول چپ بالا",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_TopRightCell": "سلول راست بالا",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_WholeTable": "همه جدول",
  "XtraRichEditStringId.Caption_CurrentDocumentHyperlinkTooltip": "سند جاری",
  "XtraRichEditStringId.Caption_CurrentParagraphText": "متن نمونه",
  "XtraRichEditStringId.Caption_CustomPropertyCheckedBy": "Checked by",
  "XtraRichEditStringId.Caption_CustomPropertyClient": "Client",
  "XtraRichEditStringId.Caption_CustomPropertyDateCompleted": "Date completed",
  "XtraRichEditStringId.Caption_CustomPropertyDepartment": "Department",
  "XtraRichEditStringId.Caption_CustomPropertyDestination": "Destination",
  "XtraRichEditStringId.Caption_CustomPropertyDisposition": "Disposition",
  "XtraRichEditStringId.Caption_CustomPropertyDivision": "Division",
  "XtraRichEditStringId.Caption_CustomPropertyDocumentNumber": "Document number",
  "XtraRichEditStringId.Caption_CustomPropertyEditor": "Editor",
  "XtraRichEditStringId.Caption_CustomPropertyForwardTo": "Forward to",
  "XtraRichEditStringId.Caption_CustomPropertyGroup": "گروه",
  "XtraRichEditStringId.Caption_CustomPropertyLanguage": "Language",
  "XtraRichEditStringId.Caption_CustomPropertyMailstop": "Mailstop",
  "XtraRichEditStringId.Caption_CustomPropertyMatter": "Matter",
  "XtraRichEditStringId.Caption_CustomPropertyNo": "خیر",
  "XtraRichEditStringId.Caption_CustomPropertyOffice": "Office",
  "XtraRichEditStringId.Caption_CustomPropertyOwner": "Owner",
  "XtraRichEditStringId.Caption_CustomPropertyProject": "Project",
  "XtraRichEditStringId.Caption_CustomPropertyPublisher": "Publisher",
  "XtraRichEditStringId.Caption_CustomPropertyPurpose": "Purpose",
  "XtraRichEditStringId.Caption_CustomPropertyReceivedFrom": "Received from",
  "XtraRichEditStringId.Caption_CustomPropertyRecordedBy": "Recorded by",
  "XtraRichEditStringId.Caption_CustomPropertyRecordedDate": "Recorded date",
  "XtraRichEditStringId.Caption_CustomPropertyReference": "Reference",
  "XtraRichEditStringId.Caption_CustomPropertySource": "Source",
  "XtraRichEditStringId.Caption_CustomPropertyStatus": "Status",
  "XtraRichEditStringId.Caption_CustomPropertyTelephoneNumber": "Telephone number",
  "XtraRichEditStringId.Caption_CustomPropertyTypeBoolean": "Yes or no",
  "XtraRichEditStringId.Caption_CustomPropertyTypeDateTime": "Date",
  "XtraRichEditStringId.Caption_CustomPropertyTypeNumber": "شماره",
  "XtraRichEditStringId.Caption_CustomPropertyTypeText": "متن",
  "XtraRichEditStringId.Caption_CustomPropertyTypist": "Typist",
  "XtraRichEditStringId.Caption_CustomPropertyValue": "مقدار",
  "XtraRichEditStringId.Caption_CustomPropertyYes": "بله",
  "XtraRichEditStringId.Caption_EmptyParentStyle": "(خواص اساسی)",
  "XtraRichEditStringId.Caption_EvenPageFooter": "پاورقی صفحه فرد",
  "XtraRichEditStringId.Caption_EvenPageHeader": "عنوان صفحه زوج",
  "XtraRichEditStringId.Caption_FillInForms": "Filling in Forms",
  "XtraRichEditStringId.Caption_FirstLineIndentHanging": "معلق",
  "XtraRichEditStringId.Caption_FirstLineIndentIndented": "خط اول",
  "XtraRichEditStringId.Caption_FirstLineIndentNone": "(خالی)",
  "XtraRichEditStringId.Caption_FirstPageFooter": "صفحه اول پاورقی",
  "XtraRichEditStringId.Caption_FirstPageHeader": "عنوان اولین صفحه",
  "XtraRichEditStringId.Caption_FollowingParagraphText": "پاراگراف بعدی",
  "XtraRichEditStringId.Caption_GroupDocumentChanges": "Changes",
  "XtraRichEditStringId.Caption_GroupNotes": "Footnotes",
  "XtraRichEditStringId.Caption_GroupTableAlignment": "چیدمان",
  "XtraRichEditStringId.Caption_GroupTableCellSize": "اندازه سلول",
  "XtraRichEditStringId.Caption_GroupTableDrawBorders": "حاشیه ها & & سایه ها",
  "XtraRichEditStringId.Caption_GroupTableMerge": "ادغام",
  "XtraRichEditStringId.Caption_GroupTableRowsAndColumns": "ردیف & & ستون",
  "XtraRichEditStringId.Caption_GroupTableStyleOptions": "گزینه های سبک جدول",
  "XtraRichEditStringId.Caption_GroupTableStyles": "سبکهای جدول",
  "XtraRichEditStringId.Caption_GroupTableTable": "جدول",
  "XtraRichEditStringId.Caption_Heading": "سرفصل",
  "XtraRichEditStringId.Caption_HeightTypeExact": "دقیقا",
  "XtraRichEditStringId.Caption_HeightTypeMinimum": "حداقل",
  "XtraRichEditStringId.Caption_LineSpacingAtLeast": "حداقل",
  "XtraRichEditStringId.Caption_LineSpacingDouble": "دو",
  "XtraRichEditStringId.Caption_LineSpacingExactly": "دقیقا",
  "XtraRichEditStringId.Caption_LineSpacingMultiple": "چند",
  "XtraRichEditStringId.Caption_LineSpacingSesquialteral": "خطوط 1.5",
  "XtraRichEditStringId.Caption_LineSpacingSingle": "تک",
  "XtraRichEditStringId.Caption_MainDocumentComments": "Main document comments",
  "XtraRichEditStringId.Caption_NoColor": "بدون رنگ",
  "XtraRichEditStringId.Caption_NoMarkup": "No Markup",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountFourColumn": "4 column",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountMatchSectionLayout": "Match section layout",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountOneColumn": "1 column",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountThreeColumn": "3 column",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountTwoColumn": "2 column",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeContinuous": "مستمر",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeNewPage": "Restart each page",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeNewSection": "Restart each section",
  "XtraRichEditStringId.Caption_NotePositionBelowText": "Below text",
  "XtraRichEditStringId.Caption_NotePositionBottomOfPage": "Bottom of page",
  "XtraRichEditStringId.Caption_NotePositionEndOfDocument": "End of document",
  "XtraRichEditStringId.Caption_NotePositionEndOfSection": "End of section",
  "XtraRichEditStringId.Caption_NumberingListBoxNone": "هیچکدام",
  "XtraRichEditStringId.Caption_OddPageFooter": "پاورقی صفحه فرد",
  "XtraRichEditStringId.Caption_OddPageHeader": "عنوان صفحه فرد",
  "XtraRichEditStringId.Caption_OriginalMarkup": "Original",
  "XtraRichEditStringId.Caption_OutlineLevel1": "سطح 1",
  "XtraRichEditStringId.Caption_OutlineLevel2": "سطح 2",
  "XtraRichEditStringId.Caption_OutlineLevel3": "سطح 3",
  "XtraRichEditStringId.Caption_OutlineLevel4": "سطح 4",
  "XtraRichEditStringId.Caption_OutlineLevel5": "سطح 5",
  "XtraRichEditStringId.Caption_OutlineLevel6": "سطح 6",
  "XtraRichEditStringId.Caption_OutlineLevel7": "سطح 7",
  "XtraRichEditStringId.Caption_OutlineLevel8": "سطح 8",
  "XtraRichEditStringId.Caption_OutlineLevel9": "سطح 9",
  "XtraRichEditStringId.Caption_OutlineLevelBody": "محتوای متن",
  "XtraRichEditStringId.Caption_PageBreak": "Page Break",
  "XtraRichEditStringId.Caption_PageCategoryTableTools": "ابزارهای جدول",
  "XtraRichEditStringId.Caption_PageFooter": "پاورقی",
  "XtraRichEditStringId.Caption_PageHeader": "عنوان",
  "XtraRichEditStringId.Caption_PageSetupSectionDirectionLeftToRight": "Left-to-right",
  "XtraRichEditStringId.Caption_PageSetupSectionDirectionRightToLeft": "Right-to-left",
  "XtraRichEditStringId.Caption_PageSetupSectionStartColumn": "ستون جدید",
  "XtraRichEditStringId.Caption_PageSetupSectionStartContinuous": "ادامه",
  "XtraRichEditStringId.Caption_PageSetupSectionStartEvenPage": "صفحات زوج",
  "XtraRichEditStringId.Caption_PageSetupSectionStartNextPage": "صفحه جدید",
  "XtraRichEditStringId.Caption_PageSetupSectionStartOddPage": "صفحات فرد",
  "XtraRichEditStringId.Caption_PageTableDesign": "طراحی",
  "XtraRichEditStringId.Caption_PageTableLayout": "طرح كلي",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Center": "مرکز",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Distribute": "Distributed",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Justify": "هم تراز كردن",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyHigh": "Justify High",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyLow": "Justify Low",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyMedium": "Justify Medium",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Left": "چپ",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Right": "راست",
  "XtraRichEditStringId.Caption_ParagraphAlignment_ThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_Hanging": "معلق",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_Indented": "فاصله دار",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_None": "هیچکدام",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_AtLeast": "حداقل",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Double": "دو",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Exactly": "دقیقا",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Multiple": "چند",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Sesquialteral": "آهک",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Single": "تک",
  "XtraRichEditStringId.Caption_PreviousParagraphText": "Previous Paragraph ",
  "XtraRichEditStringId.Caption_Readonly": "No changes (Read only)",
  "XtraRichEditStringId.Caption_SameAsPrevious": "همان قبلی",
  "XtraRichEditStringId.Caption_SectionBreak": "Section Break",
  "XtraRichEditStringId.Caption_SectionBreakTypeColumn": "ستون",
  "XtraRichEditStringId.Caption_SectionBreakTypeContinuous": "مستمر",
  "XtraRichEditStringId.Caption_SectionBreakTypeEvenPage": "Even Page",
  "XtraRichEditStringId.Caption_SectionBreakTypeNextPage": "صفحه بعدی",
  "XtraRichEditStringId.Caption_SectionBreakTypeOddPage": "Odd Page",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyThisPointForward": "این نقطه به جلو",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToCurrentSection": "قسمت کنونی",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToSelectedSections": "بخش های انتخاب شده",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToWholeDocument": "کل سند",
  "XtraRichEditStringId.Caption_SimpleMarkup": "Simple Markup",
  "XtraRichEditStringId.Caption_TrackedChanges": "Tracked Changes",
  "XtraRichEditStringId.Caption_WatermarkApplyToCurrentSection": "Current section",
  "XtraRichEditStringId.Caption_WatermarkApplyToWholeDocument": "Whole document",
  "XtraRichEditStringId.Caption_WatermarkPictureExist": "Existing watermark",
  "XtraRichEditStringId.Caption_WatermarkFontSizeAuto": "خودکار",
  "XtraRichEditStringId.Caption_WatermarkPictureScale100p": "100%",
  "XtraRichEditStringId.Caption_WatermarkPictureScale150p": "150%",
  "XtraRichEditStringId.Caption_WatermarkPictureScale200p": "200%",
  "XtraRichEditStringId.Caption_WatermarkPictureScale500p": "500%",
  "XtraRichEditStringId.Caption_WatermarkPictureScale50p": "50%",
  "XtraRichEditStringId.Caption_WatermarkPictureScaleAuto": "خودکار",
  "XtraRichEditStringId.Caption_WatermarkTextAsap": "ASAP",
  "XtraRichEditStringId.Caption_WatermarkTextConfidential": "CONFIDENTIAL",
  "XtraRichEditStringId.Caption_WatermarkTextCopy": "COPY",
  "XtraRichEditStringId.Caption_WatermarkTextDoNotCopy": "DO NOT COPY",
  "XtraRichEditStringId.Caption_WatermarkTextDraft": "DRAFT",
  "XtraRichEditStringId.Caption_WatermarkTextOriginal": "ORIGINAL",
  "XtraRichEditStringId.Caption_WatermarkTextPersonal": "PERSONAL",
  "XtraRichEditStringId.Caption_WatermarkTextSample": "SAMPLE",
  "XtraRichEditStringId.Caption_WatermarkTextTopSecret": "TOP SECRET",
  "XtraRichEditStringId.Caption_WatermarkTextUrgent": "URGENT",
  "XtraRichEditStringId.ClearFormatting": "حذف قالب",
  "XtraRichEditStringId.ColorAuto": "خودکار",
  "XtraRichEditStringId.ColumnsSetupForm_InvalidColumnCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.Comment": "Comment [{0} {1}]",
  "XtraRichEditStringId.CommentToolTipHeader": "by {0}",
  "XtraRichEditStringId.CommentToolTipHeaderWithDate": "{0} from {1}",
  "XtraRichEditStringId.DefaultDocumentName": "سند",
  "XtraRichEditStringId.DefaultStyleName_annotationreference": "مرجع یادداشت",
  "XtraRichEditStringId.DefaultStyleName_annotationsubject": "عنوان یادداشت",
  "XtraRichEditStringId.DefaultStyleName_annotationtext": "متن یادداشت",
  "XtraRichEditStringId.DefaultStyleName_ArticleSection": "Article / Section",
  "XtraRichEditStringId.DefaultStyleName_BalloonText": "متن بالن",
  "XtraRichEditStringId.DefaultStyleName_Bibliography": "Bibliography",
  "XtraRichEditStringId.DefaultStyleName_BlockText": "متن قطعه",
  "XtraRichEditStringId.DefaultStyleName_BodyText": "بدنه متن",
  "XtraRichEditStringId.DefaultStyleName_BodyText2": "بدنه متن 2",
  "XtraRichEditStringId.DefaultStyleName_BodyText3": "بدنه متن 3",
  "XtraRichEditStringId.DefaultStyleName_BodyTextFirstIndent": "اولین تورفتگی بدنه متن",
  "XtraRichEditStringId.DefaultStyleName_BodyTextFirstIndent2": "اولین تورفتگی بدنه متن 2",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent": "Body Text Indent",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent2": "تورفتگی بدنه متن  2",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent3": "تورفتگی بدنه متن  3",
  "XtraRichEditStringId.DefaultStyleName_BookTitle": "Book Title",
  "XtraRichEditStringId.DefaultStyleName_caption": "عنوان",
  "XtraRichEditStringId.DefaultStyleName_Closing": "در حال بستن",
  "XtraRichEditStringId.DefaultStyleName_ColorfulGrid": "Colorful Grid",
  "XtraRichEditStringId.DefaultStyleName_ColorfulGridAccent1": "Colorful Grid - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ColorfulGridAccent2": "Colorful Grid - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ColorfulGridAccent3": "Colorful Grid - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ColorfulGridAccent4": "Colorful Grid - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ColorfulGridAccent5": "Colorful Grid - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ColorfulGridAccent6": "Colorful Grid - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ColorfulList": "Colorful List",
  "XtraRichEditStringId.DefaultStyleName_ColorfulListAccent1": "Colorful List - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ColorfulListAccent2": "Colorful List - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ColorfulListAccent3": "Colorful List - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ColorfulListAccent4": "Colorful List - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ColorfulListAccent5": "Colorful List - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ColorfulListAccent6": "Colorful List - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ColorfulShading": "Colorful Shading",
  "XtraRichEditStringId.DefaultStyleName_ColorfulShadingAccent1": "Colorful Shading - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ColorfulShadingAccent2": "Colorful Shading - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ColorfulShadingAccent3": "Colorful Shading - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ColorfulShadingAccent4": "Colorful Shading - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ColorfulShadingAccent5": "Colorful Shading - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ColorfulShadingAccent6": "Colorful Shading - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_CommentReference": "Comment Reference",
  "XtraRichEditStringId.DefaultStyleName_CommentSubject": "Comment Subject",
  "XtraRichEditStringId.DefaultStyleName_CommentText": "Comment Text",
  "XtraRichEditStringId.DefaultStyleName_DarkList": "Dark List",
  "XtraRichEditStringId.DefaultStyleName_DarkListAccent1": "Dark List - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_DarkListAccent2": "Dark List - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_DarkListAccent3": "Dark List - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_DarkListAccent4": "Dark List - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_DarkListAccent5": "Dark List - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_DarkListAccent6": "Dark List - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_Date": "تاریخ",
  "XtraRichEditStringId.DefaultStyleName_DefaultParagraphFont": "نوع خط پاراگراف پیش فرض",
  "XtraRichEditStringId.DefaultStyleName_DocumentMap": " نقشه سند",
  "XtraRichEditStringId.DefaultStyleName_EmailSignature": "امضای نامه الکترونیکی",
  "XtraRichEditStringId.DefaultStyleName_Emphasis": "Emphasis",
  "XtraRichEditStringId.DefaultStyleName_endnotereference": "مرجع یادداشت پایانی",
  "XtraRichEditStringId.DefaultStyleName_endnotetext": "متن یادداشت پایانی",
  "XtraRichEditStringId.DefaultStyleName_envelopeaddress": "نشانی پاکت",
  "XtraRichEditStringId.DefaultStyleName_envelopereturn": "بازگشت پاکت",
  "XtraRichEditStringId.DefaultStyleName_FollowedHyperlink": "FollowedHyperlink",
  "XtraRichEditStringId.DefaultStyleName_footer": "پاورقی",
  "XtraRichEditStringId.DefaultStyleName_footnotereference": "مرجع پاورقی",
  "XtraRichEditStringId.DefaultStyleName_footnotetext": "متن پاورقی",
  "XtraRichEditStringId.DefaultStyleName_GridTable1Light": "Grid Table 1 Light",
  "XtraRichEditStringId.DefaultStyleName_GridTable1LightAccent1": "Grid Table 1 Light - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_GridTable1LightAccent2": "Grid Table 1 Light - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable1LightAccent3": "Grid Table 1 Light - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable1LightAccent4": "Grid Table 1 Light - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable1LightAccent5": "Grid Table 1 Light - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_GridTable1LightAccent6": "Grid Table 1 Light - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_GridTable2": "Grid Table 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable2Accent1": "Grid Table 2 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_GridTable2Accent2": "Grid Table 2 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable2Accent3": "Grid Table 2 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable2Accent4": "Grid Table 2 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable2Accent5": "Grid Table 2 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_GridTable2Accent6": "Grid Table 2 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_GridTable3": "Grid Table 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable3Accent1": "Grid Table 3 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_GridTable3Accent2": "Grid Table 3 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable3Accent3": "Grid Table 3 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable3Accent4": "Grid Table 3 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable3Accent5": "Grid Table 3 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_GridTable3Accent6": "Grid Table 3 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_GridTable4": "Grid Table 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable4Accent1": "Grid Table 4 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_GridTable4Accent2": "Grid Table 4 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable4Accent3": "Grid Table 4 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable4Accent4": "Grid Table 4 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable4Accent5": "Grid Table 4 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_GridTable4Accent6": "Grid Table 4 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_GridTable5Dark": "Grid Table 5 Dark",
  "XtraRichEditStringId.DefaultStyleName_GridTable5DarkAccent1": "Grid Table 5 Dark - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_GridTable5DarkAccent2": "Grid Table 5 Dark - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable5DarkAccent3": "Grid Table 5 Dark - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable5DarkAccent4": "Grid Table 5 Dark - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable5DarkAccent5": "Grid Table 5 Dark - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_GridTable5DarkAccent6": "Grid Table 5 Dark - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_GridTable6Colorful": "Grid Table 6 Colorful",
  "XtraRichEditStringId.DefaultStyleName_GridTable6ColorfulAccent1": "Grid Table 6 Colorful - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_GridTable6ColorfulAccent2": "Grid Table 6 Colorful - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable6ColorfulAccent3": "Grid Table 6 Colorful - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable6ColorfulAccent4": "Grid Table 6 Colorful - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable6ColorfulAccent5": "Grid Table 6 Colorful - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_GridTable6ColorfulAccent6": "Grid Table 6 Colorful - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_GridTable7Colorful": "Grid Table 7 Colorful",
  "XtraRichEditStringId.DefaultStyleName_GridTable7ColorfulAccent1": "Grid Table 7 Colorful - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_GridTable7ColorfulAccent2": "Grid Table 7 Colorful - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable7ColorfulAccent3": "Grid Table 7 Colorful - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable7ColorfulAccent4": "Grid Table 7 Colorful - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable7ColorfulAccent5": "Grid Table 7 Colorful - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_GridTable7ColorfulAccent6": "Grid Table 7 Colorful - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_Hashtag": "Hashtag",
  "XtraRichEditStringId.DefaultStyleName_header": "عنوان",
  "XtraRichEditStringId.DefaultStyleName_heading1": "سرفصل 1",
  "XtraRichEditStringId.DefaultStyleName_heading2": "سرفصل 2",
  "XtraRichEditStringId.DefaultStyleName_heading3": "سرفصل 3",
  "XtraRichEditStringId.DefaultStyleName_heading4": "سرفصل 4",
  "XtraRichEditStringId.DefaultStyleName_heading5": "سرفصل 5",
  "XtraRichEditStringId.DefaultStyleName_heading6": "سرفصل 6",
  "XtraRichEditStringId.DefaultStyleName_heading7": "سرفصل 7",
  "XtraRichEditStringId.DefaultStyleName_heading8": "سرفصل 8",
  "XtraRichEditStringId.DefaultStyleName_heading9": "سرفصل 9",
  "XtraRichEditStringId.DefaultStyleName_HTMLAcronym": "HTML مخفف",
  "XtraRichEditStringId.DefaultStyleName_HTMLAddress": "HTML آدرس",
  "XtraRichEditStringId.DefaultStyleName_HTMLBottomofForm": "HTML پایین فرم",
  "XtraRichEditStringId.DefaultStyleName_HTMLCite": "HTML استناد به",
  "XtraRichEditStringId.DefaultStyleName_HTMLCode": "HTML کد",
  "XtraRichEditStringId.DefaultStyleName_HTMLDefinition": "HTML تعریف",
  "XtraRichEditStringId.DefaultStyleName_HTMLKeyboard": "HTML صفحه کلید",
  "XtraRichEditStringId.DefaultStyleName_HTMLPreformatted": "HTML پیش قالب بندی",
  "XtraRichEditStringId.DefaultStyleName_HTMLSample": "HTML نمومه",
  "XtraRichEditStringId.DefaultStyleName_HTMLTopofForm": "HTML بالای فرم",
  "XtraRichEditStringId.DefaultStyleName_HTMLTypewriter": "HTML نوع نویسنده",
  "XtraRichEditStringId.DefaultStyleName_HTMLVariable": "HTML متغیر",
  "XtraRichEditStringId.DefaultStyleName_HyperlinkFollowed": "HyperlinkFollowed",
  "XtraRichEditStringId.DefaultStyleName_HyperlinkStrongEmphasis": "HyperlinkStrongEmphasis",
  "XtraRichEditStringId.DefaultStyleName_index1": "شاخص 1",
  "XtraRichEditStringId.DefaultStyleName_index2": "شاخص 2",
  "XtraRichEditStringId.DefaultStyleName_index3": "شاخص 3",
  "XtraRichEditStringId.DefaultStyleName_index4": "شاخص 4",
  "XtraRichEditStringId.DefaultStyleName_index5": "شاخص 5",
  "XtraRichEditStringId.DefaultStyleName_index6": "شاخص 6",
  "XtraRichEditStringId.DefaultStyleName_index7": "شاخص 7",
  "XtraRichEditStringId.DefaultStyleName_index8": "شاخص 8",
  "XtraRichEditStringId.DefaultStyleName_index9": "فهرست 9",
  "XtraRichEditStringId.DefaultStyleName_indexheading": "سرفصل شاخص",
  "XtraRichEditStringId.DefaultStyleName_IntenseEmphasis": "Intense Emphasis",
  "XtraRichEditStringId.DefaultStyleName_IntenseQuote": "Intense Quote",
  "XtraRichEditStringId.DefaultStyleName_IntenseReference": "Intense Reference",
  "XtraRichEditStringId.DefaultStyleName_LightGrid": "Light Grid",
  "XtraRichEditStringId.DefaultStyleName_LightGridAccent1": "Light Grid - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_LightGridAccent2": "Light Grid - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_LightGridAccent3": "Light Grid - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_LightGridAccent4": "Light Grid - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_LightGridAccent5": "Light Grid - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_LightGridAccent6": "Light Grid - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_LightList": "Light List",
  "XtraRichEditStringId.DefaultStyleName_LightListAccent1": "Light List - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_LightListAccent2": "Light List - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_LightListAccent3": "Light List - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_LightListAccent4": "Light List - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_LightListAccent5": "Light List - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_LightListAccent6": "Light List - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_LightShading": "Light Shading",
  "XtraRichEditStringId.DefaultStyleName_LightShadingAccent1": "Light Shading - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_LightShadingAccent2": "Light Shading - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_LightShadingAccent3": "Light Shading - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_LightShadingAccent4": "Light Shading - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_LightShadingAccent5": "Light Shading - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_LightShadingAccent6": "Light Shading - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_linenumber": "شماره خط",
  "XtraRichEditStringId.DefaultStyleName_List": "لیست",
  "XtraRichEditStringId.DefaultStyleName_List2": "لیست 2",
  "XtraRichEditStringId.DefaultStyleName_List3": "لیست 3",
  "XtraRichEditStringId.DefaultStyleName_List4": "لیست 4",
  "XtraRichEditStringId.DefaultStyleName_List5": "لیست 5",
  "XtraRichEditStringId.DefaultStyleName_ListBullet": "لیست گلوله ای",
  "XtraRichEditStringId.DefaultStyleName_ListBullet2": "List Bullet 2",
  "XtraRichEditStringId.DefaultStyleName_ListBullet3": "لیست گلوله ای 3",
  "XtraRichEditStringId.DefaultStyleName_ListBullet4": "لیست گلوله ای 4",
  "XtraRichEditStringId.DefaultStyleName_ListBullet5": "لیست گلوله ای 5",
  "XtraRichEditStringId.DefaultStyleName_ListContinue": "ادامه لیست",
  "XtraRichEditStringId.DefaultStyleName_ListContinue2": "ادامه لیست 2",
  "XtraRichEditStringId.DefaultStyleName_ListContinue3": "ادامه لیست 3",
  "XtraRichEditStringId.DefaultStyleName_ListContinue4": "ادامه لیست 4",
  "XtraRichEditStringId.DefaultStyleName_ListContinue5": "ادامه لیست 5",
  "XtraRichEditStringId.DefaultStyleName_ListNumber": "لیست شماره",
  "XtraRichEditStringId.DefaultStyleName_ListNumber2": "لیست شماره 2",
  "XtraRichEditStringId.DefaultStyleName_ListNumber3": "لیست شماره 3",
  "XtraRichEditStringId.DefaultStyleName_ListNumber4": "لیست شماره 4",
  "XtraRichEditStringId.DefaultStyleName_ListNumber5": "لیست شماره 5",
  "XtraRichEditStringId.DefaultStyleName_ListParagraph": "List Paragraph",
  "XtraRichEditStringId.DefaultStyleName_ListTable1Light": "List Table 1 Light",
  "XtraRichEditStringId.DefaultStyleName_ListTable1LightAccent1": "List Table 1 Light - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ListTable1LightAccent2": "List Table 1 Light - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable1LightAccent3": "List Table 1 Light - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable1LightAccent4": "List Table 1 Light - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable1LightAccent5": "List Table 1 Light - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ListTable1LightAccent6": "List Table 1 Light - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ListTable2": "List Table 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable2Accent1": "List Table 2 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ListTable2Accent2": "List Table 2 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable2Accent3": "List Table 2 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable2Accent4": "List Table 2 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable2Accent5": "List Table 2 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ListTable2Accent6": "List Table 2 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ListTable3": "List Table 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable3Accent1": "List Table 3 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ListTable3Accent2": "List Table 3 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable3Accent3": "List Table 3 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable3Accent4": "List Table 3 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable3Accent5": "List Table 3 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ListTable3Accent6": "List Table 3 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ListTable4": "List Table 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable4Accent1": "List Table 4 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ListTable4Accent2": "List Table 4 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable4Accent3": "List Table 4 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable4Accent4": "List Table 4 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable4Accent5": "List Table 4 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ListTable4Accent6": "List Table 4 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ListTable5Dark": "List Table 5 Dark",
  "XtraRichEditStringId.DefaultStyleName_ListTable5DarkAccent1": "List Table 5 Dark - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ListTable5DarkAccent2": "List Table 5 Dark - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable5DarkAccent3": "List Table 5 Dark - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable5DarkAccent4": "List Table 5 Dark - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable5DarkAccent5": "List Table 5 Dark - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ListTable5DarkAccent6": "List Table 5 Dark - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ListTable6Colorful": "List Table 6 Colorful",
  "XtraRichEditStringId.DefaultStyleName_ListTable6ColorfulAccent1": "List Table 6 Colorful - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ListTable6ColorfulAccent2": "List Table 6 Colorful - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable6ColorfulAccent3": "List Table 6 Colorful - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable6ColorfulAccent4": "List Table 6 Colorful - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable6ColorfulAccent5": "List Table 6 Colorful - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ListTable6ColorfulAccent6": "List Table 6 Colorful - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ListTable7Colorful": "List Table 7 Colorful",
  "XtraRichEditStringId.DefaultStyleName_ListTable7ColorfulAccent1": "List Table 7 Colorful - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ListTable7ColorfulAccent2": "List Table 7 Colorful - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable7ColorfulAccent3": "List Table 7 Colorful - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable7ColorfulAccent4": "List Table 7 Colorful - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable7ColorfulAccent5": "List Table 7 Colorful - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ListTable7ColorfulAccent6": "List Table 7 Colorful - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_MacroText": "Macro Text",
  "XtraRichEditStringId.DefaultStyleName_macrotoaheading": "ماکرو به سرفصل",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid1": "Medium Grid 1",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid1Accent1": "Medium Grid 1 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid1Accent2": "Medium Grid 1 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid1Accent3": "Medium Grid 1 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid1Accent4": "Medium Grid 1 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid1Accent5": "Medium Grid 1 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid1Accent6": "Medium Grid 1 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid2": "Medium Grid 2",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid2Accent1": "Medium Grid 2 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid2Accent2": "Medium Grid 2 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid2Accent3": "Medium Grid 2 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid2Accent4": "Medium Grid 2 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid2Accent5": "Medium Grid 2 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid2Accent6": "Medium Grid 2 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid3": "Medium Grid 3",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid3Accent1": "Medium Grid 3 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid3Accent2": "Medium Grid 3 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid3Accent3": "Medium Grid 3 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid3Accent4": "Medium Grid 3 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid3Accent5": "Medium Grid 3 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid3Accent6": "Medium Grid 3 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_MediumList1": "Medium List 1",
  "XtraRichEditStringId.DefaultStyleName_MediumList1Accent1": "Medium List 1 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_MediumList1Accent2": "Medium List 1 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_MediumList1Accent3": "Medium List 1 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_MediumList1Accent4": "Medium List 1 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_MediumList1Accent5": "Medium List 1 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_MediumList1Accent6": "Medium List 1 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_MediumList2": "Medium List 2",
  "XtraRichEditStringId.DefaultStyleName_MediumList2Accent1": "Medium List 2 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_MediumList2Accent2": "Medium List 2 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_MediumList2Accent3": "Medium List 2 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_MediumList2Accent4": "Medium List 2 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_MediumList2Accent5": "Medium List 2 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_MediumList2Accent6": "Medium List 2 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_MediumShading1": "Medium Shading 1",
  "XtraRichEditStringId.DefaultStyleName_MediumShading1Accent1": "Medium Shading 1 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_MediumShading1Accent2": "Medium Shading 1 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_MediumShading1Accent3": "Medium Shading 1 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_MediumShading1Accent4": "Medium Shading 1 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_MediumShading1Accent5": "Medium Shading 1 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_MediumShading1Accent6": "Medium Shading 1 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_MediumShading2": "Medium Shading 2",
  "XtraRichEditStringId.DefaultStyleName_MediumShading2Accent1": "Medium Shading 2 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_MediumShading2Accent2": "Medium Shading 2 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_MediumShading2Accent3": "Medium Shading 2 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_MediumShading2Accent4": "Medium Shading 2 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_MediumShading2Accent5": "Medium Shading 2 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_MediumShading2Accent6": "Medium Shading 2 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_Mention": "Mention",
  "XtraRichEditStringId.DefaultStyleName_MessageHeader": "عنوان پیام",
  "XtraRichEditStringId.DefaultStyleName_NoList": "بدون لیست",
  "XtraRichEditStringId.DefaultStyleName_Normal": "عادی",
  "XtraRichEditStringId.DefaultStyleName_NormalIndent": "تورفتگی عادی",
  "XtraRichEditStringId.DefaultStyleName_NormalTable": "جدول عادی",
  "XtraRichEditStringId.DefaultStyleName_NormalWeb": "عادی (وب)ا",
  "XtraRichEditStringId.DefaultStyleName_NoSpacing": "No Spacing",
  "XtraRichEditStringId.DefaultStyleName_NoteHeading": "متن سرفصل",
  "XtraRichEditStringId.DefaultStyleName_OutlineList1": "طرح لیست 1",
  "XtraRichEditStringId.DefaultStyleName_OutlineList2": "طرح لیست 2",
  "XtraRichEditStringId.DefaultStyleName_OutlineList3": "لیست طرح 3",
  "XtraRichEditStringId.DefaultStyleName_pagenumber": "شماره صفحه",
  "XtraRichEditStringId.DefaultStyleName_PlaceholderText": "Placeholder Text",
  "XtraRichEditStringId.DefaultStyleName_PlainTable1": "Plain Table 1",
  "XtraRichEditStringId.DefaultStyleName_PlainTable2": "Plain Table 2",
  "XtraRichEditStringId.DefaultStyleName_PlainTable3": "Plain Table 3",
  "XtraRichEditStringId.DefaultStyleName_PlainTable4": "Plain Table 4",
  "XtraRichEditStringId.DefaultStyleName_PlainTable5": "Plain Table 5",
  "XtraRichEditStringId.DefaultStyleName_PlainText": "متن ساده",
  "XtraRichEditStringId.DefaultStyleName_Quote": "Quote",
  "XtraRichEditStringId.DefaultStyleName_Revision": "Revision",
  "XtraRichEditStringId.DefaultStyleName_Salutation": "تهنیت",
  "XtraRichEditStringId.DefaultStyleName_Signature": "امضا",
  "XtraRichEditStringId.DefaultStyleName_SmartHyperlink": "Smart Hyperlink",
  "XtraRichEditStringId.DefaultStyleName_SmartLink": "SmartLink",
  "XtraRichEditStringId.DefaultStyleName_Strong": "Strong",
  "XtraRichEditStringId.DefaultStyleName_Subtitle": "زیرنویس",
  "XtraRichEditStringId.DefaultStyleName_SubtleEmphasis": "Subtle Emphasis",
  "XtraRichEditStringId.DefaultStyleName_SubtleReference": "Subtle Reference",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects1": "جلوه 1 جدول سه بعدی",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects2": "جلوه 2 جدول سه بعدی",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects3": "جلوه 3 جدول سه بعدی",
  "XtraRichEditStringId.DefaultStyleName_TableClassic1": "جدول کلاسیک 1",
  "XtraRichEditStringId.DefaultStyleName_TableClassic2": "جدول کلاسیک 2",
  "XtraRichEditStringId.DefaultStyleName_TableClassic3": "جدول کلاسیک 3",
  "XtraRichEditStringId.DefaultStyleName_TableClassic4": "جدول کلاسیک 4",
  "XtraRichEditStringId.DefaultStyleName_TableColorful1": "جدول رنگارنگ 1",
  "XtraRichEditStringId.DefaultStyleName_TableColorful2": "جدول رنگارنگ 2",
  "XtraRichEditStringId.DefaultStyleName_TableColorful3": "جدول رنگارنگ 3",
  "XtraRichEditStringId.DefaultStyleName_TableColumns1": "ستون های جدول 1",
  "XtraRichEditStringId.DefaultStyleName_TableColumns2": "ستون های جدول 2",
  "XtraRichEditStringId.DefaultStyleName_TableColumns3": "ستون های جدول 3",
  "XtraRichEditStringId.DefaultStyleName_TableColumns4": "ستون های جدول 4",
  "XtraRichEditStringId.DefaultStyleName_TableColumns5": "ستون های جدول 5",
  "XtraRichEditStringId.DefaultStyleName_TableContemporary": "جدول معاصر",
  "XtraRichEditStringId.DefaultStyleName_TableElegant": "جدول ظریف",
  "XtraRichEditStringId.DefaultStyleName_TableGrid": "خطوط شطرنجی جدول",
  "XtraRichEditStringId.DefaultStyleName_TableGrid1": "خطوط شطرنجی جدول 1",
  "XtraRichEditStringId.DefaultStyleName_TableGrid2": "خطوط شطرنجی جدول 2",
  "XtraRichEditStringId.DefaultStyleName_TableGrid3": "خطوط شطرنجی جدول 3",
  "XtraRichEditStringId.DefaultStyleName_TableGrid4": "خطوط شطرنجی جدول 4",
  "XtraRichEditStringId.DefaultStyleName_TableGrid5": "خطوط شطرنجی جدول 5",
  "XtraRichEditStringId.DefaultStyleName_TableGrid6": "خطوط شطرنجی جدول 6",
  "XtraRichEditStringId.DefaultStyleName_TableGrid7": "خطوط شطرنجی جدول 7",
  "XtraRichEditStringId.DefaultStyleName_TableGrid8": "خطوط شطرنجی جدول 8",
  "XtraRichEditStringId.DefaultStyleName_TableGridLight": "Table Grid Light",
  "XtraRichEditStringId.DefaultStyleName_TableList1": "لیست جدول 1",
  "XtraRichEditStringId.DefaultStyleName_TableList2": "جدول لیست 2",
  "XtraRichEditStringId.DefaultStyleName_TableList3": "لیست جدول 3",
  "XtraRichEditStringId.DefaultStyleName_TableList4": "لیست جدول 4",
  "XtraRichEditStringId.DefaultStyleName_TableList5": "لیست جدول 5",
  "XtraRichEditStringId.DefaultStyleName_TableList6": "لیست جدول 6",
  "XtraRichEditStringId.DefaultStyleName_TableList7": "لیست جدول 7",
  "XtraRichEditStringId.DefaultStyleName_TableList8": "لیست جدول 8",
  "XtraRichEditStringId.DefaultStyleName_TableNormal": "Table Normal",
  "XtraRichEditStringId.DefaultStyleName_tableofauthorities": "جدول اختیارات",
  "XtraRichEditStringId.DefaultStyleName_tableoffigures": "جدول اشکال",
  "XtraRichEditStringId.DefaultStyleName_TableProfessional": "جدول حرفه ای",
  "XtraRichEditStringId.DefaultStyleName_TableSimple1": "جدول ساده 1",
  "XtraRichEditStringId.DefaultStyleName_TableSimple2": "جدول ساده 2",
  "XtraRichEditStringId.DefaultStyleName_TableSimple3": "جدول ساده 3",
  "XtraRichEditStringId.DefaultStyleName_TableSubtle1": "جدول ظریف 1",
  "XtraRichEditStringId.DefaultStyleName_TableSubtle2": "جدول ظریف 2",
  "XtraRichEditStringId.DefaultStyleName_TableTheme": "Table Theme",
  "XtraRichEditStringId.DefaultStyleName_TableWeb1": "جدول وب 1",
  "XtraRichEditStringId.DefaultStyleName_TableWeb2": "جدول وب 2",
  "XtraRichEditStringId.DefaultStyleName_TableWeb3": "جدول وب 3",
  "XtraRichEditStringId.DefaultStyleName_Title": "عنوان",
  "XtraRichEditStringId.DefaultStyleName_toaheading": "TOA Heading",
  "XtraRichEditStringId.DefaultStyleName_toc1": "فهرست مطالب 1",
  "XtraRichEditStringId.DefaultStyleName_toc2": "فهرست مطالب 2",
  "XtraRichEditStringId.DefaultStyleName_toc3": "فهرست مطالب 3",
  "XtraRichEditStringId.DefaultStyleName_toc4": "فهرست مطالب 4",
  "XtraRichEditStringId.DefaultStyleName_toc5": "فهرست مطالب 5",
  "XtraRichEditStringId.DefaultStyleName_toc6": "فهرست مطالب 6",
  "XtraRichEditStringId.DefaultStyleName_toc7": "فهرست مطالب 7",
  "XtraRichEditStringId.DefaultStyleName_toc8": "فهرست مطالب 8",
  "XtraRichEditStringId.DefaultStyleName_toc9": "فهرست مطالب 9",
  "XtraRichEditStringId.DefaultStyleName_TOCHeading": "TOC Heading",
  "XtraRichEditStringId.DefaultStyleName_UnresolvedMention": "Unresolved Mention",
  "XtraRichEditStringId.DefaultStyleName_zBottomOfForm": "z-Bottom of Form",
  "XtraRichEditStringId.DefaultStyleName_zTopOfForm": "z-Top of Form",
  "XtraRichEditStringId.DialogCaption_InsertSymbol": "نماد",
  "XtraRichEditStringId.FieldLastName": "نام خانوادگی",
  "XtraRichEditStringId.FieldMapAddress1": "آدرس 1",
  "XtraRichEditStringId.FieldMapAddress2": "آدرس 2",
  "XtraRichEditStringId.FieldMapAddress3": "آدرس 3",
  "XtraRichEditStringId.FieldMapBusinessFax": "فاکس کسب و کار",
  "XtraRichEditStringId.FieldMapBusinessPhone": "تلفن کسب و کار",
  "XtraRichEditStringId.FieldMapCity": "شهر",
  "XtraRichEditStringId.FieldMapCompany": "شرکت",
  "XtraRichEditStringId.FieldMapCountry": "کشور یا منطقه",
  "XtraRichEditStringId.FieldMapDepartment": "بخش",
  "XtraRichEditStringId.FieldMapEMailAddress": "آدرس پست الکترونیکی",
  "XtraRichEditStringId.FieldMapFirstName": "نام",
  "XtraRichEditStringId.FieldMapHomeFax": "نمابر منزل",
  "XtraRichEditStringId.FieldMapHomePhone": "تلفن منزل",
  "XtraRichEditStringId.FieldMapJobTitle": "عنوان شغلی",
  "XtraRichEditStringId.FieldMapMiddleName": "نام وسط",
  "XtraRichEditStringId.FieldMapNickName": "نام مستعار",
  "XtraRichEditStringId.FieldMapPartnerFirstName": "نام همسر/شریک",
  "XtraRichEditStringId.FieldMapPartnerLastName": "نام خانوادگی همسر/شریک",
  "XtraRichEditStringId.FieldMapPartnerMiddleName": "نام میانی همسر/شریک",
  "XtraRichEditStringId.FieldMapPartnerNickName": "نام مستعار همسر/شریک",
  "XtraRichEditStringId.FieldMapPartnerTitle": "لقب محترمانه همسر/شریک",
  "XtraRichEditStringId.FieldMapPhoneticGuideFirstName": "راهنمای آوایی برای نام",
  "XtraRichEditStringId.FieldMapPhoneticGuideLastName": "راهنمای آوایی برای نام خانوادگی",
  "XtraRichEditStringId.FieldMapPostalCode": "کد پستی",
  "XtraRichEditStringId.FieldMapState": "دولت",
  "XtraRichEditStringId.FieldMapSuffix": "پسوند",
  "XtraRichEditStringId.FieldMapTitle": "لقب",
  "XtraRichEditStringId.FieldMapUniqueId": "شناسه منحصر به فرد",
  "XtraRichEditStringId.FieldMapWebPage": "صفحه وب",
  "XtraRichEditStringId.FileFilterDescription_AllFiles": "All Files",
  "XtraRichEditStringId.FileFilterDescription_AllSupportedFiles": "همه فایل های پشتیبانی شده",
  "XtraRichEditStringId.FileFilterDescription_BitmapFiles": "تصویر نقطه ای",
  "XtraRichEditStringId.FileFilterDescription_DocFiles": "سند مایکروسافت ورد",
  "XtraRichEditStringId.FileFilterDescription_DocmFiles": "Word Macro-Enabled Document",
  "XtraRichEditStringId.FileFilterDescription_DotFiles": "Word 97-2003 Template",
  "XtraRichEditStringId.FileFilterDescription_DotmFiles": "Word Macro-Enabled Template",
  "XtraRichEditStringId.FileFilterDescription_DotxFiles": "Word Template",
  "XtraRichEditStringId.FileFilterDescription_EmfFiles": "متا فایل مایکروسافت پیشرفته",
  "XtraRichEditStringId.FileFilterDescription_ePubFiles": "نشریه الکترونیکی",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcFiles": "Word XML Document",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcMacroEnabledFiles": "Word Macro-Enabled XML Document",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcMacroEnabledTemplateFiles": "Word Macro-Enabled XML Template",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcTemplateFiles": "Word XML Template",
  "XtraRichEditStringId.FileFilterDescription_GifFiles": "مبادله گرافیک",
  "XtraRichEditStringId.FileFilterDescription_HtmlFiles": "قالب زبان نشانه گذاری ابرمتن",
  "XtraRichEditStringId.FileFilterDescription_JPEGFiles": "JPEG قالب مبادله فایل",
  "XtraRichEditStringId.FileFilterDescription_MhtFiles": "بایگانی وب، فایل تنها",
  "XtraRichEditStringId.FileFilterDescription_OpenDocumentFiles": "OpenDocument Text Document",
  "XtraRichEditStringId.FileFilterDescription_OpenXmlFiles": "Word Document",
  "XtraRichEditStringId.FileFilterDescription_PDFFiles": "قالب سند قابل حمل",
  "XtraRichEditStringId.FileFilterDescription_PNGFiles": "گرافیک قابل حمل در شبکه",
  "XtraRichEditStringId.FileFilterDescription_RtfFiles": "قالب متن غنی",
  "XtraRichEditStringId.FileFilterDescription_TextFiles": "فایل های متنی",
  "XtraRichEditStringId.FileFilterDescription_TiffFiles": "قالب عکس برچسب گذاری شده",
  "XtraRichEditStringId.FileFilterDescription_WmfFiles": "متا فایل ویندوز",
  "XtraRichEditStringId.FileFilterDescription_WordMLFiles": "XML سند",
  "XtraRichEditStringId.FileFilterDescription_XamlFiles": "Xaml Document",
  "XtraRichEditStringId.FindAndReplaceForm_AnyOneCharacterInTheSet": "هر نویسه ای در مجموعه",
  "XtraRichEditStringId.FindAndReplaceForm_AnyOneCharacterNotInTheSet": "هر نویسه ای که در مجموعه نیست",
  "XtraRichEditStringId.FindAndReplaceForm_AnySingleCharacter": "هر نویسه تکی",
  "XtraRichEditStringId.FindAndReplaceForm_BeginningOfLine": "شروع از پاراگراف",
  "XtraRichEditStringId.FindAndReplaceForm_BeginningOfWord": "شروع از واژه",
  "XtraRichEditStringId.FindAndReplaceForm_EndOfLine": "پایان پاراگراف",
  "XtraRichEditStringId.FindAndReplaceForm_EndOfWord": "پایان واژه",
  "XtraRichEditStringId.FindAndReplaceForm_EscapeSpecialCharacter": "فرار از نویسه مخصوص",
  "XtraRichEditStringId.FindAndReplaceForm_Integer": "عدد صحیح",
  "XtraRichEditStringId.FindAndReplaceForm_OneOrMore": "یک یا چند",
  "XtraRichEditStringId.FindAndReplaceForm_Or": "یا",
  "XtraRichEditStringId.FindAndReplaceForm_SpaceOrTab": "فاصله یا تب",
  "XtraRichEditStringId.FindAndReplaceForm_TagExpression": "برچسب عبارت ",
  "XtraRichEditStringId.FindAndReplaceForm_TaggedExpression": "عبارت برچسب شده {0}ا",
  "XtraRichEditStringId.FindAndReplaceForm_WordCharacter": "نویسه واژه",
  "XtraRichEditStringId.FindAndReplaceForm_ZeroOrMore": "صفر یا بیشتر",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentCenter": "محور",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentLeft": "چپ",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentRight": "راست",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeCharacter": "نویسه",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeColumn": "ستون",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeInsideMargin": "حاشیه داخلی",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeLeftMargin": "حاشیه چپ",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeMargin": "حاشیه",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeOutsideMargin": "حاشیه بیرونی",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypePage": "صفحه",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeRightMargin": "حاشیه راست",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentBottom": "پایین",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentCenter": "مرکز",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentInside": "داخل",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentOutside": "خارج از",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentTop": "بالا",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeBottomMargin": "حاشیه پایینی",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeInsideMargin": "حاشیه داخلی",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeLine": "خط",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeMargin": "حاشیه",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeOutsideMargin": "حاشیه بیرونی",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypePage": "صفحه",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeParagraph": "پاراگراف",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeTopMargin": "حاشیه بالا",
  "XtraRichEditStringId.FontStyle_Bold": "برجسته",
  "XtraRichEditStringId.FontStyle_BoldItalic": "مورب پررنگ",
  "XtraRichEditStringId.FontStyle_Italic": "مورب",
  "XtraRichEditStringId.FontStyle_Regular": "منظم",
  "XtraRichEditStringId.FontStyle_Strikeout": "خط زدن",
  "XtraRichEditStringId.FontStyle_Underline": "زير خط دار",
  "XtraRichEditStringId.HyperlinkForm_EditHyperlinkTitle": "ویرایش فراپیوند",
  "XtraRichEditStringId.HyperlinkForm_InsertHyperlinkTitle": "افزودن فرا پيوند",
  "XtraRichEditStringId.HyperlinkForm_SelectedBookmarkNone": "<None>",
  "XtraRichEditStringId.HyperlinkForm_SelectionInDocument": "انتخاب سند",
  "XtraRichEditStringId.InsertTableForm_InvalidColumnCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.InsertTableForm_InvalidRowCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.KeyName_Alt": "Alt",
  "XtraRichEditStringId.KeyName_Control": "Ctrl",
  "XtraRichEditStringId.KeyName_Shift": "Shift",
  "XtraRichEditStringId.LinkedCharacterStyleFormatString": "{0} نویسه",
  "XtraRichEditStringId.LocalizedStyleName_Hyperlink": "فراپیوند",
  "XtraRichEditStringId.LocalizedStyleName_Normal": "عادی",
  "XtraRichEditStringId.MenuCmd_Accept": "Accept",
  "XtraRichEditStringId.MenuCmd_AcceptAllChanges": "Accept All Changes",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesAndStopTracking": "Accept All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesAndStopTrackingDescription": "Accept All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesDescription": "Accept All Changes",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesShown": "Accept All Changes Shown",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesShownDescription": "Accept All Changes Shown",
  "XtraRichEditStringId.MenuCmd_AcceptAndMoveToNextRevision": "Accept and Move to Next",
  "XtraRichEditStringId.MenuCmd_AcceptAndMoveToNextRevisionDescription": "Keep this change and move one to the next one.",
  "XtraRichEditStringId.MenuCmd_AcceptCurrentRevision": "Accept This Change",
  "XtraRichEditStringId.MenuCmd_AcceptCurrentRevisionDescription": "Accept This Change",
  "XtraRichEditStringId.MenuCmd_AcceptDescription": "Click for additional options, such as accepting all the changes at once.",
  "XtraRichEditStringId.MenuCmd_AddParagraphsToTableOfContents": "افزودن متن",
  "XtraRichEditStringId.MenuCmd_AddParagraphsToTableOfContentsDescription": "متن کنونی را بعنوان یک ورودی جدول محتویات اضافه کنید",
  "XtraRichEditStringId.MenuCmd_AddSpacingAfterParagraph": "فضای خالی را &بعد از پاراگراف وارد کنید",
  "XtraRichEditStringId.MenuCmd_AddSpacingAfterParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_AddSpacingBeforeParagraph": "فضای خالی را &قبل از پاراگراف وارد کنید",
  "XtraRichEditStringId.MenuCmd_AddSpacingBeforeParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_AddWordToDictionary": "افزودن به واژه نامه",
  "XtraRichEditStringId.MenuCmd_AddWordToDictionaryDescription": "افزودن به واژه نامه",
  "XtraRichEditStringId.MenuCmd_AllAuthors": "All Authors",
  "XtraRichEditStringId.MenuCmd_BackSpaceKey": "BackSpace کلید",
  "XtraRichEditStringId.MenuCmd_BackSpaceKeyDescription": "BackSpace کلید",
  "XtraRichEditStringId.MenuCmd_Bookmark": "نشانه گذاری",
  "XtraRichEditStringId.MenuCmd_BookmarkDescription": "نشانه گذاری",
  "XtraRichEditStringId.MenuCmd_BrowserPrint": "مرورگر چاپ",
  "XtraRichEditStringId.MenuCmd_BrowserPrintDescription": "چاپ سند با قابلیت های مرورگر چاپ",
  "XtraRichEditStringId.MenuCmd_BrowserPrintPreview": "پیش نمایش مرورگر چاپ",
  "XtraRichEditStringId.MenuCmd_BrowserPrintPreviewDescription": "پیش نمایش صفحات در مرورگر قبل از چاپ",
  "XtraRichEditStringId.MenuCmd_CapitalizeEachWordTextCase": "با حروف بزرگ نوشتن هر کلمه",
  "XtraRichEditStringId.MenuCmd_CapitalizeEachWordTextCaseDescription": "با حروف بزرگ نوشتن هر کلمه",
  "XtraRichEditStringId.MenuCmd_ChangeCharacterStyle": "تغییر سبک نویسه",
  "XtraRichEditStringId.MenuCmd_ChangeCharacterStyleDescription": "تغییر سبک نویسه",
  "XtraRichEditStringId.MenuCmd_ChangeColumnCount": "ستون",
  "XtraRichEditStringId.MenuCmd_ChangeColumnCountDescription": "ستون",
  "XtraRichEditStringId.MenuCmd_ChangeColumnSize": "تغییر اندازه ستون",
  "XtraRichEditStringId.MenuCmd_ChangeColumnSizeDescription": "توضیح تغییر اندازه ستون",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemColor": "رنگ قلم",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemColorDescription": "تغییر رنگ قلم",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineStyle": "سبک خط",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineStyleDescription": "تغییر سبک خط استفاده شده برای ترسیم حاشیه ها",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineThickness": "وزن خط",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineThicknessDescription": "تغییر  پهنای خط استفاده شده برای ترسیم حاشیه ها",
  "XtraRichEditStringId.MenuCmd_ChangeDisplayForReviewMode": "Display for Review",
  "XtraRichEditStringId.MenuCmd_ChangeDisplayForReviewModeDescription": "Choose how you'd like to see changes in this document.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectAlignment": "موقعیت",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectAlignmentDescription": "موقعیت شئ منتخب در صفحه. متن به طور خودکار اطراف شی پیچیده می شود",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectFillColor": "پر کردن شکل",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectFillColorDescription": "پر کردن شکل انتخاب شده با یک رنگ یکدست",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineColor": "طرح کلی شکل",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineColorDescription": "رنگ طرح کلی شکل انتخاب شده را مشخص کنید",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineWidth": "وزن نمای کلی شکل",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineWidthDescription": "عرض طرح کلی شکل انتخاب شده را مشخص کنید",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectTextWrapType": "پیچیدن متن",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectTextWrapTypeDescription": "تغییر روش پیچیدن متن اطراف شی انتخاب شده. برای پیکربندی شکل به طوریکه همراه متن حرکت کند گزینه \"درخط با متن\" را انتخاب کنید",
  "XtraRichEditStringId.MenuCmd_ChangeFontColor": "رنگ قلم",
  "XtraRichEditStringId.MenuCmd_ChangeFontColorDescription": "تغییر رنگ قلم",
  "XtraRichEditStringId.MenuCmd_ChangeFontName": "قلم",
  "XtraRichEditStringId.MenuCmd_ChangeFontNameDescription": "تغییر چهره قلم",
  "XtraRichEditStringId.MenuCmd_ChangeFontSize": "اندازه قلم",
  "XtraRichEditStringId.MenuCmd_ChangeFontSizeDescription": "تغییر اندازه قلم",
  "XtraRichEditStringId.MenuCmd_ChangeHyphenationOptions": "Hyphenation",
  "XtraRichEditStringId.MenuCmd_ChangeHyphenationOptionsDescription": "Turn on hyphenation to create more uniform spacing and save space in your document.",
  "XtraRichEditStringId.MenuCmd_ChangeIndent": "تغییر تورفتگی",
  "XtraRichEditStringId.MenuCmd_ChangeIndentDescription": " توضیح تغییر تورفتگی",
  "XtraRichEditStringId.MenuCmd_ChangeLanguage": "زبان",
  "XtraRichEditStringId.MenuCmd_ChangeLanguageDescription": "تغییر زبان",
  "XtraRichEditStringId.MenuCmd_ChangeMistakenWord": "(بدون پیشنهادات املائی)",
  "XtraRichEditStringId.MenuCmd_ChangeMistakenWordDescription": "(بدون پیشنهادات املائی)",
  "XtraRichEditStringId.MenuCmd_ChangeNoProof": "بدون اثبات",
  "XtraRichEditStringId.MenuCmd_ChangeNoProofDescription": "تغییر بدون اثبات",
  "XtraRichEditStringId.MenuCmd_ChangePageColor": "رنگ صفحه",
  "XtraRichEditStringId.MenuCmd_ChangePageColorDescription": "انتخاب رنگ برای پس زمینه صفحه",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphBackColor": "سایه",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphBackColorDescription": "تغییر پس زمینه پاراگراف انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphFirstLineIndent": "افزایش تورفتگی اولین خط پاراگراف",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphFirstLineIndentDescription": "توضیح افزایش تورفتگی اولین خط پاراگراف",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLeftIndent": "تغییر تورفتگی چپ پاراگراف",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLeftIndentDescription": "توضیح تغییر فرورفتگی چپ پاراگراف",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLineSpacing": "خط فاصله",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLineSpacingDescription": "تغییر فاصله بین خطوط متن\n\nشما همچنین می توانید مقدار فضای اضافه شده قبل و بعد از پاراگراف را سفارشی کنید",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphStyle": "تغییر سبک پاراگراف",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphStyleDescription": "تغییر سبک پاراگراف",
  "XtraRichEditStringId.MenuCmd_ChangeSectionLineNumbering": "شماره های خط",
  "XtraRichEditStringId.MenuCmd_ChangeSectionLineNumberingDescription": "افزودن شماره خط در حاشیه کناری هر خط سند",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageMargins": "حاشیه",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageMarginsDescription": "اندازه حاشیه برای کل سند یا بخش فعلی را انتخاب کنید",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageOrientation": "جهت گیری",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageOrientationDescription": "تعویض صفحات بین طرح های تصویر و چشم انداز",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPagePaperKind": "اندازه",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPagePaperKindDescription": "انتخاب اندازه کاغذ برای قسمت کنونی",
  "XtraRichEditStringId.MenuCmd_ChangeStyle": "Quick Styles",
  "XtraRichEditStringId.MenuCmd_ChangeStyleDescription": "قالب عناوین، نقل قول ها و متن های دیگر با استفاده از گالری سبک",
  "XtraRichEditStringId.MenuCmd_ChangeTableBorders": "حاشیه",
  "XtraRichEditStringId.MenuCmd_ChangeTableBordersDescription": "حاشیه سلولهای انتخابی را سفارشی کنید",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellAlignmentPlaceholder": "تراز",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellAlignmentPlaceholderDescription": "تراز سلول انتخاب شده را سفارشی کنید",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsContentAlignment": "تراز سلول",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsContentAlignmentDescription": "تراز سلول",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellShading": "سایه",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellShadingDescription": "پس زمینه سلول های انتخابی را رنگ کنید",
  "XtraRichEditStringId.MenuCmd_ChangeTextCase": "تغییر مورد",
  "XtraRichEditStringId.MenuCmd_ChangeTextCaseDescription": "متن انتخاب شده را یه حروف بزرگ، کوچک یا حروف بزرگ رایج تغییر دهید",
  "XtraRichEditStringId.MenuCmd_CheckSpelling": "املا",
  "XtraRichEditStringId.MenuCmd_CheckSpellingDescription": "بررسی املا متن در سند",
  "XtraRichEditStringId.MenuCmd_ClearFormatting": "حذف قالب بندی",
  "XtraRichEditStringId.MenuCmd_ClearFormattingDescription": "حذف همه قالب بندی ها از متن انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ClearUndo": "حذف قبلی",
  "XtraRichEditStringId.MenuCmd_ClearUndoDescription": "حذف بافر قبلی",
  "XtraRichEditStringId.MenuCmd_ClosePageHeaderFooter": "بستن عنوان و پاورقی",
  "XtraRichEditStringId.MenuCmd_ClosePageHeaderFooterDescription": "بستن ابزارهای عنوان و پاورقی\n\nشما می توانید برای برگشت به ویرایش سند بر روی آن دوبار کلک کنید",
  "XtraRichEditStringId.MenuCmd_CollapseOrExpandFormulaBar": "سقوط یا گسترش نوار فرمول",
  "XtraRichEditStringId.MenuCmd_CollapseOrExpandFormulaBarDescription": " سقوط یا گسترش نوار فرمول\n(Ctrl + Shift + U)\n ",
  "XtraRichEditStringId.MenuCmd_Comment": "View Comments",
  "XtraRichEditStringId.MenuCmd_CommentDescription": "Choose whether or not to highlight comments in the document.",
  "XtraRichEditStringId.MenuCmd_ConvertNotesDescription": "Convert Note",
  "XtraRichEditStringId.MenuCmd_ConvertToEndnote": "Convert to Endnote",
  "XtraRichEditStringId.MenuCmd_ConvertToFootnote": "Convert to Footnote",
  "XtraRichEditStringId.MenuCmd_CopySelection": "كپي",
  "XtraRichEditStringId.MenuCmd_CopySelectionDescription": "متن انتخابی را کپی و آن را در حافظه موقت قرار دهید",
  "XtraRichEditStringId.MenuCmd_CreateBookmark": "ایجاد نشانه گذار",
  "XtraRichEditStringId.MenuCmd_CreateBookmarkDescription": "ایجاد نشانه گذار",
  "XtraRichEditStringId.MenuCmd_CreateField": "ایجاد فیلد",
  "XtraRichEditStringId.MenuCmd_CreateFieldDescription": "ایجاد فیلد",
  "XtraRichEditStringId.MenuCmd_CreateHyperlink": "ایجاد فراپیوند",
  "XtraRichEditStringId.MenuCmd_CreateHyperlinkDescription": "توضیح ایجاد فراپیوند",
  "XtraRichEditStringId.MenuCmd_CutSelection": "برش",
  "XtraRichEditStringId.MenuCmd_CutSelectionDescription": "متن انتخابی را برش داده و آن را در حافظه موقت قرار دهید",
  "XtraRichEditStringId.MenuCmd_DecreaseFontSize": "کوچک شدن قلم",
  "XtraRichEditStringId.MenuCmd_DecreaseFontSizeDescription": "Decrease the font size.",
  "XtraRichEditStringId.MenuCmd_DecrementFontSize": "کاهش اندازه قلم",
  "XtraRichEditStringId.MenuCmd_DecrementFontSizeDescription": "کاهش اندازه قلم",
  "XtraRichEditStringId.MenuCmd_DecrementIndent": "کاهش تورفتگی",
  "XtraRichEditStringId.MenuCmd_DecrementIndentDescription": " کاهش سطح تورفتگی پاراگراف",
  "XtraRichEditStringId.MenuCmd_DecrementNumerationFromParagraph": "کاهش شمارش از پاراگراف",
  "XtraRichEditStringId.MenuCmd_DecrementNumerationFromParagraphDescription": "کاهش شمارش از پاراگراف",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphLeftIndent": "کاهش تورفتگی چپ پاراگراف",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphLeftIndentDescription": " توضیح کاهش تورفتگی چپ پاراگراف",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphOutlineLevel": "کاهش سطح طرح کلی",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphOutlineLevelDescription": "کاهش سطح طرح کلی",
  "XtraRichEditStringId.MenuCmd_Delete": "حذف",
  "XtraRichEditStringId.MenuCmd_DeleteAllComments": "Delete All Comments",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsDescription": "Delete All Comments.",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsShown": "Delete All Comments Shown",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsShownDescription": "Delete All Comments Shown.",
  "XtraRichEditStringId.MenuCmd_DeleteBack": "برگشت حذف",
  "XtraRichEditStringId.MenuCmd_DeleteBackCore": "برگشت حذف هسته",
  "XtraRichEditStringId.MenuCmd_DeleteBackCoreDescription": "توضیح برگشت حذف هسته",
  "XtraRichEditStringId.MenuCmd_DeleteBackDescription": "برگشت حذف",
  "XtraRichEditStringId.MenuCmd_DeleteBookmark": "حذف نشانه",
  "XtraRichEditStringId.MenuCmd_DeleteBookmarkDescription": "حذف نشانه",
  "XtraRichEditStringId.MenuCmd_DeleteComment": "حذف",
  "XtraRichEditStringId.MenuCmd_DeleteCommentDescription": "Delete the selected comment.",
  "XtraRichEditStringId.MenuCmd_DeleteCore": "حذف هسته",
  "XtraRichEditStringId.MenuCmd_DeleteCoreDescription": "توضیح حذف هسته",
  "XtraRichEditStringId.MenuCmd_DeleteDescription": "حذف",
  "XtraRichEditStringId.MenuCmd_DeleteNumerationFromParagraph": "حذف شمارش از پاراگراف",
  "XtraRichEditStringId.MenuCmd_DeleteNumerationFromParagraphDescription": "حذف شمارش از پاراگراف",
  "XtraRichEditStringId.MenuCmd_DeleteOneComment": "Delete Comment",
  "XtraRichEditStringId.MenuCmd_DeleteOneCommentDescription": "Delete the selected comment.",
  "XtraRichEditStringId.MenuCmd_DeleteRepeatedWord": "حذف کلمه تکراری",
  "XtraRichEditStringId.MenuCmd_DeleteRepeatedWordDescription": "حذف کلمه تکراری",
  "XtraRichEditStringId.MenuCmd_DeleteTable": "حذف جدول",
  "XtraRichEditStringId.MenuCmd_DeleteTableCells": "حذف سلول ها",
  "XtraRichEditStringId.MenuCmd_DeleteTableCellsDescription": "حذف ردیف ها، ستون ها، یا سلول ها",
  "XtraRichEditStringId.MenuCmd_DeleteTableCellsMenuItem": "حذف سلول ها",
  "XtraRichEditStringId.MenuCmd_DeleteTableColumns": "حذف ستون ها",
  "XtraRichEditStringId.MenuCmd_DeleteTableColumnsDescription": "حذف ستون ها",
  "XtraRichEditStringId.MenuCmd_DeleteTableDescription": "حذف کل جدول",
  "XtraRichEditStringId.MenuCmd_DeleteTableElements": "حذف",
  "XtraRichEditStringId.MenuCmd_DeleteTableElementsDescription": " حذف ردیف ها، ستون ها، سلول ها یا کل جدول",
  "XtraRichEditStringId.MenuCmd_DeleteTableRows": "حذف ردیف ها",
  "XtraRichEditStringId.MenuCmd_DeleteTableRowsDescription": "حذف ردیف ها",
  "XtraRichEditStringId.MenuCmd_DeleteTableStyle": "حذف سبک جدول",
  "XtraRichEditStringId.MenuCmd_DeleteWatermark": "Remove Watermark",
  "XtraRichEditStringId.MenuCmd_DeleteWatermarkDescription": "Remove all watermarks from the document.",
  "XtraRichEditStringId.MenuCmd_DeleteWord": "حذف واژه",
  "XtraRichEditStringId.MenuCmd_DeleteWordBack": "برگشت حذف واژه",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackCore": "برگشت حذف واژه",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackCoreDescription": "برگشت حذف واژه",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackDescription": "برگشت حذف واژه",
  "XtraRichEditStringId.MenuCmd_DeleteWordCore": " حذف هسته واژه ",
  "XtraRichEditStringId.MenuCmd_DeleteWordCoreDescription": "توضیح  حذف هسته واژه ",
  "XtraRichEditStringId.MenuCmd_DeleteWordDescription": "حذف واژه",
  "XtraRichEditStringId.MenuCmd_DeselectAll": "عدم انتخاب همه",
  "XtraRichEditStringId.MenuCmd_DeselectAllDescription": "بازنشانی انتخاب سند",
  "XtraRichEditStringId.MenuCmd_DraftView": "مشاهده پیش نویس",
  "XtraRichEditStringId.MenuCmd_DraftViewDescription": "مشاهده پیش نویس",
  "XtraRichEditStringId.MenuCmd_EditHyperlink": "ویرایش پیوند",
  "XtraRichEditStringId.MenuCmd_EditHyperlinkDescription": "ویرایش پیوند",
  "XtraRichEditStringId.MenuCmd_EditPageFooter": "پاورقی",
  "XtraRichEditStringId.MenuCmd_EditPageFooterDescription": "ویرایش پاورقی سند\n\nمحتوای پاورقی در پایین هر صفحه چاپ شده ظاهر می شود",
  "XtraRichEditStringId.MenuCmd_EditPageHeader": "عنوان",
  "XtraRichEditStringId.MenuCmd_EditPageHeaderDescription": "ویرایش عنوان سند\n\nمحتوای عنوان در بالای هر صفحه چاپ شده ظاهر می شود",
  "XtraRichEditStringId.MenuCmd_EditTOC": "ویرایش جدول محتویات",
  "XtraRichEditStringId.MenuCmd_EncryptDocument": "Encrypt with Password",
  "XtraRichEditStringId.MenuCmd_EncryptDocumentDescription": "Password-protect this document.",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleHorizontally": "مطمئن شوید هشتک به صورت افقی قابل مشاهده است",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleHorizontallyDescription": "مطمئن شوید هشتک به صورت افقی قابل مشاهده است",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleVertically": "مطمئن شوید هشتک به صورت عمودی قابل مشاهده است",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleVerticallyDescription": "مطمئن شوید هشتک به صورت عمودی قابل مشاهده است",
  "XtraRichEditStringId.MenuCmd_EnterKey": "Enter کلید",
  "XtraRichEditStringId.MenuCmd_EnterKeyDescription": "Enter توضیح کلید",
  "XtraRichEditStringId.MenuCmd_Find": "یافتن",
  "XtraRichEditStringId.MenuCmd_FindAndSelectBackward": "یافتن و انتخاب رو به عقب",
  "XtraRichEditStringId.MenuCmd_FindAndSelectBackwardDescription": "یافتن و انتخاب رو به عقب",
  "XtraRichEditStringId.MenuCmd_FindAndSelectForward": "یافتن و انتخاب رو به جلو",
  "XtraRichEditStringId.MenuCmd_FindAndSelectForwardDescription": "یافتن و انتخاب رو به جلو",
  "XtraRichEditStringId.MenuCmd_FindDescription": "یافتن متن در سند",
  "XtraRichEditStringId.MenuCmd_FindNext": "یافتن بعدی",
  "XtraRichEditStringId.MenuCmd_FindNextDescription": "تکرار آخرین جستجوی رو به جلو",
  "XtraRichEditStringId.MenuCmd_FindPrev": "یافتن قبلی",
  "XtraRichEditStringId.MenuCmd_FindPrevDescription": "تکرار آخرین جستجوی رو به عقب",
  "XtraRichEditStringId.MenuCmd_FirstDataRecord": "اولین رکورد",
  "XtraRichEditStringId.MenuCmd_FirstDataRecordDescription": "اولین رکورد",
  "XtraRichEditStringId.MenuCmd_FitHeight": "Fit Height",
  "XtraRichEditStringId.MenuCmd_FitHeightDescription": "Adjusts the document zoom factor to fit the entire page height to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FitToPage": "Fit To Page",
  "XtraRichEditStringId.MenuCmd_FitToPageDescription": "Adjusts the document zoom factor to fit the entire page to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FitWidth": "Fit Width",
  "XtraRichEditStringId.MenuCmd_FitWidthDescription": "Adjusts the document zoom factor to fit the entire page width to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForward": "به پیش آوردن",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardDescription": " انتقال شئ منتخب به جلو طوری که توسط جسم کوچکتری که در مقابل آن است پنهان شود",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardPlaceholder": "انتقال به جلو",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardPlaceholderDescription": " انتقال  شئ منتخب به جلو طوری که توسط جسم کوچکتری که در مقابل آن است پنهان شود",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringInFrontOfText": "انتقال به جلوی متن",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringInFrontOfTextDescription": " ",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringToFront": "انتقال به جلو",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringToFrontDescription": "انتقال شی انتخاب شده به جلوی همه اشیای دیگر تا هیچ بخشی از آن پنهان نماند",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackward": "انتقال به عقب",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardDescription": "انتقال شی انتخاب شده پشت همه اشیای دیگر تا پنهان شود",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardPlaceholder": "انتقال به عقب",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardPlaceholderDescription": "انتقال شی انتخاب شده به جلوی همه اشیای دیگر تا هیچ بخشی از آن پنهان نماند",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBehindText": "انتقال به پشت متن",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBehindTextDescription": " ",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendToBack": "انتقال به عقب",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendToBackDescription": "انتقال شی انتخاب شده به پشت همه اشیای دیگر",
  "XtraRichEditStringId.MenuCmd_FontSubscript": "زیر نویس",
  "XtraRichEditStringId.MenuCmd_FontSubscriptDescription": "حروف کوچک زیر خط پایه متن ایجاد کنید",
  "XtraRichEditStringId.MenuCmd_FontSuperscript": "بالا نویس",
  "XtraRichEditStringId.MenuCmd_FontSuperscriptDescription": "حروف کوچک در بالای خط متن ایجاد کنید",
  "XtraRichEditStringId.MenuCmd_GoToNextHeaderFooter": "نمابش بعدی",
  "XtraRichEditStringId.MenuCmd_GoToNextHeaderFooterDescription": "حرکت به بخش عنوان با پاورقی بعدی",
  "XtraRichEditStringId.MenuCmd_GoToPage": "رفتن به صفحه",
  "XtraRichEditStringId.MenuCmd_GoToPageDescription": "رفتن به صفحه",
  "XtraRichEditStringId.MenuCmd_GoToPageFooter": "رفتن به پاورقی",
  "XtraRichEditStringId.MenuCmd_GoToPageFooterDescription": "فعال کردن پاورقی در این صفحه به طوری که شما می توانید آن را ویرایش کنید",
  "XtraRichEditStringId.MenuCmd_GoToPageHeader": "رفتن به عنوان",
  "XtraRichEditStringId.MenuCmd_GoToPageHeaderDescription": "فعال کردن عنوان در این صفحه به طوری که شما می توانید آن را ویرایش کنید",
  "XtraRichEditStringId.MenuCmd_GoToPreviousHeaderFooter": "نمایش قبلی",
  "XtraRichEditStringId.MenuCmd_GoToPreviousHeaderFooterDescription": "حرکت به بخش عنوان با پاورقی قبلی",
  "XtraRichEditStringId.MenuCmd_HighlightText": "رنگ برجسته متن",
  "XtraRichEditStringId.MenuCmd_HighlightTextDescription": "متن را مانند زمانی که آن را با قلم برجسته کننده پررنگ کرده اید می سازد",
  "XtraRichEditStringId.MenuCmd_Hyperlink": "فراپیوند",
  "XtraRichEditStringId.MenuCmd_HyperlinkDescription": "فراپیوند",
  "XtraRichEditStringId.MenuCmd_IgnoreAllMistakenWords": "نادیده گرفتن همه",
  "XtraRichEditStringId.MenuCmd_IgnoreAllMistakenWordsDescription": "نادیده گرفتن همه",
  "XtraRichEditStringId.MenuCmd_IgnoreMistakenWord": "نادیده گرفتن",
  "XtraRichEditStringId.MenuCmd_IgnoreMistakenWordDescription": "نادیده گرفتن",
  "XtraRichEditStringId.MenuCmd_IncreaseFontSize": "رشد قلم",
  "XtraRichEditStringId.MenuCmd_IncreaseFontSizeDescription": "افزایش اندازه قلم",
  "XtraRichEditStringId.MenuCmd_IncrementFontSize": "افزایش اندازه قلم",
  "XtraRichEditStringId.MenuCmd_IncrementFontSizeDescription": "افزایش اندازه قلم",
  "XtraRichEditStringId.MenuCmd_IncrementIndent": "افزایش تورفتگی",
  "XtraRichEditStringId.MenuCmd_IncrementIndentDescription": "افزایش سطح تورفتگی پاراگراف",
  "XtraRichEditStringId.MenuCmd_IncrementNumerationFromParagraph": "افزایش شمارش از پاراگراف",
  "XtraRichEditStringId.MenuCmd_IncrementNumerationFromParagraphDescription": "افزایش شمارش از پاراگراف",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphLeftIndent": "افزایش تورفتگی چپ پاراگراف",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphLeftIndentDescription": "توضیح افزایش تورفتگی چپ پاراگراف",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphOutlineLevel": "افزایش سطح برون نما",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphOutlineLevelDescription": "افزایش سطح برون نما",
  "XtraRichEditStringId.MenuCmd_InsertBreak": "شکستن",
  "XtraRichEditStringId.MenuCmd_InsertBreakDescription": "افزودن صفحه، قسمت، یا شکست ها به سند",
  "XtraRichEditStringId.MenuCmd_InsertBulletList": "گلوله",
  "XtraRichEditStringId.MenuCmd_InsertBulletListDescription": "Start a bulleted list.",
  "XtraRichEditStringId.MenuCmd_InsertCaptionPlaceholder": "درج عنوان",
  "XtraRichEditStringId.MenuCmd_InsertCaptionPlaceholderDescription": "افزودن زیرنویس به یک عکس یا تصویر دیگر\n\nعنوان یک متن است که برای شرح شی در زیر آن ظاهر می شود",
  "XtraRichEditStringId.MenuCmd_InsertClosingDoubleQuotationMark": "درج علامت نقل قول بسته",
  "XtraRichEditStringId.MenuCmd_InsertClosingDoubleQuotationMarkDescription": "درج علامت نقل قول بسته",
  "XtraRichEditStringId.MenuCmd_InsertClosingSingleQuotationMark": "درج علامت تک نقل قول بسته",
  "XtraRichEditStringId.MenuCmd_InsertClosingSingleQuotationMarkDescription": "درج علامت تک نقل قول بسته",
  "XtraRichEditStringId.MenuCmd_InsertColumnBreak": "ستون",
  "XtraRichEditStringId.MenuCmd_InsertColumnBreakDescription": "نشان می دهد که متن زیر شکست ستون در ستون بعدی شروع خواهد شد",
  "XtraRichEditStringId.MenuCmd_InsertCopyrightSymbol": "درج نماد حق نشر",
  "XtraRichEditStringId.MenuCmd_InsertCopyrightSymbolDescription": "درج نماد حق نشر",
  "XtraRichEditStringId.MenuCmd_InsertEuroSymbol": "InsertEuroSymbol",
  "XtraRichEditStringId.MenuCmd_InsertEuroSymbolDescription": "InsertEuroSymbol",
  "XtraRichEditStringId.MenuCmd_InsertEllipsis": "درج سه نقطه",
  "XtraRichEditStringId.MenuCmd_InsertEllipsisDescription": "درج سه نقطه",
  "XtraRichEditStringId.MenuCmd_InsertEmDash": "درج خط تیره",
  "XtraRichEditStringId.MenuCmd_InsertEmDashDescription": "درج خط تیره",
  "XtraRichEditStringId.MenuCmd_InsertEnDash": "درج خط تیره",
  "XtraRichEditStringId.MenuCmd_InsertEnDashDescription": "درج خط تیره",
  "XtraRichEditStringId.MenuCmd_InsertEndnote": "Insert Endnote",
  "XtraRichEditStringId.MenuCmd_InsertEndnoteDescription": "Add a endnote",
  "XtraRichEditStringId.MenuCmd_InsertEquationsCaption": "عنوان معادلات",
  "XtraRichEditStringId.MenuCmd_InsertEquationsCaptionDescription": "افزودن عنوان معادله",
  "XtraRichEditStringId.MenuCmd_InsertField": "درج فیلد",
  "XtraRichEditStringId.MenuCmd_InsertFieldDescription": "درج فیلد",
  "XtraRichEditStringId.MenuCmd_InsertFiguresCaption": "عنوان شکل",
  "XtraRichEditStringId.MenuCmd_InsertFiguresCaptionDescription": "افزودن عنوان شکل",
  "XtraRichEditStringId.MenuCmd_InsertFloatingObjectPicture": "تصویر",
  "XtraRichEditStringId.MenuCmd_InsertFloatingObjectPictureDescription": "درج تصویر از فابل",
  "XtraRichEditStringId.MenuCmd_InsertFootnote": "Insert Footnote",
  "XtraRichEditStringId.MenuCmd_InsertFootnoteDescription": "Add a footnote",
  "XtraRichEditStringId.MenuCmd_InsertHyperlink": "درج فراپیوند",
  "XtraRichEditStringId.MenuCmd_InsertHyperlinkDescription": "توضیح درج  فرا پیوند",
  "XtraRichEditStringId.MenuCmd_InsertHyphen": "InsertHyphen",
  "XtraRichEditStringId.MenuCmd_InsertLineBreak": "درج شکست خط",
  "XtraRichEditStringId.MenuCmd_InsertLineBreakDescription": "درج شکست خط",
  "XtraRichEditStringId.MenuCmd_InsertMergeField": "درج فیلد ادغام",
  "XtraRichEditStringId.MenuCmd_InsertMergeFieldDescription": "درج فیلد ادغام",
  "XtraRichEditStringId.MenuCmd_InsertMultilevelList": "لیست چند سطحی",
  "XtraRichEditStringId.MenuCmd_InsertMultilevelListDescription": "شروع یک لیست چند سطحی",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingHyphen": "InsertNonBreakingHyphen",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingSpace": "درج فاصله بدون شکست",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingSpaceDescription": "درج فاصله بدون شکست",
  "XtraRichEditStringId.MenuCmd_InsertObject": "Object",
  "XtraRichEditStringId.MenuCmd_InsertObjectDescription": "Insert an embedded object, such as another Word document or an Excel chart.",
  "XtraRichEditStringId.MenuCmd_InsertOpeningDoubleQuotationMark": "درج علامت نقل قول باز",
  "XtraRichEditStringId.MenuCmd_InsertOpeningDoubleQuotationMarkDescription": "درج علامت نقل قول باز",
  "XtraRichEditStringId.MenuCmd_InsertOpeningSingleQuotationMark": "درج علامت تک نقل قول باز",
  "XtraRichEditStringId.MenuCmd_InsertOpeningSingleQuotationMarkDescription": "درج علامت تک نقل قول باز",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak": "صفحه",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak2": "Page Break",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak2Description": "Start the next page at the current position.",
  "XtraRichEditStringId.MenuCmd_InsertPageBreakDescription": "شروع صفحه بعد در موقعیت فعلی",
  "XtraRichEditStringId.MenuCmd_InsertPageCountField": "تعداد صفحه",
  "XtraRichEditStringId.MenuCmd_InsertPageCountFieldDescription": "درج تعداد کل صفحه در سند",
  "XtraRichEditStringId.MenuCmd_InsertPageNumberField": "شماره صفحه",
  "XtraRichEditStringId.MenuCmd_InsertPageNumberFieldDescription": "درج شماره صفحه در سند",
  "XtraRichEditStringId.MenuCmd_InsertParagraph": "درج پاراگراف",
  "XtraRichEditStringId.MenuCmd_InsertParagraphDescription": "درج پاراگراف",
  "XtraRichEditStringId.MenuCmd_InsertPicture": "تصویر درون خطی",
  "XtraRichEditStringId.MenuCmd_InsertPictureDescription": "درج تصویر درون خطی از فایل",
  "XtraRichEditStringId.MenuCmd_InsertRegisteredTrademarkSymbol": "قرار دادن نماد علامت تجاری ثبت شده",
  "XtraRichEditStringId.MenuCmd_InsertRegisteredTrademarkSymbolDescription": "قرار دادن نماد علامت تجاری ثبت شده",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakContinuous": "بخش (مستمر)ا",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakContinuousDescription": "درج یک شکست قسمت و شروع بخش جدید در همان صفحه ",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakEvenPage": "قسمت (صفحه زوج)ا",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakEvenPageDescription": " درج یک شکست قسمت و شروع بخش جدید در صفحه زوج بعدی",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakNextPage": "قسمت (صفحه بعد)ا",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakNextPageDescription": "درج یک شکست قسمت و شروع بخش جدید در صفحه بعد",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakOddPage": "قسمت (صفحه فرد)ا",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakOddPageDescription": " درج یک شکست قسمت و شروع بخش جدید در صفحه فرد بعدی",
  "XtraRichEditStringId.MenuCmd_InsertSimpleList": "شماره گذاری",
  "XtraRichEditStringId.MenuCmd_InsertSimpleListDescription": "شروع یک لیست شماره گذاری شده",
  "XtraRichEditStringId.MenuCmd_InsertSymbol": "نماد",
  "XtraRichEditStringId.MenuCmd_InsertSymbolDescription": "درج نمادهایی که روی صفحه کلید نیستند مانند نماد حق نشر، نمادهای تجاری، نشان های بند و نویسه های یونیکد",
  "XtraRichEditStringId.MenuCmd_InsertTab": "درج چندین فاصله",
  "XtraRichEditStringId.MenuCmd_InsertTabDescription": "درج چندین فاصله",
  "XtraRichEditStringId.MenuCmd_InsertTable": "جدول",
  "XtraRichEditStringId.MenuCmd_InsertTableCells": "درج سلول ها",
  "XtraRichEditStringId.MenuCmd_InsertTableCellsDescription": "درج سلول ها",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheLeft": "درج در چپ",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheLeftDescription": "افزودن ستون جدید به طور مستقیم به سمت چپ ستون انتخاب شده ",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheRight": "درج در راست",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheRightDescription": "افزودن ستون جدید به سمت راست ستون انتخاب شده ",
  "XtraRichEditStringId.MenuCmd_InsertTableDescription": "درج جدول در سند",
  "XtraRichEditStringId.MenuCmd_InsertTableElement": "درج",
  "XtraRichEditStringId.MenuCmd_InsertTableOfContents": "جدول محتویات",
  "XtraRichEditStringId.MenuCmd_InsertTableOfContentsDescription": "افزودن جدول محتویات به سند\n\n هنگامی که شما جدول محنوبات را اضافه کردید، به منظور افزودن متن به آن بر روی دکمه متن کلیک کنید",
  "XtraRichEditStringId.MenuCmd_InsertTableOfEquations": "جدول معادلات",
  "XtraRichEditStringId.MenuCmd_InsertTableOfEquationsDescription": "درج جدول معادلات به سند\n\nجدول معادلات شامل لیستی از تمام معادلات سند است",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFigures": "جدول اشکال",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresDescription": "درج جدول اشکال به سند\n\nجدول اشکال شامل لیستی از تمام اشکال سند است",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresPlaceholder": "درج جدول اشکال",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresPlaceholderDescription": "درج جدول اشکال به سند\n\nجدول اشکال شامل لیستی از تمام اشکال، جداول و معادلات سند است",
  "XtraRichEditStringId.MenuCmd_InsertTableOfTables": "فهرست جداول",
  "XtraRichEditStringId.MenuCmd_InsertTableOfTablesDescription": "درج جدولی از جداول در سند\n\nجدولی از جداول شامل لیستی از تمام جداول سند است",
  "XtraRichEditStringId.MenuCmd_InsertTableRowAbove": "درج در بالا",
  "XtraRichEditStringId.MenuCmd_InsertTableRowAboveDescription": "افزودن سطر جدید بالای سطر انتخاب شده",
  "XtraRichEditStringId.MenuCmd_InsertTableRowBelow": "درج در پایین",
  "XtraRichEditStringId.MenuCmd_InsertTableRowBelowDescription": "افزودن سطر جدید به طور مستقیم پایین سطر انتخاب شده",
  "XtraRichEditStringId.MenuCmd_InsertTablesCaption": "عنوان جداول",
  "XtraRichEditStringId.MenuCmd_InsertTablesCaptionDescription": "افزودن عنوان جدول",
  "XtraRichEditStringId.MenuCmd_InsertTabToParagraph": "افزودن فاصله به پاراگراف",
  "XtraRichEditStringId.MenuCmd_InsertTabToParagraphDescription": "توضیح افزودن فاصله به پاراگراف",
  "XtraRichEditStringId.MenuCmd_InsertText": "درج متن",
  "XtraRichEditStringId.MenuCmd_InsertTextBox": "جعبه متن",
  "XtraRichEditStringId.MenuCmd_InsertTextBoxDescription": "درج جعبه متن در سند",
  "XtraRichEditStringId.MenuCmd_InsertTextDescription": "درج متن",
  "XtraRichEditStringId.MenuCmd_InsertTrademarkSymbol": "درج نماد تجاری",
  "XtraRichEditStringId.MenuCmd_InsertTrademarkSymbolDescription": "درج نماد تجاری",
  "XtraRichEditStringId.MenuCmd_Language": "زبان",
  "XtraRichEditStringId.MenuCmd_LanguageDescription": "تغییر زبان",
  "XtraRichEditStringId.MenuCmd_LastDataRecord": "آخرین ردیف",
  "XtraRichEditStringId.MenuCmd_LastDataRecordDescription": "آخرین ردیف",
  "XtraRichEditStringId.MenuCmd_LoadDocument": "باز کردن",
  "XtraRichEditStringId.MenuCmd_LoadDocumentDescription": "باز کردن سند",
  "XtraRichEditStringId.MenuCmd_LockField": "Lock Field",
  "XtraRichEditStringId.MenuCmd_LockFieldDescription": "Lock Field",
  "XtraRichEditStringId.MenuCmd_LockTracking": "Lock Tracking",
  "XtraRichEditStringId.MenuCmd_LockTrackingDescription": "Use a password to keep others from turning off Track Changes",
  "XtraRichEditStringId.MenuCmd_MailMergeSaveDocumentAsCommand": "ادغام نامه",
  "XtraRichEditStringId.MenuCmd_MailMergeSaveDocumentAsCommandDescription": "ادغام نامه",
  "XtraRichEditStringId.MenuCmd_MakeTextLowerCase": "حروف کوچک",
  "XtraRichEditStringId.MenuCmd_MakeTextLowerCaseDescription": " تغییر تمام متن انتخاب شده به حروف کوچک",
  "XtraRichEditStringId.MenuCmd_MakeTextUpperCase": "حروف بزرگ",
  "XtraRichEditStringId.MenuCmd_MakeTextUpperCaseDescription": " تغییر تمام متن انتخاب شده به حروف بزرگ",
  "XtraRichEditStringId.MenuCmd_MergeTableCells": "Merge Cells",
  "XtraRichEditStringId.MenuCmd_MergeTableCellsDescription": "ادغام سلولهای انتخاب شده به یک سلول",
  "XtraRichEditStringId.MenuCmd_ModifyHyperlink": "تغییر فراپیوند",
  "XtraRichEditStringId.MenuCmd_ModifyHyperlinkDescription": "توضیح تغییر فراپیوند",
  "XtraRichEditStringId.MenuCmd_ModifyTableStyle": "تغییر سبک جدول",
  "XtraRichEditStringId.MenuCmd_MoveBackward": "حرکت به عقب",
  "XtraRichEditStringId.MenuCmd_MoveBackwardDescription": "حرکت به عقب",
  "XtraRichEditStringId.MenuCmd_MoveForward": "حرکت به جلو",
  "XtraRichEditStringId.MenuCmd_MoveForwardDescription": "حرکت به جلو",
  "XtraRichEditStringId.MenuCmd_MoveLineDown": " حرکت به خط پایین",
  "XtraRichEditStringId.MenuCmd_MoveLineDownDescription": " حرکت به خط پایین",
  "XtraRichEditStringId.MenuCmd_MoveLineUp": " حرکت به خط بالا",
  "XtraRichEditStringId.MenuCmd_MoveLineUpDescription": " حرکت به خط بالا",
  "XtraRichEditStringId.MenuCmd_MoveNextPage": "صفحه بعد",
  "XtraRichEditStringId.MenuCmd_MoveNextPageDescription": "صفحه بعد",
  "XtraRichEditStringId.MenuCmd_MoveNextParagraph": "پاراگراف بعد",
  "XtraRichEditStringId.MenuCmd_MoveNextParagraphDescription": "پاراگراف بعد",
  "XtraRichEditStringId.MenuCmd_MoveNextWord": "واژه بعد",
  "XtraRichEditStringId.MenuCmd_MoveNextWordDescription": "واژه بعد",
  "XtraRichEditStringId.MenuCmd_MovePreviousPage": "صفحه قبل",
  "XtraRichEditStringId.MenuCmd_MovePreviousPageDescription": "صفحه قبل",
  "XtraRichEditStringId.MenuCmd_MovePreviousParagraph": "پاراگراف قبل",
  "XtraRichEditStringId.MenuCmd_MovePreviousParagraphDescription": "MovePreviousParagraph",
  "XtraRichEditStringId.MenuCmd_MovePreviousWord": "واژه قبل",
  "XtraRichEditStringId.MenuCmd_MovePreviousWordDescription": "واژه قبل",
  "XtraRichEditStringId.MenuCmd_MoveScreenDown": "حرکت به پایین صفحه",
  "XtraRichEditStringId.MenuCmd_MoveScreenDownDescription": "حرکت به پایین صفحه",
  "XtraRichEditStringId.MenuCmd_MoveScreenUp": "حرکت به بالای صفحه",
  "XtraRichEditStringId.MenuCmd_MoveScreenUpDescription": "حرکت به بالای صفحه",
  "XtraRichEditStringId.MenuCmd_MoveToBeginOfDocument": "حرکت به شروع سند",
  "XtraRichEditStringId.MenuCmd_MoveToBeginOfDocumentDescription": "حرکت به شروع سند",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfDocument": "حرکت به انتهای سند",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfDocumentDescription": "حرکت به انتهای سند",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfLine": "حرکت به انتهای خط",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfLineDescription": "حرکت به انتهای خط",
  "XtraRichEditStringId.MenuCmd_MoveToStartOfLine": "حرکت به ابتدای خط",
  "XtraRichEditStringId.MenuCmd_MoveToStartOfLineDescription": "حرکت به ابتدای خط",
  "XtraRichEditStringId.MenuCmd_NewComment": "New Comment",
  "XtraRichEditStringId.MenuCmd_NewCommentDescription": "Add a comment about the selection.",
  "XtraRichEditStringId.MenuCmd_NewEmptyDocument": "جدید",
  "XtraRichEditStringId.MenuCmd_NewEmptyDocumentDescription": "ایجاد سند جدید",
  "XtraRichEditStringId.MenuCmd_NewTableStyle": "سبک جدید جدول",
  "XtraRichEditStringId.MenuCmd_NextComment": "بعدی",
  "XtraRichEditStringId.MenuCmd_NextCommentDescription": "Navigate to the next comment in the document.",
  "XtraRichEditStringId.MenuCmd_NextDataRecord": "ردیف بعدی",
  "XtraRichEditStringId.MenuCmd_NextDataRecordDescription": "ردیف بعدی",
  "XtraRichEditStringId.MenuCmd_NextEndnote": "Next Endnote",
  "XtraRichEditStringId.MenuCmd_NextEndnoteDescription": "Jump to next endnote",
  "XtraRichEditStringId.MenuCmd_NextFootnote": "Next Footnote",
  "XtraRichEditStringId.MenuCmd_NextFootnoteDescription": "Jump to next footnote",
  "XtraRichEditStringId.MenuCmd_NextRevision": "بعدی",
  "XtraRichEditStringId.MenuCmd_NextRevisionDescription": "Jump to the next tracked change.",
  "XtraRichEditStringId.MenuCmd_None": " ",
  "XtraRichEditStringId.MenuCmd_NoteOptions": "Note Options...",
  "XtraRichEditStringId.MenuCmd_OpenHyperlink": "باز کردن فراپیوند",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkAtCaretPosition": "باز کردن فراپیوند در موقعیت هشتک",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkAtCaretPositionDescription": "توضیح باز کردن فرا پیوند در موقعیت  هشتک",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkDescription": "بازکردن فراپیوند",
  "XtraRichEditStringId.MenuCmd_OvertypeText": "OvertypeText",
  "XtraRichEditStringId.MenuCmd_OvertypeTextDescription": "OvertypeText",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentCenter": "مرکز",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentCenterDescription": "مرکز متن",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentDistribute": "Distributed",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentDistributeDescription": "Align text to both left and right margins.\n\nSpace will be added between characters and words. If the last line is short, extra spaces will be added between the characters to make it match the width of the paragraph.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustify": "هم تراز كردن",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyDescription": "تراز متن به راست و چپ حاشیه، افزودن فضای اضافی بین کلماتی که لازم است\n\nاین باعث ایجاد یک نگاه تمیز در امتداد سمت چپ و راست صفحه می شود",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyHigh": "Justify High",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyHighDescription": "Align text to both left and right margins.\n\nSpecifies that a paragraph uses the kashida with the widest length for Arabic text. For other languages, paragraph text is justified with the widest inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyLow": "Justify Low",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyLowDescription": "Align text to both left and right margins.\n\nIf the language is Arabic, the paragraph uses small length Kashida. In other languages, text is justified with short inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyMedium": "Justify Medium",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyMediumDescription": "Align text to both left and right margins.\n\nIf the language is Arabic, the paragraph uses medium-length Kashida. In other languages, text is justified with wider inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentLeft": "تراز متن به چپ",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentLeftDescription": "تراز متن به چپ",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentRight": "تراز متن به راست",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentRightDescription": "تراز متن به راست",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentThaiDistributeDescription": "Align text to both left and right margins by adding extra space between each two characters for languages with tone mark and vowel mark.",
  "XtraRichEditStringId.MenuCmd_ParagraphLeftToRight": "Left-to-Right Text Direction",
  "XtraRichEditStringId.MenuCmd_ParagraphLeftToRightDescription": "Set the text to read from right to left.",
  "XtraRichEditStringId.MenuCmd_ParagraphRightToLeft": "Right-to-Left Text Direction",
  "XtraRichEditStringId.MenuCmd_ParagraphRightToLeftDescription": "Set the text to read from left to right.",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressHyphenation": "حذف چینش برای بند کنونی",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressHyphenationDescription": "حذف چینش برای بند کنونی",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressLineNumbers": "حذف برای پاراگراف کنونی",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressLineNumbersDescription": "حذف برای پاراگراف کنونی",
  "XtraRichEditStringId.MenuCmd_Paste": "جاگذاري",
  "XtraRichEditStringId.MenuCmd_PasteDescription": "جاگذاری محتویات حافظه موقت",
  "XtraRichEditStringId.MenuCmd_PasteFiles": "فایل ها",
  "XtraRichEditStringId.MenuCmd_PasteFilesDescription": "درج محتویات حافظه موقت بعنوان فایل جاسازی شده",
  "XtraRichEditStringId.MenuCmd_PasteHtmlText": "HTML قالب",
  "XtraRichEditStringId.MenuCmd_PasteHtmlTextDescription": "HTML درج محتویات حافطه موقت در قالب ",
  "XtraRichEditStringId.MenuCmd_PasteImage": "تصویر",
  "XtraRichEditStringId.MenuCmd_PasteImageDescription": "درج حافظه موقت بعنوان عکس",
  "XtraRichEditStringId.MenuCmd_PasteMetafileImage": "متافایل",
  "XtraRichEditStringId.MenuCmd_PasteMetafileImageDescription": "درج محتویات حافظه موقت بعنوان متافایل",
  "XtraRichEditStringId.MenuCmd_PastePlainText": "متن قالب بندی نشده",
  "XtraRichEditStringId.MenuCmd_PastePlainTextDescription": "درج محتویات حافظه موقت بعنوان یک متن بدون هیچ قالب بندی",
  "XtraRichEditStringId.MenuCmd_PasteRtfText": "(RTF) متن قالب بندی شده",
  "XtraRichEditStringId.MenuCmd_PasteRtfTextDescription": "درج محتویات حافظه موقت بعنوان یک متن با قلم و جدول قالب بندی شده",
  "XtraRichEditStringId.MenuCmd_PasteSilverlightXamlText": "(XAML) متن قالب بندی شده",
  "XtraRichEditStringId.MenuCmd_PasteSilverlightXamlTextDescription": "درج محتویات حافظه موقت بعنوان یک متن با قلم های قالب بندی شده",
  "XtraRichEditStringId.MenuCmd_PlaceCaretToPhysicalPoint": "درج هشتک در نقطه فیزیکی",
  "XtraRichEditStringId.MenuCmd_PlaceCaretToPhysicalPointDescription": "درج هشتک در نقطه فیزیکی",
  "XtraRichEditStringId.MenuCmd_PreviousComment": "قبلی",
  "XtraRichEditStringId.MenuCmd_PreviousCommentDescription": "Navigate to the previous comment in the document.",
  "XtraRichEditStringId.MenuCmd_PreviousDataRecord": "ردیف قبلی",
  "XtraRichEditStringId.MenuCmd_PreviousDataRecordDescription": "ردیف قبلی",
  "XtraRichEditStringId.MenuCmd_PreviousEndnote": "Previous Endnote",
  "XtraRichEditStringId.MenuCmd_PreviousEndnoteDescription": "Jump to previous endnote",
  "XtraRichEditStringId.MenuCmd_PreviousFootnote": "Previous Footnote",
  "XtraRichEditStringId.MenuCmd_PreviousFootnoteDescription": "Jump to previous footnote",
  "XtraRichEditStringId.MenuCmd_PrevRevision": "قبلی",
  "XtraRichEditStringId.MenuCmd_PrevRevisionDescription": "Jump to the previous tracked change.",
  "XtraRichEditStringId.MenuCmd_Print": "&چاپ",
  "XtraRichEditStringId.MenuCmd_PrintDescription": "چاپگر، تعداد کپی و دیگر گزینه های چاپ را قبل از چاپ انتخاب کنید",
  "XtraRichEditStringId.MenuCmd_PrintPreview": "پیش نمایش &چاپ",
  "XtraRichEditStringId.MenuCmd_PrintPreviewDescription": "پیش نمایش صفحات قبل از چاپ",
  "XtraRichEditStringId.MenuCmd_PrintView": "مشاهده نسخه قابل چاپ",
  "XtraRichEditStringId.MenuCmd_PrintViewDescription": "مشاهده نسخه قابل چاپ",
  "XtraRichEditStringId.MenuCmd_ProtectDocument": "حفاظت سند",
  "XtraRichEditStringId.MenuCmd_ProtectDocumentDescription": "کمک به محدود کردن مردم از ویرایش سند با مشخص کردن کلمه عبور ",
  "XtraRichEditStringId.MenuCmd_QuickPrint": "&چاپ سریع",
  "XtraRichEditStringId.MenuCmd_QuickPrintDescription": "فرستادن سند به طور مستقیم به چاپگر پیش فرض بدون ایجاد تغییرات",
  "XtraRichEditStringId.MenuCmd_ReadingView": "نمای خواندن",
  "XtraRichEditStringId.MenuCmd_ReadingViewDescription": "نمای خواندن",
  "XtraRichEditStringId.MenuCmd_Redo": "تكرار عمل",
  "XtraRichEditStringId.MenuCmd_RedoDescription": "انجام مجدد آخرین عمل",
  "XtraRichEditStringId.MenuCmd_Reject": "Reject",
  "XtraRichEditStringId.MenuCmd_RejectAllChanges": "Reject All Changes",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesAndStopTracking": "Reject All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesAndStopTrackingDescription": "Reject All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesDescription": "Reject All Changes",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesShown": "Reject All Changes Shown",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesShownDescription": "Reject All Changes Shown",
  "XtraRichEditStringId.MenuCmd_RejectAndMoveToNextRevision": "Reject and Move to Next",
  "XtraRichEditStringId.MenuCmd_RejectAndMoveToNextRevisionDescription": "Undo this change and move on to the next one.",
  "XtraRichEditStringId.MenuCmd_RejectCurrentRevision": "Reject This Change",
  "XtraRichEditStringId.MenuCmd_RejectCurrentRevisionDescription": "Reject This Change",
  "XtraRichEditStringId.MenuCmd_RejectDescription": "Click for additional options, such as rejecting all the changes at once.",
  "XtraRichEditStringId.MenuCmd_RemoveHyperlink": "حذف فراپیوند",
  "XtraRichEditStringId.MenuCmd_RemoveHyperlinkDescription": "حذف فراپیوند",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingAfterParagraph": "حذف فضای خالی &بعد از بند",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingAfterParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingBeforeParagraph": "حذف فضای خالی &قبل از بند",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingBeforeParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_Replace": "جایگزین",
  "XtraRichEditStringId.MenuCmd_ReplaceAllBackward": "جایگزین کردن همه عقبی ها",
  "XtraRichEditStringId.MenuCmd_ReplaceAllBackwardDescription": "توضیح جایگزین کردن همه عقبی ها",
  "XtraRichEditStringId.MenuCmd_ReplaceAllForward": "جایگزین کردن همه جلویی ها",
  "XtraRichEditStringId.MenuCmd_ReplaceAllForwardDescription": "توضیح جایگزین کردن همه جلویی ها",
  "XtraRichEditStringId.MenuCmd_ReplaceBackward": "جایگزین کردن عقبی",
  "XtraRichEditStringId.MenuCmd_ReplaceBackwardDescription": "جایگزین کردن عقبی",
  "XtraRichEditStringId.MenuCmd_ReplaceDescription": "جایگزینی متن در سند",
  "XtraRichEditStringId.MenuCmd_ReplaceForward": "جایگزین کردن جلویی",
  "XtraRichEditStringId.MenuCmd_ReplaceForwardDescription": "جایگزین کردن جلویی",
  "XtraRichEditStringId.MenuCmd_ReplaceText": "جایگزینی متن",
  "XtraRichEditStringId.MenuCmd_ReplaceTextDescription": "توضیح جایگزینی متن",
  "XtraRichEditStringId.MenuCmd_ResetCharacterFormatting": "بازنشانی قالب نویسه",
  "XtraRichEditStringId.MenuCmd_ResetCharacterFormattingDescription": "قالب پیش فرض نویسه از سبک اعمال شده را انتخاب کنید",
  "XtraRichEditStringId.MenuCmd_ResetTableCellsBorders": "&بدون حاشیه",
  "XtraRichEditStringId.MenuCmd_ResetTableCellsBordersDescription": "حاشیه سلولهای انتخابی را سفارشی کنید",
  "XtraRichEditStringId.MenuCmd_Reviewers": "Reviewers",
  "XtraRichEditStringId.MenuCmd_ReviewersDescription": "Select which reviewer comments to highlight in the document.",
  "XtraRichEditStringId.MenuCmd_ReviewingPane": "Reviewing Pane",
  "XtraRichEditStringId.MenuCmd_ReviewingPaneDescription": "Show or hide the document comments in a separate window.",
  "XtraRichEditStringId.MenuCmd_SaveDocument": "ذخیره",
  "XtraRichEditStringId.MenuCmd_SaveDocumentAs": "ذخیره به عنوان",
  "XtraRichEditStringId.MenuCmd_SaveDocumentAsDescription": "باز کردن پنجره ذخیره برای انتخاب قالب فایل و ذخیره سند در محل جدید",
  "XtraRichEditStringId.MenuCmd_SaveDocumentDescription": "ذخیره سند",
  "XtraRichEditStringId.MenuCmd_ScrollDown": "حرکت به پایین",
  "XtraRichEditStringId.MenuCmd_ScrollDownDescription": "حرکت به پایین",
  "XtraRichEditStringId.MenuCmd_ScrollToPage": "حرکت به صفحه",
  "XtraRichEditStringId.MenuCmd_ScrollToPageDescription": "حرکت به صفحه",
  "XtraRichEditStringId.MenuCmd_SelectAll": "انتخاب همه",
  "XtraRichEditStringId.MenuCmd_SelectAllDescription": "انتخاب کل محتوای سند",
  "XtraRichEditStringId.MenuCmd_SelectBookmark": "انتخاب نشانه گذار",
  "XtraRichEditStringId.MenuCmd_SelectBookmarkDescription": "انتخاب نشانه گذار",
  "XtraRichEditStringId.MenuCmd_SelectComment": "Select Comment",
  "XtraRichEditStringId.MenuCmd_SelectCommentDescription": "Select Comment",
  "XtraRichEditStringId.MenuCmd_SelectFieldNextToCaret": "انتخاب فیلد بعدی به هشتک",
  "XtraRichEditStringId.MenuCmd_SelectFieldNextToCaretDescription": "توضیح انتخاب فیلد بعدی به هشتک",
  "XtraRichEditStringId.MenuCmd_SelectFieldPrevToCaret": "انتخاب فیلد قبلی به هشتک",
  "XtraRichEditStringId.MenuCmd_SelectFieldPrevToCaretDescription": "توضیح انتخاب فیلد قبلی به هشتک",
  "XtraRichEditStringId.MenuCmd_SelectTable": "انتخاب جدول",
  "XtraRichEditStringId.MenuCmd_SelectTableCell": "انتخاب سلول",
  "XtraRichEditStringId.MenuCmd_SelectTableCellDescription": "انتخاب سلول",
  "XtraRichEditStringId.MenuCmd_SelectTableColumns": "انتخاب ستون",
  "XtraRichEditStringId.MenuCmd_SelectTableColumnsDescription": "انتخاب ستون",
  "XtraRichEditStringId.MenuCmd_SelectTableDescription": "انتخاب جدول",
  "XtraRichEditStringId.MenuCmd_SelectTableElements": "انتخاب",
  "XtraRichEditStringId.MenuCmd_SelectTableElementsDescription": "انتخاب سلول، ردیف، ستون جاری یا کل جدول",
  "XtraRichEditStringId.MenuCmd_SelectTableRow": "انتخاب ردیف",
  "XtraRichEditStringId.MenuCmd_SelectTableRowDescription": "انتخاب ردیف",
  "XtraRichEditStringId.MenuCmd_SetDoubleParagraphSpacing": "2.0",
  "XtraRichEditStringId.MenuCmd_SetDoubleParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBehindTextWrapType": "پشت متن",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBehindTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomCenterAlignment": "Bottom Center",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomCenterAlignmentDescription": "Position in Bottom Center with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomLeftAlignment": "Bottom Left",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomLeftAlignmentDescription": "Position in Bottom Left with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomRightAlignment": "Bottom Right",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomRightAlignmentDescription": "Position in Bottom Right with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInFrontOfTextWrapType": "جلوی متن",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInFrontOfTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInlineWithTextWrapType": "In Line with Text",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInlineWithTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleCenterAlignment": "مرکز میانه",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleCenterAlignmentDescription": "Position in Middle Center with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleLeftAlignment": "Middle Left",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleLeftAlignmentDescription": "Position in Middle Left with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleRightAlignment": "Middle Right",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleRightAlignmentDescription": "Position in Middle Right with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectSquareTextWrapType": "مربع",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectSquareTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectThroughTextWrapType": "از طریق",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectThroughTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTightTextWrapType": "تنگ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTightTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopAndBottomTextWrapType": "بالا و پایین",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopAndBottomTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopCenterAlignment": "Top Center",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopCenterAlignmentDescription": "قراردادن در بالا - مرکز با بسته بندی مربعی متن  ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopLeftAlignment": "Top Left",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopLeftAlignmentDescription": "Position in Top Left with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopRightAlignment": "Top Right",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopRightAlignmentDescription": "Position in Top Right with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentAutomatic": "خودکار",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentAutomaticDescription": "Turns on Automatic Hyphenation",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentNone": "هیچکدام",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentNoneDescription": "Turns off Automatic Hyphenation",
  "XtraRichEditStringId.MenuCmd_SetLandscapePageOrientation": "چشم انداز",
  "XtraRichEditStringId.MenuCmd_SetLandscapePageOrientationDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetModerateSectionPageMargins": "",
  "XtraRichEditStringId.MenuCmd_SetModerateSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetNarrowSectionPageMargins": "",
  "XtraRichEditStringId.MenuCmd_SetNarrowSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetNormalSectionPageMargins": "",
  "XtraRichEditStringId.MenuCmd_SetNormalSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetParagraphBodyTextLevel": "پنهان کردن در جدول محتویات",
  "XtraRichEditStringId.MenuCmd_SetParagraphBodyTextLevelDescription": "پنهان کردن در جدول محتویات",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading1Level": "Level 1",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading1LevelDescription": "Level 1",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading2Level": "Level 2",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading2LevelDescription": "Level 2",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading3Level": "Level 3",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading3LevelDescription": "Level 3",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading4Level": "Level 4",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading4LevelDescription": "Level 4",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading5Level": "Level 5",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading5LevelDescription": "Level 5",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading6Level": "Level 6",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading6LevelDescription": "Level 6",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading7Level": "Level 7",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading7LevelDescription": "Level 7",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading8Level": "Level 8",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading8LevelDescription": "Level 8",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading9Level": "Level 9",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading9LevelDescription": "Level 9",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeadingLevel": "Level {0}",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeadingLevelDescription": "Level {0}",
  "XtraRichEditStringId.MenuCmd_SetPortraitPageOrientation": "تصویر",
  "XtraRichEditStringId.MenuCmd_SetPortraitPageOrientationDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetSectionColumns": "ستون",
  "XtraRichEditStringId.MenuCmd_SetSectionColumnsDescription": " تقسیم متن به دو ستون یا بیشتر",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingContinuous": "مستمر",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingContinuousDescription": "مستمر",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingNone": "هیچکدام",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingNoneDescription": "بدون شماره خط",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewPage": "شروع مجدد هر صفحه",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewPageDescription": "شروع مجدد هر صفحه",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewSection": "شروع مجدد هر قسمت",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewSectionDescription": "شروع مجدد هر قسمت",
  "XtraRichEditStringId.MenuCmd_SetSectionOneColumn": "یک",
  "XtraRichEditStringId.MenuCmd_SetSectionOneColumnDescription": "یک ستون",
  "XtraRichEditStringId.MenuCmd_SetSectionThreeColumns": "سه",
  "XtraRichEditStringId.MenuCmd_SetSectionThreeColumnsDescription": "سه ستون",
  "XtraRichEditStringId.MenuCmd_SetSectionTwoColumns": "دو",
  "XtraRichEditStringId.MenuCmd_SetSectionTwoColumnsDescription": "دو ستون",
  "XtraRichEditStringId.MenuCmd_SetSesquialteralParagraphSpacing": "1.5",
  "XtraRichEditStringId.MenuCmd_SetSesquialteralParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetSingleParagraphSpacing": "1.0",
  "XtraRichEditStringId.MenuCmd_SetSingleParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetWideSectionPageMargins": "",
  "XtraRichEditStringId.MenuCmd_SetWideSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShiftTabKey": "Shift Tab کلید",
  "XtraRichEditStringId.MenuCmd_ShiftTabKeyDescription": "Shift Tab کلید",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldCodes": "نمایش تمام کدهای فیلد",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldCodesDescription": "نشانه گذاری سند با عناصر پویا و نمایش کدهای متن غنی خود را مشاهده کنید",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldResults": "نمایش نتایج همه فیلدها",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldResultsDescription": "مشاهده محتویات سند با عناصر پویا و نمایش داده های واقعی",
  "XtraRichEditStringId.MenuCmd_ShowBookmarkForm": "نشانه گذاری",
  "XtraRichEditStringId.MenuCmd_ShowBookmarkFormDescription": "ایجاد یک نشانه برای اختصاص دادن یک نام به یک نقطه خاص در یک سند\n\nشما می توانید فراپیوندهایی برای پرش مستقیم به محل نشانه گذاری ها بسازید",
  "XtraRichEditStringId.MenuCmd_ShowBordersShadingForm": "Borders and Shading",
  "XtraRichEditStringId.MenuCmd_ShowBordersShadingFormDescription": "Explore additional border options, such as line color and line width",
  "XtraRichEditStringId.MenuCmd_ShowColumnsSetupForm": "ستون های &بیشتر",
  "XtraRichEditStringId.MenuCmd_ShowColumnsSetupFormDescription": "نمایش پنجره ستون برای سفارشی کردن عرض ستون",
  "XtraRichEditStringId.MenuCmd_ShowCommentForm": "Comment",
  "XtraRichEditStringId.MenuCmd_ShowCommentFormDescription": "Show the Comment dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowDocumentProperties": "Document Properties",
  "XtraRichEditStringId.MenuCmd_ShowDocumentPropertiesDescription": "Show the Properties dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowEditStyleForm": "تغییر سبک",
  "XtraRichEditStringId.MenuCmd_ShowEditStyleFormDescription": "نمایش پنجره ویرایش سبک",
  "XtraRichEditStringId.MenuCmd_ShowEndnote": "Go to Endnote",
  "XtraRichEditStringId.MenuCmd_ShowFloatingObjectLayoutOptionsForm": "گزینه های طرح کلی بیشتر",
  "XtraRichEditStringId.MenuCmd_ShowFloatingObjectLayoutOptionsFormDescription": "نمایش پنجره طرح کلی",
  "XtraRichEditStringId.MenuCmd_ShowFontForm": "قلم",
  "XtraRichEditStringId.MenuCmd_ShowFontFormDescription": "نمایش پنجره قلم",
  "XtraRichEditStringId.MenuCmd_ShowFootnote": "Go to Footnote",
  "XtraRichEditStringId.MenuCmd_ShowHyperlinkForm": "فراپیوند",
  "XtraRichEditStringId.MenuCmd_ShowHyperlinkFormDescription": "ایجاد پیوند به صفحه وب، عکس، آدرس پست الکترونیکی یا یک برنامه",
  "XtraRichEditStringId.MenuCmd_ShowHyphenationForm": "Hyphenation Options...",
  "XtraRichEditStringId.MenuCmd_ShowHyphenationFormDescription": "Change the hyphenation behavior of the selected text.",
  "XtraRichEditStringId.MenuCmd_ShowInsertMergeFieldForm": "درج فیلد ادغام",
  "XtraRichEditStringId.MenuCmd_ShowInsertMergeFieldFormDescription": "افزودن فیلد از لیست گیرندگان یا جدول داده ها به سند",
  "XtraRichEditStringId.MenuCmd_ShowLineNumberingForm": "&گزینه های شماره گذاری خط",
  "XtraRichEditStringId.MenuCmd_ShowLineNumberingFormDescription": "گزینه های شماره گذاری خط",
  "XtraRichEditStringId.MenuCmd_ShowLineSpacingForm": "گزینه های فاصله خط",
  "XtraRichEditStringId.MenuCmd_ShowLineSpacingFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowMarkup": "Show Markup",
  "XtraRichEditStringId.MenuCmd_ShowMarkupDescription": "Choose what types of markup to show in your document.",
  "XtraRichEditStringId.MenuCmd_ShowNotes": "Show Notes",
  "XtraRichEditStringId.MenuCmd_ShowNotesDescription": "Jump to the footnotes or endnotes",
  "XtraRichEditStringId.MenuCmd_ShowNotesForm": "Footnotes",
  "XtraRichEditStringId.MenuCmd_ShowNotesFormDescription": "Show the Notes dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowNumberingList": "گلوله ها و شماره گذاری",
  "XtraRichEditStringId.MenuCmd_ShowNumberingListDescription": "نمایش پنجره لیست شماره گذاری",
  "XtraRichEditStringId.MenuCmd_ShowPageMarginsSetupForm": "سفارشی کردن &حاشیه",
  "XtraRichEditStringId.MenuCmd_ShowPageMarginsSetupFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowPagePaperSetupForm": "اندازه های صفحه &بیشتر",
  "XtraRichEditStringId.MenuCmd_ShowPagePaperSetupFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowPageSetupForm": "تنظیم صفحه",
  "XtraRichEditStringId.MenuCmd_ShowPageSetupFormDescription": "نمایش پنجره تنظیمات صفحه",
  "XtraRichEditStringId.MenuCmd_ShowParagraphForm": "پاراگراف",
  "XtraRichEditStringId.MenuCmd_ShowParagraphFormDescription": "نمایش پنجره پاراگراف",
  "XtraRichEditStringId.MenuCmd_ShowPasteSpecialForm": "جای گذاری ویژه",
  "XtraRichEditStringId.MenuCmd_ShowPasteSpecialFormDescription": "جای گذاری ویژه",
  "XtraRichEditStringId.MenuCmd_ShowRangeEditingPermissionsForm": "مجوزهای محدوده ویرایش ",
  "XtraRichEditStringId.MenuCmd_ShowRangeEditingPermissionsFormDescription": "مجوزهای محدوده ویرایش ",
  "XtraRichEditStringId.MenuCmd_ShowSymbol": "نماد",
  "XtraRichEditStringId.MenuCmd_ShowSymbolDescription": "نمایش پنجره نماد",
  "XtraRichEditStringId.MenuCmd_ShowTableOptionsForm": "حاشیه های سلول",
  "XtraRichEditStringId.MenuCmd_ShowTableOptionsFormDescription": "سفارشی کردن حاشیه های سلول و فاصله بین سلول ها",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesForm": "خصوصیات",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormDescription": "نمایش پنجره خصوصیات جدول برای تغییر خصوصیات پیشرفته جدول  مثل تورفتگی و گزینه های پیچیدن متن",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormDescriptionMenuItem": "نمایش پنجره خصوصیات جدول",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormMenuItem": "خصوصیات جدول",
  "XtraRichEditStringId.MenuCmd_ShowTabsForm": "برگه ها",
  "XtraRichEditStringId.MenuCmd_ShowTabsFormDescription": "برگه ها",
  "XtraRichEditStringId.MenuCmd_ShowWatermarkForm": "ته نقش",
  "XtraRichEditStringId.MenuCmd_ShowWatermarkFormDescription": "Add a picture or text watermark to the entire document or a specific section.",
  "XtraRichEditStringId.MenuCmd_SimpleView": "نمای ساده",
  "XtraRichEditStringId.MenuCmd_SimpleViewDescription": "نمای ساده",
  "XtraRichEditStringId.MenuCmd_SplitTable": "تقسیم جدول",
  "XtraRichEditStringId.MenuCmd_SplitTableCells": "تقسیم سلول ها",
  "XtraRichEditStringId.MenuCmd_SplitTableCellsDescription": "تقسیم سلول های انتخاب شده به چندین سلول جدید",
  "XtraRichEditStringId.MenuCmd_SplitTableCellsMenuItem": "تقسیم سلول",
  "XtraRichEditStringId.MenuCmd_SplitTableDescription": "تقسبم جدول به دو جدول\n\nردیف منتخب به اولین ردیف جدول جدید منتقل خواهد شد",
  "XtraRichEditStringId.MenuCmd_SwitchToDraftView": "مشاهده پیش نویس",
  "XtraRichEditStringId.MenuCmd_SwitchToDraftViewDescription": "مشاهده سند به عنوان یک پیش نویس برای ویرایش سریع متن\n\nعناصر خاصی از سند مثل عناوین و پاورقی ها، در این نماقابل مشاهده نخواهند بود",
  "XtraRichEditStringId.MenuCmd_SwitchToPrintLayoutView": "چیدمان چاپ",
  "XtraRichEditStringId.MenuCmd_SwitchToPrintLayoutViewDescription": "مشاهده سند طوریکه در صفحه چاپ شده ظاهر می شود",
  "XtraRichEditStringId.MenuCmd_SwitchToSimpleView": "نمای ساده",
  "XtraRichEditStringId.MenuCmd_SwitchToSimpleViewDescription": "مشاهده سند به عنوان یادداشت ساده\n\nاین نما چیدمان صفحه را به منظور جلب توجه به ویرایش متن نادیده می گیرد",
  "XtraRichEditStringId.MenuCmd_SymbolFormInsertButton": "درج",
  "XtraRichEditStringId.MenuCmd_TabKey": "Tab کلید",
  "XtraRichEditStringId.MenuCmd_TabKeyDescription": "Tab کلید",
  "XtraRichEditStringId.MenuCmd_ToggleAllFields": "Toggle All Fields",
  "XtraRichEditStringId.MenuCmd_ToggleAllFieldsDescription": "Toggle between displaying field codes and their results in the document",
  "XtraRichEditStringId.MenuCmd_ToggleAuthorVisibility": "Toggle Authors Visibility",
  "XtraRichEditStringId.MenuCmd_ToggleAuthorVisibilityDescription": "Toggle Authors Visibility",
  "XtraRichEditStringId.MenuCmd_ToggleBandedColumn": "ستون های گروه بندی شده",
  "XtraRichEditStringId.MenuCmd_ToggleBandedColumnDescription": "نمایش ستون های گروه بندی شده طوریکه ستون های زوج قالب متفاوتی از ستون های فرد دارند\n\nاین گروه بندی می تواند خواندن جدول را آسان تر کند ",
  "XtraRichEditStringId.MenuCmd_ToggleBandedRows": "ردیف های گروه بندی شده",
  "XtraRichEditStringId.MenuCmd_ToggleBandedRowsDescription": "نمایش ردیف های گروه بندی شده طوریکه ردیف های زوج قالب متفاوتی از ردیف های فرد دارند\n\nاین گروه بندی می تواند خواندن جدول را آسان تر کند ",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentFirstPage": "صفحه اول متفاوت",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentFirstPageDescription": "مشخص کردن عنوان و پاورقی یکتا برای اولین صفحه سند",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentOddAndEvenPages": "متفاوت بودن صفحات  &&  فرد و زوج",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentOddAndEvenPagesDescription": "مشخص کردن اینکه صفحات با شماره فرد یاید عنوان و پاورقی متفاوتی از صفحاتی با شماره زوج دارند",
  "XtraRichEditStringId.MenuCmd_ToggleFieldCodes": "تغییر کدهای فیلد",
  "XtraRichEditStringId.MenuCmd_ToggleFieldCodesDescription": "تغییر کدهای فیلد",
  "XtraRichEditStringId.MenuCmd_ToggleFieldLocked": "Toggle Field Locked",
  "XtraRichEditStringId.MenuCmd_ToggleFieldLockedDescription": "Toggle Field Locked",
  "XtraRichEditStringId.MenuCmd_ToggleFirstColumn": "اولین ستون",
  "XtraRichEditStringId.MenuCmd_ToggleFirstColumnDescription": "نمایش قالب بندی خاص برای اولین ستون جدول",
  "XtraRichEditStringId.MenuCmd_ToggleFirstRow": "ردیف عنوان ",
  "XtraRichEditStringId.MenuCmd_ToggleFirstRowDescription": "نمایش قالب بندی خاص برای اولین ردیف جدول",
  "XtraRichEditStringId.MenuCmd_ToggleFontBold": "برجسته",
  "XtraRichEditStringId.MenuCmd_ToggleFontBoldDescription": "برجسته کردن متن انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleStrikeout": "خط زدن مضاعف",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleStrikeoutDescription": "خط زدن مضاعف",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleUnderline": "زیرخط دار کردن مضاعف",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleUnderlineDescription": "زیرخط دار کردن مضاعف",
  "XtraRichEditStringId.MenuCmd_ToggleFontItalic": "مورب",
  "XtraRichEditStringId.MenuCmd_ToggleFontItalicDescription": "مورب کردن متن انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ToggleFontStrikeout": "خط زدن",
  "XtraRichEditStringId.MenuCmd_ToggleFontStrikeoutDescription": "رسم خط از میان متن انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ToggleFontUnderline": "زير خط دار",
  "XtraRichEditStringId.MenuCmd_ToggleFontUnderlineDescription": "زیر خط دار کردن متن انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ToggleHeaderFooterLinkToPrevious": "پیوند به قبلی",
  "XtraRichEditStringId.MenuCmd_ToggleHeaderFooterLinkToPreviousDescription": "پیوند به قسمت قبلی که حاوی مطالب مشابه در بخش عنوان و پاورقی  بخش فعلی است",
  "XtraRichEditStringId.MenuCmd_ToggleHiddenText": "پنهان",
  "XtraRichEditStringId.MenuCmd_ToggleHiddenTextDescription": "پنهان",
  "XtraRichEditStringId.MenuCmd_ToggleLastColumn": "آخرین ستون",
  "XtraRichEditStringId.MenuCmd_ToggleLastColumnDescription": "نمایش قالب بندی خاص برای آخرین ستون جدول",
  "XtraRichEditStringId.MenuCmd_ToggleLastRow": "مجموع ردیف",
  "XtraRichEditStringId.MenuCmd_ToggleLastRowDescription": "نمایش قالب بندی خاص برای آخرین ردیف جدول",
  "XtraRichEditStringId.MenuCmd_ToggleOvertype": "Overtype",
  "XtraRichEditStringId.MenuCmd_ToggleOvertypeDescription": "Overtype",
  "XtraRichEditStringId.MenuCmd_ToggleShowHorizontalRuler": "خط کش افقی",
  "XtraRichEditStringId.MenuCmd_ToggleShowHorizontalRulerDescription": "مشاهده خط کش افقی مورد استفاده برای اندازه گیری و به خط کردن اشیاء سند",
  "XtraRichEditStringId.MenuCmd_ToggleShowTableGridLines": "مشاهده &خطوط شطرنجی",
  "XtraRichEditStringId.MenuCmd_ToggleShowTableGridLinesDescription": "نشان دادن یا پنهان کردن خطوط شطرنجی درون جدول",
  "XtraRichEditStringId.MenuCmd_ToggleShowVerticalRuler": "خط کش عمودی",
  "XtraRichEditStringId.MenuCmd_ToggleShowVerticalRulerDescription": "مشاهده خط کش عمودی مورد استفاده برای اندازه گیری و به خط کردن اشیاء سند",
  "XtraRichEditStringId.MenuCmd_ToggleSpellCheckAsYouType": "بررسی املا آنچه نوشته اید",
  "XtraRichEditStringId.MenuCmd_ToggleSpellCheckAsYouTypeDescription": "بررسی املا آنچه نوشته اید",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitContents": "متناسب کردن خودکار محتویات",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitContentsDescription": "متناسب کردن خودکار جدول به محتویات",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitPlaceholder": "تناسب خودکار",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitPlaceholderDescription": "تغییر خودکار اندازه عرض ستون بر اساس متن آنها\n\nشما می توانید عرض جدول را بر اساس اندازه پنجره تنظیم کنید یا عرض ستون ها را ثابت درنظر بگیرید",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitWindow": "تناسب خودکار با پنجره",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitWindowDescription": "تناسب خودکار جدول با پنجره",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsAllBorders": "&تمام حاشیه ها",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsAllBordersDescription": "سفارشی کردن حاشیه سلول های انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomBorder": "&حاشیه پایین",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomBorderDescription": "سفارشی کردن حاشیه سلول های انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomCenterAlignment": "تراز به مرکز پایین",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomCenterAlignmentDescription": "متن را در مرکز قرار دهید و آن را به پایین سلول تراز کنید",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomLeftAlignment": "تراز به چپ پایین",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomLeftAlignmentDescription": "تراز متن به گوشه چپ پایین سلول",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomRightAlignment": "تراز به راست پایین",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomRightAlignmentDescription": "تراز متن به گوشه راست پایین سلول",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideBorder": "&حاشیه های داخلی",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideBorderDescription": "سفارشی کردن حاشیه سلول های انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideHorizontalBorder": "حاشیه &افقی داخلی",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideHorizontalBorderDescription": "سفارشی کردن حاشیه سلول های انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideVerticalBorder": "حاشیه &عمودی داخلی",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideVerticalBorderDescription": "سفارشی کردن حاشیه سلول های انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsLeftBorder": "&حاشیه چپ",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsLeftBorderDescription": "سفارشی کردن حاشیه سلول های انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleCenterAlignment": "تراز به مرکز",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleCenterAlignmentDescription": "Center text horizontally and vertically within the cell.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleLeftAlignment": "تراز به مرکز در چپ",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleLeftAlignmentDescription": "متن را به صورت عمودی در مرکز قرار دهید و آن را به سمت چپ سلول تراز کنید",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleRightAlignment": "تراز به راست مرکز",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleRightAlignmentDescription": "متن را به صورت عمودی در مرکز قرار دهید و آن را به سمت راست سلول تراز کنید",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsOutsideBorder": "حاشیه های &بیرونی",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsOutsideBorderDescription": "سفارشی کردن حاشیه سلول های انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsRightBorder": "&حاشیه راست",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsRightBorderDescription": "سفارشی کردن حاشیه سلول های انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopBorder": "&حاشیه بالا",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopBorderDescription": "سفارشی کردن حاشیه سلول های انتخاب شده",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopCenterAlignment": "تراز به بالا مرکز",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopCenterAlignmentDescription": "متن را در مرکز قرار دهید و آن را به بالای سلول تراز کنید",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopLeftAlignment": "تراز بالای چپ",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopLeftAlignmentDescription": "تراز متن به گوشه چپ و بالای سلول",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopRightAlignment": "تراز به بالا راست",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopRightAlignmentDescription": "تراز متن به گوشه راست و بالای سلول",
  "XtraRichEditStringId.MenuCmd_ToggleTableFixedColumnWidth": "ثابت کردن عرض سلول",
  "XtraRichEditStringId.MenuCmd_ToggleTableFixedColumnWidthDescription": "تعیین اندازه جدول به پهنای ثابت",
  "XtraRichEditStringId.MenuCmd_ToggleTextCase": "حالت تغییر",
  "XtraRichEditStringId.MenuCmd_ToggleTextCaseDescription": "حالت تغییر",
  "XtraRichEditStringId.MenuCmd_ToggleViewMergedData": "مشاهده داده های ادغام شده",
  "XtraRichEditStringId.MenuCmd_ToggleViewMergedDataDescription": "جایگزین کردن فیلدهای ادغام شده سند با داده های واقعی از لیست گیرندگان",
  "XtraRichEditStringId.MenuCmd_ToggleWhitespace": "¶ نمایش/پنهان نمودن ",
  "XtraRichEditStringId.MenuCmd_ToggleWhitespaceDescription": "نمایش نشان های پاراگراف و دیگر نمادهای قالب بندی پنهان",
  "XtraRichEditStringId.MenuCmd_TrackChanges": "Track Changes",
  "XtraRichEditStringId.MenuCmd_TrackChangesDescription": "Keep track of changes made to this document.",
  "XtraRichEditStringId.MenuCmd_Undo": "لغو عمل",
  "XtraRichEditStringId.MenuCmd_UndoDescription": "لغو آخرین عمل",
  "XtraRichEditStringId.MenuCmd_UnlockField": "Unlock Field",
  "XtraRichEditStringId.MenuCmd_UnlockFieldDescription": "Unlock Field",
  "XtraRichEditStringId.MenuCmd_UnprotectDocument": "لغو حفاظت سند",
  "XtraRichEditStringId.MenuCmd_UnprotectDocumentDescription": "لغو حفاظت سند",
  "XtraRichEditStringId.MenuCmd_UpdateField": "به روزرسانی فیلد",
  "XtraRichEditStringId.MenuCmd_UpdateFieldDescription": "به روزرسانی فیلد",
  "XtraRichEditStringId.MenuCmd_UpdateFields": "به روزرسانی فیلدها",
  "XtraRichEditStringId.MenuCmd_UpdateFieldsDescription": "به روزرسانی فیلدها",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfContents": "به روزرسانی جدول",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfContentsDescription": "به روزرسانی جدول محتویات طوریکه همه ورودی ها به شماره صفحه درست اشاره کنند",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfFigures": "به روزرسانی جدول",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfFiguresDescription": "به روزرسانی جدول اشکال که شامل همه وردودی های سند است",
  "XtraRichEditStringId.MenuCmd_Zoom": "زوم",
  "XtraRichEditStringId.MenuCmd_ZoomDescription": "زوم",
  "XtraRichEditStringId.MenuCmd_ZoomIn": "بزرگنمايي",
  "XtraRichEditStringId.MenuCmd_ZoomInDescription": "بزرگنمایی به منظور گرفتن یک نمای از جلو از سند",
  "XtraRichEditStringId.MenuCmd_ZoomOut": "كوچكنمايي",
  "XtraRichEditStringId.MenuCmd_ZoomOutDescription": "کوچکنمایی برای دیدن بیشتر صفحه در اندازه کاهش یافته",
  "XtraRichEditStringId.Msg_BookmarkCreationFailing": "نشانه ای با همان نام در حال حاضر وجود دارد. می خواهید جایگزین کنید؟",
  "XtraRichEditStringId.Msg_CannotGroupInlineShapes": "You cannot group inline shapes.",
  "XtraRichEditStringId.Msg_CannotGroupShapesLocatedInDifferentSubdocuments": "Cannot group shapes that are located in different subdocuments.",
  "XtraRichEditStringId.Msg_CantDeleteDefaultStyle": "نمی توان سبک پیش فرض را حذف کرد",
  "XtraRichEditStringId.Msg_CantPasteFormField": "You cannot paste form fields into comments, headers, footers, footnotes, endnotes, or text boxes.",
  "XtraRichEditStringId.Msg_CantResetDefaultProperties": "نمی توان تنظیمات سبک پیش فرض را مجددا تنظیم کرد",
  "XtraRichEditStringId.Msg_ClickToComment": " commented:",
  "XtraRichEditStringId.Msg_ClickToFollowHyperlink": "برای دنبال کردن پیوند کلیک کنید",
  "XtraRichEditStringId.Msg_ContinueSearchFromBeginningQuestion": "می خواهید جستجو را از ابتدای سند شروع کنید؟",
  "XtraRichEditStringId.Msg_ContinueSearchFromEndQuestion": "می خواهید جستجو را از انتهای سند شروع کنید؟",
  "XtraRichEditStringId.Msg_ContinueSearchInRemainderQuestion": "می خواهید باقیمانده سند را جستجو کنید؟",
  "XtraRichEditStringId.Msg_CreateHyperlinkError": "قادر به ایجاد فراپیوند نمی باشد. فراپیوند در محدوده مشخص شده در حال حاضر وجود دارد",
  "XtraRichEditStringId.Msg_DeleteTableStyleQuestion": "Do you want to delete style {0} from the document?",
  "XtraRichEditStringId.Msg_DocumentPositionDoesntMatchDocument": "خطا: موقعیت سند مشخص شده یا محدوده متعلق به سند یا زیر سند دیگر",
  "XtraRichEditStringId.Msg_DocumentProtectionInvalidPassword": "رمز ورود نادرست است",
  "XtraRichEditStringId.Msg_DocumentProtectionInvalidPasswordConfirmation": "تایید کلمه عبور مطابقت نمی کند",
  "XtraRichEditStringId.Msg_DuplicateBookmark": "نشانه با آن نام در حال حاضر در سند وجود دارد",
  "XtraRichEditStringId.Msg_EncryptedFile": "Encrypted files are not currently supported",
  "XtraRichEditStringId.Msg_EncryptedFileIntegrityCheckFailed": "This file may have been tampered with or corrupted and the contents should not be trusted. Do you wish to continue opening this file?",
  "XtraRichEditStringId.Msg_ErrorInvalidCustomPropertyValue": "The value entered does not match the specified type. The value will be stored as text.",
  "XtraRichEditStringId.Msg_ErrorLinkDeletedStyle": "خطا: نمی توان به سبک های حذف شده پیوند داد",
  "XtraRichEditStringId.Msg_GroupCannotContainCanvas": "A group cannot contain a canvas.",
  "XtraRichEditStringId.Msg_IncorrectBookmarkName": "نام نشانه گذاری باید با حرف شروع شود و فقط شامل نویسه های الفبایی  عددی و زیرخط باشد",
  "XtraRichEditStringId.Msg_IncorrectNumericFieldFormat": "خطا: عدد نمی تواند در قالب مشخص شده نشان داده شود",
  "XtraRichEditStringId.Msg_IncorrectOleObjectInsertType": "This OLE object is linked and cannot be saved. You can save only embedded OLE objects.",
  "XtraRichEditStringId.Msg_IncorrectPassword": "The password you supplied is not correct. Verify that the CAPS LOCK key is off and be sure to use the correct capitalization.",
  "XtraRichEditStringId.Msg_IncorrectPattern": "الگوی نادرست",
  "XtraRichEditStringId.Msg_IntegrityCheckFailedError": "Encrypted file integrity check failed!\nThis file may have been tampered with or corrupted.",
  "XtraRichEditStringId.Msg_InternalError": "خطای داخلی رخ داده",
  "XtraRichEditStringId.Msg_InvalidBeginInit": "خطا: فراخوانی متد شروع مقداردهی داخل متد شروع به روزرسانی",
  "XtraRichEditStringId.Msg_InvalidBeginUpdate": "خطا: فراخوانی متد شروع مقداردهی داخل متد شروع به روزرسانی",
  "XtraRichEditStringId.Msg_InvalidCharacterScale": "The value must be between {0} and {1}",
  "XtraRichEditStringId.Msg_InvalidCopyFromDocumentModel": "خطا: منبع و مقصد حالت های سند متفاوت هستند",
  "XtraRichEditStringId.Msg_InvalidDictionaryFormat": "The dictionary format is incorrect.",
  "XtraRichEditStringId.Msg_InvalidDivisor": "شماره باید بخشی از {0} باشد",
  "XtraRichEditStringId.Msg_InvalidDocumentModel": "خطا: حالت های سند متفاوت هستند",
  "XtraRichEditStringId.Msg_InvalidEndInit": "خطا: فراخوانی متد پایان مقداردهی با انصراف مقداردهی بدون فراخوانی متد شروع مقداردهی در متد شروع به روز رسانی",
  "XtraRichEditStringId.Msg_InvalidEndUpdate": "خطا: فراخوانی متد پایان به روزرسانی با انصراف به روزرسانی بدون فراخوانی متد شروع به روزرسانی یا در متد شروع مقداردهی",
  "XtraRichEditStringId.Msg_InvalidFontSize": "عدد باید بین {0} و {1} باشد",
  "XtraRichEditStringId.Msg_InvalidHeaderFooterOffset": "The measurement must be between {0} and {1}.",
  "XtraRichEditStringId.Msg_InvalidHtmlImagePath": "The specified image path does not exist.",
  "XtraRichEditStringId.Msg_InvalidImageFile": "The specified image is not valid.",
  "XtraRichEditStringId.Msg_InvalidNavigateUri": "آدرس این سایت معتبر نیست. آدرس را بررسی کرده و دوباره سعی کنید",
  "XtraRichEditStringId.Msg_InvalidNumber": "این شماره معتبر نیست",
  "XtraRichEditStringId.Msg_InvalidNumberingListIndex": "شاخص لیست شماره گذاری به لیستی اشاره می کند که وجود ندارد",
  "XtraRichEditStringId.Msg_InvalidNumberingListStartAtValue": "برای این قالب \"شروع از\" باید بین {0} و {1} باشد",
  "XtraRichEditStringId.Msg_InvalidParagraphContainNumbering": "خطا: بند در حال حاضر شامل شماره گذاری است",
  "XtraRichEditStringId.Msg_InvalidParentStyle": "خطا: اختصاص سبک والد نادرست باعث ایجاد مرجع حلقوی شده",
  "XtraRichEditStringId.Msg_InvalidSetCharacterProperties": "خطا: قادر به تنظیم خصوصیات بدون متد شروع مقداردهی یا بدون اضافه کردن شی به سند نمی باشد",
  "XtraRichEditStringId.Msg_InvalidSetParagraphProperties": "خطا: قادر به تنظیم خصوصیات بدون متد شروع مقداردهی یا بدون اضافه کردن شی به سند نمی باشد",
  "XtraRichEditStringId.Msg_InvalidString": "This is not a valid string.",
  "XtraRichEditStringId.Msg_InvalidStyleName": "نام سبک نادرست",
  "XtraRichEditStringId.Msg_InvalidTabStop": "این یک توقف برگه معتبر نیست",
  "XtraRichEditStringId.Msg_InvalidValueRange": "مقدار باید بین {0} و {1} باشد",
  "XtraRichEditStringId.Msg_IsNotValid": "مقدار '{0}' یک مقدار معتبر برای '{1}' نیست",
  "XtraRichEditStringId.Msg_LeftRightSectionMarginsTooLarge": "حاشیه چپ/راست در برخی قسمتها برای ارتفاع صفحه خیلی زیاد است",
  "XtraRichEditStringId.Msg_Loading": " . . . بارگذاري",
  "XtraRichEditStringId.Msg_MagicNumberNotFound": "فایلی که در حال تلاش برای باز کردن آن هستید قالب متفاوتی از آنچه که پسوند فایل مشخص می کند دارد",
  "XtraRichEditStringId.Msg_MenuManagerPropertyIsNotSet": "The MenuManager property of RichEditControl is not set.",
  "XtraRichEditStringId.Msg_MissingOperator": "!عملگر گم شده",
  "XtraRichEditStringId.Msg_NoDefaultTabs": "توقف برگه پیش فرض نمی تواند تنظیم شود",
  "XtraRichEditStringId.Msg_NoTocEntriesFound": "هیچ ورودی جدول محتویاتی بافت نمی شود",
  "XtraRichEditStringId.Msg_NoTrackedChanges": "There aren't any tracked changes in your document.",
  "XtraRichEditStringId.Msg_NumberingListNotInListCollection": "نمی توان لیست شماره گذاری را استفاده کرد. لیست شماره گذاری باید به مجموعه سند.لیست شماره گذاری اضافه شود",
  "XtraRichEditStringId.Msg_OperationIsNotValidDueDocumentState": "Operation is not valid due to the current state of the document.",
  "XtraRichEditStringId.Msg_ParagraphStyleNameAlreadyExists": "این نام سبک در حال حاضر وجود دارد",
  "XtraRichEditStringId.Msg_PasswordNotConfirmed": "Confirmation password is not identical.",
  "XtraRichEditStringId.Msg_PasswordRequiredError": "Password required to open this file!",
  "XtraRichEditStringId.Msg_PasswordTooLong": "Password length must be less than {0} characters long.",
  "XtraRichEditStringId.Msg_PrintingUnavailable": "چاپ در دسترس نیست. بررسی کنید که آیا مجموعه های زیر نصب شده اند\n{0}",
  "XtraRichEditStringId.Msg_ReplacementsCount": "ا{0} جایگزین ساخته شد",
  "XtraRichEditStringId.Msg_Saving": "در حال ذخیره",
  "XtraRichEditStringId.Msg_SearchComplete": "جستجو کامل شد",
  "XtraRichEditStringId.Msg_SearchInBackwardDirectionComplete": "به ابتدای سند رسیده",
  "XtraRichEditStringId.Msg_SearchInForwardDirectionComplete": "به انتهای سند رسیده",
  "XtraRichEditStringId.Msg_SearchInSelectionComplete": "جستجو در قسمت انتخاب شده به پایان رسید",
  "XtraRichEditStringId.Msg_SearchItemNotFound": "مورد جستجو یافت نشد",
  "XtraRichEditStringId.Msg_SelectBookmarkError": "نمی توانید نشانه را از زیر سند غیرفعال انتخاب کنید",
  "XtraRichEditStringId.Msg_SelectCommentError": "Cannot select a comment of inactive SubDocument.",
  "XtraRichEditStringId.Msg_ShapesBelongToDifferentCanvases": "The specified shapes belong to different canvases and cannot be grouped.",
  "XtraRichEditStringId.Msg_ShapesDoNotBelogToCanvas": "One or more shapes do not belong to the canvas and cannot be grouped.",
  "XtraRichEditStringId.Msg_SpecifiedShapeIsNotGroup": "The specified shape is not a group.",
  "XtraRichEditStringId.Msg_StyleAlreadyLinked": "خطا: سبک در حال حاضر شامل یک سبک پیوند شده است",
  "XtraRichEditStringId.Msg_StyleNameIsEmpty": "The style name cannot be empty.",
  "XtraRichEditStringId.Msg_SyntaxErrorInFieldPattern": "{0} خطای نحوی",
  "XtraRichEditStringId.Msg_TableExceedsMaximumNumberOfColumns": "This exceeds the maximum number of columns.",
  "XtraRichEditStringId.Msg_TableIntegrityError": "خطا: یکپارچگی جدول شکسته شده",
  "XtraRichEditStringId.Msg_TopBottomSectionMarginsTooLarge": "حاشیه بالا/پایین در برخی قسمتها برای ارتفاع صفحه خیلی زیاد است",
  "XtraRichEditStringId.Msg_UnexpectedEndOfFormula": "پایان غیر منتظره فرمول",
  "XtraRichEditStringId.Msg_UnknownSwitchArgument": "خطا! پارامتر تعویض ناشناس",
  "XtraRichEditStringId.Msg_UnmatchedQuotesInFieldPattern": "خطا: الگوی رشته شامل نشانه نقل قول غیرمنطبق است",
  "XtraRichEditStringId.Msg_UnsupportedDocVersion": "فقط مایکروسافت ورد 97 و نسخه های بالاتر پشتیباتی می شود",
  "XtraRichEditStringId.Msg_UnsupportedFormatException": "قالب فایل پشتیبانی نمی شود",
  "XtraRichEditStringId.Msg_UseDeletedBookmarkError": "خطا: استفاده از نشانه گذاری حذف شده",
  "XtraRichEditStringId.Msg_UseDeletedCommentError": "Error: using deleted comment",
  "XtraRichEditStringId.Msg_UseDeletedCustomMarkError": "Error: using deleted customMark",
  "XtraRichEditStringId.Msg_UseDeletedFieldError": "خطا: استفاده از فیلد پاراگراف",
  "XtraRichEditStringId.Msg_UseDeletedFormFieldError": "Error: using deleted form field",
  "XtraRichEditStringId.Msg_UseDeletedHyperlinkError": "خطا: استفاده از فراپیوند حذف شده",
  "XtraRichEditStringId.Msg_UseDeletedNoteError": "Error: using deleted note",
  "XtraRichEditStringId.Msg_UseDeletedObjectError": "The object is already deleted.",
  "XtraRichEditStringId.Msg_UseDeletedParagraphError": "خطا: استفاده از پاراگراف حذف شده",
  "XtraRichEditStringId.Msg_UseDeletedSectionError": "خطا: استفاده از بخش حذف شده",
  "XtraRichEditStringId.Msg_UseDeletedStyleError": "خطا: استفاده از سبک حذف شده",
  "XtraRichEditStringId.Msg_UseDeletedTableCellError": "خطا: استفاده از سلول جدول حذف شده",
  "XtraRichEditStringId.Msg_UseDeletedTableError": "خطا: استفاده از جدول حذف شده",
  "XtraRichEditStringId.Msg_UseDeletedTableRowError": "خطا: استفاده از ردیف جدول حذف شده",
  "XtraRichEditStringId.Msg_UsedWrongUnit": "واحد اندازه گیری نادرست مشخص شده است",
  "XtraRichEditStringId.Msg_UseInvalidCharacterProperties": "خطا: ویژگی های نویسه معتبر نیستند",
  "XtraRichEditStringId.Msg_UseInvalidCompatibilitySettings": "Error: these compatibility settings are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidCustomProperties": "Error: this custom properties is no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocument": "خطا: این سند دیگر معتبر نیست",
  "XtraRichEditStringId.Msg_UseInvalidDocumentEncryption": "Error: these document encryption settings are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocumentProperties": "Error: this document properties is no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocumentTrackChangesOptions": "Error: these document track changes options are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidParagraphProperties": "خطا: ويژگيهای پاراگراف دیگر معتبر نیستند",
  "XtraRichEditStringId.Msg_VariableDeletedOrMissed": "خطا: متغیر سند از مجموعه متغیرها گم شده و یا حذف شده",
  "XtraRichEditStringId.Msg_WrongPasswordError": "Password check failed!",
  "XtraRichEditStringId.Msg_ZeroDivide": "!تقسیم بر صفر",
  "XtraRichEditStringId.MsgWinOnlyLimitation": "This action can be performed only on Windows operating system.",
  "XtraRichEditStringId.No": "N",
  "XtraRichEditStringId.Page": "Page {2}: [{3}] ",
  "XtraRichEditStringId.RtlComment": "[{1} {0}] Comment",
  "XtraRichEditStringId.SelectionCollection_AtLeastOneSelectionIsRequiredException": "Cannot remove a selection. At least one selection is required.",
  "XtraRichEditStringId.SelectionCollection_CannotRemoveCaretException": "Cannot remove caret.",
  "XtraRichEditStringId.SelectionCollection_CurrentSelectionAndSpecifiedSelectionIntersectException": "Current selection and the specified selection intersect.",
  "XtraRichEditStringId.SelectionCollection_EmptyCollectionException": "Cannot add an empty collection.",
  "XtraRichEditStringId.SelectionCollection_FirstCellContinuesVerticalMergeException": "The first cell in the selected range continues the vertical merge, which is not allowed in a selection collection.",
  "XtraRichEditStringId.SelectionCollection_LastCellContinuesVerticalMergeException": "The last cell in the selected range continues the vertical merge, which is not allowed in a selection collection.",
  "XtraRichEditStringId.SelectionCollection_OutOfRangeException": "Index was out of range. Must be non-negative and less than the size of the selection collection.",
  "XtraRichEditStringId.SelectionCollection_PartiallySelectedCellsException": "Partially selected cells are not allowed.",
  "XtraRichEditStringId.SelectionCollection_RangeCannotBeEmptyException": "Range cannot be empty.",
  "XtraRichEditStringId.SelectionCollection_SelecitonShouldIncludeNotMoreThanOneRowException": "A selection range should include not more than one row",
  "XtraRichEditStringId.SelectionCollection_SelectionCollectionEmptyException": "The selection collection is empty.",
  "XtraRichEditStringId.SelectionCollection_SelectionExtendsOutsideTableException": "The selection extends outside the table, so the entire row must be selected.",
  "XtraRichEditStringId.SelectionCollection_SelectionShouldContainAtLeastOneCharacterException": "The selection should contain at least one character.",
  "XtraRichEditStringId.SelectionCollection_SpecifiedSelectionsIntersectException": "Specified selections intersect.",
  "XtraRichEditStringId.TabForm_All": "همه",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentCenter": "مرکز",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentInside": "داخل",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentLeft": "چپ",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentOutside": "Outside",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentRight": "راست",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypeColumn": "ستون",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypePage": "صفحه",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentBottom": "پایین",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentCenter": "مرکز",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentInside": "داخل",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentOutside": "Outside",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentTop": "بالا",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypePage": "صفحه",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypeParagraph": "پاراگراف",
  "XtraRichEditStringId.TargetFrameDescription_Blank": "پنجره جدید",
  "XtraRichEditStringId.TargetFrameDescription_Parent": "قاب والد",
  "XtraRichEditStringId.TargetFrameDescription_Self": "همان قاب",
  "XtraRichEditStringId.TargetFrameDescription_Top": "تمام صفحه",
  "XtraRichEditStringId.UnderlineNone": "(خالی)",
  "XtraRichEditStringId.UserGroup_Administrators": "Administrators",
  "XtraRichEditStringId.UserGroup_Contributors": "Contributors",
  "XtraRichEditStringId.UserGroup_CurrentUser": "Current User",
  "XtraRichEditStringId.UserGroup_Editors": "Editors",
  "XtraRichEditStringId.UserGroup_Everyone": "Everyone",
  "XtraRichEditStringId.UserGroup_Owners": "Owners",
  "XtraRichEditStringId.Yes": "Y",
  "RichEditExtensionsStringId.Caption_ColorAutomatic": "خودکار",
  "RichEditExtensionsStringId.Caption_Formatting": "Formatting",
  "RichEditExtensionsStringId.Caption_GroupCaptions": "Captions",
  "RichEditExtensionsStringId.Caption_GroupClipboard": "Clipboard",
  "RichEditExtensionsStringId.Caption_GroupCommon": "مشترک",
  "RichEditExtensionsStringId.Caption_GroupDocumentComment": "Comment",
  "RichEditExtensionsStringId.Caption_GroupDocumentLanguage": "Language",
  "RichEditExtensionsStringId.Caption_GroupDocumentProofing": "Proofing",
  "RichEditExtensionsStringId.Caption_GroupDocumentProtection": "Protect",
  "RichEditExtensionsStringId.Caption_GroupDocumentTracking": "Tracking",
  "RichEditExtensionsStringId.Caption_GroupDocumentViews": "Document Views",
  "RichEditExtensionsStringId.Caption_GroupEditing": "Editing",
  "RichEditExtensionsStringId.Caption_GroupFloatingPictureToolsArrange": "Arrange",
  "RichEditExtensionsStringId.Caption_GroupFloatingPictureToolsShapeStyles": "Shape Styles",
  "RichEditExtensionsStringId.Caption_GroupFont": "قلم",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooter": "Header && Footer",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignClose": "بستن",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignNavigation": "Navigation",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignOptions": "گزینه ها",
  "RichEditExtensionsStringId.Caption_GroupIllustrations": "Illustrations",
  "RichEditExtensionsStringId.Caption_GroupInfo": "Info",
  "RichEditExtensionsStringId.Caption_GroupLinks": "Links",
  "RichEditExtensionsStringId.Caption_GroupMailMerge": "ادغام نامه",
  "RichEditExtensionsStringId.Caption_GroupNotes": "Footnotes",
  "RichEditExtensionsStringId.Caption_GroupPageBackground": "Background",
  "RichEditExtensionsStringId.Caption_GroupPages": "صفحات",
  "RichEditExtensionsStringId.Caption_GroupPageSetup": "تنظیم صفحه",
  "RichEditExtensionsStringId.Caption_GroupParagraph": "پاراگراف",
  "RichEditExtensionsStringId.Caption_GroupShow": "Show",
  "RichEditExtensionsStringId.Caption_GroupStyles": "Styles",
  "RichEditExtensionsStringId.Caption_GroupSymbols": "Symbols",
  "RichEditExtensionsStringId.Caption_GroupTableOfContents": "جدول محتویات",
  "RichEditExtensionsStringId.Caption_GroupTables": "Tables",
  "RichEditExtensionsStringId.Caption_GroupText": "متن",
  "RichEditExtensionsStringId.Caption_GroupZoom": "زوم",
  "RichEditExtensionsStringId.Caption_NoColor": "No Color",
  "RichEditExtensionsStringId.Caption_NoFill": "No Fill",
  "RichEditExtensionsStringId.Caption_NoOutline": "No Outline",
  "RichEditExtensionsStringId.Caption_PageCategoryFloatingPictureTools": "Picture Tools",
  "RichEditExtensionsStringId.Caption_PageCategoryHeaderFooterTools": "Header & Footer Tools",
  "RichEditExtensionsStringId.Caption_PageFile": "File",
  "RichEditExtensionsStringId.Caption_PageFloatingObjectPictureToolsFormat": "قالب",
  "RichEditExtensionsStringId.Caption_PageHeaderFooterToolsDesign": "طراحی",
  "RichEditExtensionsStringId.Caption_PageHome": "صفحه اصلی",
  "RichEditExtensionsStringId.Caption_PageInsert": "درج",
  "RichEditExtensionsStringId.Caption_PageLayout": "طرح كلي",
  "RichEditExtensionsStringId.Caption_PageMailings": "ادغام نامه",
  "RichEditExtensionsStringId.Caption_PagePageLayout": "Page Layout",
  "RichEditExtensionsStringId.Caption_PageReferences": "References",
  "RichEditExtensionsStringId.Caption_PageReview": "Review",
  "RichEditExtensionsStringId.Caption_PageView": "مشاهده",
  "ASPxRichEditStringId.Font": "قلم",
  "ASPxRichEditStringId.FontStyle": "Font style",
  "ASPxRichEditStringId.FontSize": "Font size",
  "ASPxRichEditStringId.FontColor": "Font color",
  "ASPxRichEditStringId.UnderlineStyle": "Underline style",
  "ASPxRichEditStringId.UnderlineColor": "Underline color",
  "ASPxRichEditStringId.Effects": "Effect",
  "ASPxRichEditStringId.AllCaps": "All caps",
  "ASPxRichEditStringId.SmallCaps": "Small caps",
  "ASPxRichEditStringId.Hidden": "Hidden",
  "ASPxRichEditStringId.Normal": "عادی",
  "ASPxRichEditStringId.Bold": "برجسته",
  "ASPxRichEditStringId.Italic": "مورب",
  "ASPxRichEditStringId.BoldItalic": "Bold Italic",
  "ASPxRichEditStringId.UnderlineWordsOnly": "Underline words only",
  "ASPxRichEditStringId.UnderlineType_None": "هیچکدام",
  "ASPxRichEditStringId.UnderlineType_Single": "Single",
  "ASPxRichEditStringId.UnderlineType_Dotted": "Dotted",
  "ASPxRichEditStringId.UnderlineType_Dashed": "Dashed",
  "ASPxRichEditStringId.UnderlineType_DashDotted": "Dash Dotted",
  "ASPxRichEditStringId.UnderlineType_DashDotDotted": "Dash Dot Dotted",
  "ASPxRichEditStringId.UnderlineType_Double": "Double",
  "ASPxRichEditStringId.UnderlineType_HeavyWave": "Heavy Wave",
  "ASPxRichEditStringId.UnderlineType_LongDashed": "Long Dashed",
  "ASPxRichEditStringId.UnderlineType_ThickSingle": "Thick Single",
  "ASPxRichEditStringId.UnderlineType_ThickDotted": "Thick Dotted",
  "ASPxRichEditStringId.UnderlineType_ThickDashed": "Thick Dashed",
  "ASPxRichEditStringId.UnderlineType_ThickDashDotted": "Thick Dash Dotted",
  "ASPxRichEditStringId.UnderlineType_ThickDashDotDotted": "Thick Dash Dot Dotted",
  "ASPxRichEditStringId.UnderlineType_ThickLongDashed": "Thick Long Dashed",
  "ASPxRichEditStringId.UnderlineType_DoubleWave": "Double Wave",
  "ASPxRichEditStringId.UnderlineType_Wave": "Wave",
  "ASPxRichEditStringId.UnderlineType_DashSmallGap": "Dash Small Gap",
  "ASPxRichEditStringId.StrikeoutType_None": "هیچکدام",
  "ASPxRichEditStringId.StrikeoutType_Single": "Single",
  "ASPxRichEditStringId.StrikeoutType_Double": "Double",
  "ASPxRichEditStringId.CharacterFormattingScript_Normal": "عادی",
  "ASPxRichEditStringId.CharacterFormattingScript_Subscript": "Subscript",
  "ASPxRichEditStringId.CharacterFormattingScript_Superscript": "Superscript",
  "ASPxRichEditStringId.ParagraphTab0": "Indents And Spacing",
  "ASPxRichEditStringId.ParagraphTab1": "Line And Page Breaks",
  "ASPxRichEditStringId.General": "عمومی",
  "ASPxRichEditStringId.Alignment": "تراز",
  "ASPxRichEditStringId.Left": "چپ",
  "ASPxRichEditStringId.Right": "راست",
  "ASPxRichEditStringId.Centered": "Centered",
  "ASPxRichEditStringId.Justified": "Justified",
  "ASPxRichEditStringId.OutlineLevel": "Outline level",
  "ASPxRichEditStringId.BodyText": "Body Text",
  "ASPxRichEditStringId.Level": "سطح",
  "ASPxRichEditStringId.Indentation": "Indentation",
  "ASPxRichEditStringId.Special": "ویژه",
  "ASPxRichEditStringId.By": "By",
  "ASPxRichEditStringId.none": "(خالی)",
  "ASPxRichEditStringId.FirstLine": "First line",
  "ASPxRichEditStringId.Hanging": "Hanging",
  "ASPxRichEditStringId.Spacing": "Spacing",
  "ASPxRichEditStringId.Before": "Before",
  "ASPxRichEditStringId.LineSpacing": "Line spacing",
  "ASPxRichEditStringId.At": "At",
  "ASPxRichEditStringId.After": "After",
  "ASPxRichEditStringId.Single": "Single",
  "ASPxRichEditStringId.spacing_1_5_lines": "1.5 lines",
  "ASPxRichEditStringId.Double": "Double",
  "ASPxRichEditStringId.Multiple": "Multiple",
  "ASPxRichEditStringId.Exactly": "دقیقا",
  "ASPxRichEditStringId.AtLeast": "At least",
  "ASPxRichEditStringId.NoSpace": "Don't add space between paragraph of the same style",
  "ASPxRichEditStringId.Pagination": "Pagination",
  "ASPxRichEditStringId.KLT": "Keep lines together",
  "ASPxRichEditStringId.PBB": "Page break before",
  "ASPxRichEditStringId.Options": "گزینه ها",
  "ASPxRichEditStringId.Preview": "پیش نمایش",
  "ASPxRichEditStringId.Style": "سبک",
  "ASPxRichEditStringId.Color": "رنگ",
  "ASPxRichEditStringId.SaveToServer": "Save file to the server",
  "ASPxRichEditStringId.DownloadCopy": "Download a copy",
  "ASPxRichEditStringId.FolderPath": "Folder path",
  "ASPxRichEditStringId.FileType": "File type",
  "ASPxRichEditStringId.FileName": "File name",
  "ASPxRichEditStringId.ChooseType": "Choose download file type",
  "ASPxRichEditStringId.SaveFileAs": "Save file as",
  "ASPxRichEditStringId.Invalid_FileName": "Invalid file name",
  "ASPxRichEditStringId.PathDoesNotExist": "Path does not exist.\nCheck the path and try again.",
  "ASPxRichEditStringId.Portrait": "پرتره",
  "ASPxRichEditStringId.Landscape": "چشم انداز",
  "ASPxRichEditStringId.Continuous": "مستمر",
  "ASPxRichEditStringId.NewPage": "New page",
  "ASPxRichEditStringId.EvenPage": "Even page",
  "ASPxRichEditStringId.OddPage": "Odd page",
  "ASPxRichEditStringId.WholeDocument": "Whole document",
  "ASPxRichEditStringId.CurrentSection": "Current section",
  "ASPxRichEditStringId.SelectedSections": "Selected sections",
  "ASPxRichEditStringId.ThisPointForward": "This point forward",
  "ASPxRichEditStringId.Margins": "حاشیه",
  "ASPxRichEditStringId.Paper": "کاغذ",
  "ASPxRichEditStringId.Layout": "طرح كلي",
  "ASPxRichEditStringId.Top": "بالا",
  "ASPxRichEditStringId.Bottom": "پایین",
  "ASPxRichEditStringId.Orientation": "جهت گیری",
  "ASPxRichEditStringId.PaperSize": "Paper size",
  "ASPxRichEditStringId.Width": "عرض",
  "ASPxRichEditStringId.Height": "طول",
  "ASPxRichEditStringId.Section": "Section",
  "ASPxRichEditStringId.SectionStart": "Section start",
  "ASPxRichEditStringId.HeadersAndFooters": "Headers and footers",
  "ASPxRichEditStringId.DifferentOddAndEven": "Different odd and even",
  "ASPxRichEditStringId.DifferentFirstPage": "Different first page",
  "ASPxRichEditStringId.ApplyTo": "Apply to",
  "ASPxRichEditStringId.FromEdge": "From edge",
  "ASPxRichEditStringId.Header": "عنوان",
  "ASPxRichEditStringId.Footer": "پاورقی",
  "ASPxRichEditStringId.CancelButton": "لغو",
  "ASPxRichEditStringId.OkButton": "تأیید",
  "ASPxRichEditStringId.OpenButton": "باز کردن",
  "ASPxRichEditStringId.SaveAsButton": "ذخیره",
  "ASPxRichEditStringId.DownloadButton": "Download",
  "ASPxRichEditStringId.SelectButton": "انتخاب",
  "ASPxRichEditStringId.InsertButton": "درج",
  "ASPxRichEditStringId.ChangeButton": "Change",
  "ASPxRichEditStringId.CloseButton": "بستن",
  "ASPxRichEditStringId.InsertTable_TableSize": "Table Size",
  "ASPxRichEditStringId.InsertTable_NumberOfColumns": "Number of columns",
  "ASPxRichEditStringId.InsertTable_NumberOfRows": "Number of rows",
  "ASPxRichEditStringId.SplitCells_MergeCells": "Merge cells before split",
  "ASPxRichEditStringId.InsertCells_ShiftCellsRight": "Shift cells right",
  "ASPxRichEditStringId.InsertCells_ShiftCellsDown": "Shift cells down",
  "ASPxRichEditStringId.InsertCells_InsertEntireRow": "Insert entire row",
  "ASPxRichEditStringId.InsertCells_InsertEntireColumn": "Insert entire column",
  "ASPxRichEditStringId.DeleteCells_ShiftCellsLeft": "Shift cells left",
  "ASPxRichEditStringId.DeleteCells_ShiftCellsUp": "Shift cells up",
  "ASPxRichEditStringId.DeleteCells_DeleteEntireRow": "Delete entire row",
  "ASPxRichEditStringId.DeleteCells_DeleteEntireColumn": "Delete entire column",
  "ASPxRichEditStringId.InsertImage_FromWeb": "From the web (URL)",
  "ASPxRichEditStringId.InsertImage_FromLocal": "From your computer",
  "ASPxRichEditStringId.InsertImage_EnterUrl": "Enter image web address",
  "ASPxRichEditStringId.InsertImage_UploadInstructions": "Browse your computer for the image file to upload",
  "ASPxRichEditStringId.InsertImage_ImagePreview": "Image preview",
  "ASPxRichEditStringId.TableProperties_Size": "اندازه",
  "ASPxRichEditStringId.TableProperties_Alignment": "تراز",
  "ASPxRichEditStringId.TableProperties_VerticalAlignment": "Vertical alignment",
  "ASPxRichEditStringId.TableProperties_MeasureIn": "Measure in",
  "ASPxRichEditStringId.TableProperties_PreferredWidth": "Preferred width",
  "ASPxRichEditStringId.TableProperties_IndentLeft": "Indent from left",
  "ASPxRichEditStringId.TableProperties_SpecifyHeight": "Specify height",
  "ASPxRichEditStringId.TableProperties_RowHeight": "Row height is",
  "ASPxRichEditStringId.TableProperties_Table": "جدول",
  "ASPxRichEditStringId.TableProperties_Row": "ردیف",
  "ASPxRichEditStringId.TableProperties_Column": "ستون",
  "ASPxRichEditStringId.TableProperties_Cell": "Cell",
  "ASPxRichEditStringId.TableProperties_Options": "Options...",
  "ASPxRichEditStringId.TableProperties_BordersAndShading": "Borders and Shading...",
  "ASPxRichEditStringId.TableProperties_PreviousRow": "Previous row",
  "ASPxRichEditStringId.TableProperties_NextRow": "Next row",
  "ASPxRichEditStringId.TableProperties_PreviousColumn": "Previous column",
  "ASPxRichEditStringId.TableProperties_NextColumn": "Next column",
  "ASPxRichEditStringId.TableProperties_CantSplit": "Allow row to break across pages",
  "ASPxRichEditStringId.TableOptions_DefaultCellMargins": "Default cell margins",
  "ASPxRichEditStringId.TableOptions_DefaultCellSpacing": "Default cell spacing",
  "ASPxRichEditStringId.TableOptions_AllowSpacing": "Allow spacing between cells",
  "ASPxRichEditStringId.TableOptions_AutoResize": "Automatically resize to fit contents",
  "ASPxRichEditStringId.BorderShading_Borders": "Borders",
  "ASPxRichEditStringId.BorderShading_Shading": "سایه",
  "ASPxRichEditStringId.BorderShading_Fill": "Fill",
  "ASPxRichEditStringId.BorderShading_BordersDescription": "Click on diagram below or use buttons to apply borders",
  "ASPxRichEditStringId.BorderShading_BordersNone": "هیچکدام",
  "ASPxRichEditStringId.BorderShading_BordersBox": "Box",
  "ASPxRichEditStringId.BorderShading_BordersAll": "همه",
  "ASPxRichEditStringId.BorderShading_BordersGrid": "Grid",
  "ASPxRichEditStringId.BorderShading_BordersCustom": "سفارشی",
  "ASPxRichEditStringId.CellOptions_CellMargins": "Cell margins",
  "ASPxRichEditStringId.CellOptions_SameAsTable": "Same as the whole table",
  "ASPxRichEditStringId.CellOptions_WrapText": "Wrap text",
  "ASPxRichEditStringId.Columns_Presets": "Presets",
  "ASPxRichEditStringId.Columns_NumberOfColumns": "Number of columns",
  "ASPxRichEditStringId.Columns_WidthAndSpacing": "Width and spacing",
  "ASPxRichEditStringId.Columns_EqualWidth": "Equal column width",
  "ASPxRichEditStringId.Columns_Col": "Col #:",
  "ASPxRichEditStringId.Columns_Width": "عرض",
  "ASPxRichEditStringId.Columns_Spacing": "Spacing",
  "ASPxRichEditStringId.PageFile": "File",
  "ASPxRichEditStringId.PageHome": "صفحه اصلی",
  "ASPxRichEditStringId.PageInsert": "درج",
  "ASPxRichEditStringId.PagePageLayout": "Page Layout",
  "ASPxRichEditStringId.PageReferences": "References",
  "ASPxRichEditStringId.PageMailings": "ادغام نامه",
  "ASPxRichEditStringId.PageReview": "Review",
  "ASPxRichEditStringId.PageView": "مشاهده",
  "ASPxRichEditStringId.PageHeaderAndFooter": "Header && Footer",
  "ASPxRichEditStringId.PageTableDesign": "طراحی",
  "ASPxRichEditStringId.PageTableLayout": "طرح كلي",
  "ASPxRichEditStringId.PageFloatingObjects": "قالب",
  "ASPxRichEditStringId.GroupUndo": "لغو عمل",
  "ASPxRichEditStringId.GroupUndoClipboard": "Undo/Clipboard",
  "ASPxRichEditStringId.GroupFont": "قلم",
  "ASPxRichEditStringId.GroupParagraph": "پاراگراف",
  "ASPxRichEditStringId.GroupClipboard": "Clipboard",
  "ASPxRichEditStringId.GroupEditing": "Editing",
  "ASPxRichEditStringId.GroupCommon": "مشترک",
  "ASPxRichEditStringId.GroupStyles": "Styles",
  "ASPxRichEditStringId.GroupZoom": "زوم",
  "ASPxRichEditStringId.GroupShow": "Show",
  "ASPxRichEditStringId.GroupIllustrations": "Illustrations",
  "ASPxRichEditStringId.GroupText": "متن",
  "ASPxRichEditStringId.GroupTables": "Tables",
  "ASPxRichEditStringId.GroupSymbols": "Symbols",
  "ASPxRichEditStringId.GroupLinks": "Links",
  "ASPxRichEditStringId.GroupPages": "صفحات",
  "ASPxRichEditStringId.GroupHeaderFooter": "Header && Footer",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignClose": "بستن",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignNavigation": "Navigation",
  "ASPxRichEditStringId.GroupMailMerge": "ادغام نامه",
  "ASPxRichEditStringId.GroupInsertFields": "Insert Fields",
  "ASPxRichEditStringId.GroupMailMergeView": "مشاهده",
  "ASPxRichEditStringId.GroupCurrentRecord": "Current Record",
  "ASPxRichEditStringId.GroupFinish": "Finish",
  "ASPxRichEditStringId.GroupDocumentViews": "Document Views",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignOptions": "گزینه ها",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignPosition": "موقعیت",
  "ASPxRichEditStringId.GroupPageSetup": "تنظیم صفحه",
  "ASPxRichEditStringId.GroupDocumentProtection": "Protect",
  "ASPxRichEditStringId.GroupDocumentProofing": "Proofing",
  "ASPxRichEditStringId.GroupDocumentComment": "Comment",
  "ASPxRichEditStringId.GroupDocumentTracking": "Tracking",
  "ASPxRichEditStringId.GroupTableOfContents": "جدول محتویات",
  "ASPxRichEditStringId.GroupFloatingPictureToolsArrange": "Arrange",
  "ASPxRichEditStringId.GroupFloatingPictureToolsShapeStyles": "Shape Styles",
  "ASPxRichEditStringId.GroupCaptions": "Captions",
  "ASPxRichEditStringId.GroupPageBackground": "Background",
  "ASPxRichEditStringId.GroupDocumentLanguage": "Language",
  "ASPxRichEditStringId.GroupView": "مشاهده",
  "ASPxRichEditStringId.GroupTableToolsDesignTableStyleOptions": "Table Style Options",
  "ASPxRichEditStringId.GroupTableToolsDesignTableStyles": "Table Styles",
  "ASPxRichEditStringId.GroupTableToolsDesignBordersAndShadings": "Borders && Shadings",
  "ASPxRichEditStringId.GroupTableToolsLayoutTable": "جدول",
  "ASPxRichEditStringId.GroupTableToolsLayoutRowsAndColumns": "Rows && Columns",
  "ASPxRichEditStringId.GroupTableToolsLayoutMerge": "ادغام",
  "ASPxRichEditStringId.GroupTableToolsLayoutCellSize": "Cell Size",
  "ASPxRichEditStringId.GroupTableToolsLayoutAlignment": "تراز",
  "ASPxRichEditStringId.GroupFloatingObjectsShapeStyles": "Shape Styles",
  "ASPxRichEditStringId.GroupFloatingObjectsArrange": "Arrange",
  "ASPxRichEditStringId.RequiredFieldError": "This field is required",
  "ASPxRichEditStringId.MenuCmd_ToggleFullScreen": "Full Screen",
  "ASPxRichEditStringId.MenuCmd_ToggleFullScreenDescription": "Enable / disable the full screen mode.",
  "ASPxRichEditStringId.SaveAsFileTitle": "ذخیره به عنوان",
  "ASPxRichEditStringId.OpenFileTitle": "باز کردن",
  "ASPxRichEditStringId.FontTitle": "قلم",
  "ASPxRichEditStringId.ParagraphTitle": "پاراگراف",
  "ASPxRichEditStringId.PageSetupTitle": "تنظیم صفحه",
  "ASPxRichEditStringId.ColumnsTitle": "ستون",
  "ASPxRichEditStringId.InsertTableTitle": "Insert Table",
  "ASPxRichEditStringId.InsertTableCellsTitle": "درج سلول ها",
  "ASPxRichEditStringId.DeleteTableCellsTitle": "Delete Cells",
  "ASPxRichEditStringId.SplitTableCellsTitle": "Split Cells",
  "ASPxRichEditStringId.TablePropertiesTitle": "Table Properties",
  "ASPxRichEditStringId.BorderShadingTitle": "Borders and Shading",
  "ASPxRichEditStringId.InsertMergeFieldTitle": "درج فیلد ادغام",
  "ASPxRichEditStringId.ExportRangeTitle": "Export Range",
  "ASPxRichEditStringId.BookmarkTitle": "نشانه گذاری",
  "ASPxRichEditStringId.FindReplaceTitle": "Find and Replace",
  "ASPxRichEditStringId.InsertImageTitle": "Insert Picture",
  "ASPxRichEditStringId.ErrorTitle": "خطا",
  "ASPxRichEditStringId.SpellingTitle": "Spelling",
  "ASPxRichEditStringId.InformationTitle": "Information",
  "ASPxRichEditStringId.WarningTitle": "هشدار",
  "ASPxRichEditStringId.RulerMarginLeftTitle": "Margin Left",
  "ASPxRichEditStringId.RulerMarginRightTitle": "Margin Right",
  "ASPxRichEditStringId.RulerFirstLineIdentTitle": "",
  "ASPxRichEditStringId.RulerHangingIdentTitle": "",
  "ASPxRichEditStringId.RulerRightIdentTitle": "",
  "ASPxRichEditStringId.RulerLeftIdentTitle": "",
  "ASPxRichEditStringId.RulerFirstLineIndentTitle": "First Line Indent",
  "ASPxRichEditStringId.RulerHangingIndentTitle": "Hanging Indent",
  "ASPxRichEditStringId.RulerRightIndentTitle": "Right Indent",
  "ASPxRichEditStringId.RulerLeftIndentTitle": "Left Indent",
  "ASPxRichEditStringId.RulerLeftTabTitle": "Left Tab",
  "ASPxRichEditStringId.RulerRightTabTitle": "Right Tab",
  "ASPxRichEditStringId.RulerCenterTabTitle": "Center Tab",
  "ASPxRichEditStringId.RulerDecimalTabTitle": "Decimal Title",
  "ASPxRichEditStringId.MarginsNarrow": "Narrow",
  "ASPxRichEditStringId.MarginsNormal": "عادی",
  "ASPxRichEditStringId.MarginsModerate": "Moderate",
  "ASPxRichEditStringId.MarginsWide": "Wide",
  "ASPxRichEditStringId.ModelIsChangedError": "The document has been modified outside the editor and needs to be reloaded. <br />Your last-minute changes might not be preserved, if any.",
  "ASPxRichEditStringId.SessionHasExpiredError": "Your session has expired. <br />Please refresh the page to continue.",
  "ASPxRichEditStringId.OpeningAndOverstoreImpossibleError": "The open and save document operations are not allowed since the working directory is not specified for the editor.",
  "ASPxRichEditStringId.ClipboardAccessDeniedError": "Access to the clipboard is denied due to your browser's security policy. <br />Instead, you can use the keyboard shortcuts:<br />{0}+X (cut), {0}+C (copy) and {0}+V (paste).",
  "ASPxRichEditStringId.ClipboardAccessDeniedErrorTouch": "Access to the clipboard is denied due to your browser's security policy. Instead, use the native menu that can be invoked by tapping and holding selected content.",
  "ASPxRichEditStringId.InnerExceptionsError": "An unspecified error occurred and the editor needs to be reloaded. Your last changes can be lost.",
  "ASPxRichEditStringId.AuthExceptionsError": "Access to the document is restricted and the editor needs to be reloaded. Your last changes can be lost.",
  "ASPxRichEditStringId.CantSaveToEmptyPathError": "Cannot save a document opened not from a file. Handle the Saving event to process custom saving",
  "ASPxRichEditStringId.ConfirmOnLosingChanges": "Are you sure you want to perform the action? All unsaved document data will be lost.",
  "ASPxRichEditStringId.RestartNumbering": "Restart Numbering",
  "ASPxRichEditStringId.ContinueNumbering": "Continue Numbering",
  "ASPxRichEditStringId.UpdateField": "Update Field",
  "ASPxRichEditStringId.ToggleFieldCodes": "Toggle Field Codes",
  "ASPxRichEditStringId.OpenHyperlink": "Open hyperlink",
  "ASPxRichEditStringId.EditHyperlink": "Edit hyperlink..",
  "ASPxRichEditStringId.RemoveHyperlink": "Remove hyperlink",
  "ASPxRichEditStringId.CantOpenDocumentError": "The document could not be opened because a server error occurred.",
  "ASPxRichEditStringId.CantSaveDocumentError": "The document could not be saved because a server error occurred.",
  "ASPxRichEditStringId.DocVariableExceptionError": "The DOCVARIABLE field could not be calculated because a server error occurred.",
  "ASPxRichEditStringId.InvalidDocumentFormatError": "The file is corrupt and cannot be opened.",
  "ASPxRichEditStringId.InsertContentFromServerExceptionError": "The InsertContentFromServerCommand could not be executed because a server error occurred.",
  "ASPxRichEditStringId.LoadPictureError": "Could not load the image.",
  "ASPxRichEditStringId.MenuCmd_CreateField": "ایجاد فیلد",
  "ASPxRichEditStringId.MenuCmd_CreateFieldDescription": "Create a dynamic element used as a placeholder for data that might change in a document.",
  "ASPxRichEditStringId.MenuCmd_UpdateAllFields": "Update All Fields",
  "ASPxRichEditStringId.MenuCmd_UpdateAllFieldsDescription": "Refresh all dynamic elements in the document by getting the latest source data.",
  "ASPxRichEditStringId.ParagraphStyles": "Paragraph Styles",
  "ASPxRichEditStringId.CharacterStyles": "Character Styles",
  "ASPxRichEditStringId.BulletedAndNumberingTitle": "Bulleted and Numbering",
  "ASPxRichEditStringId.CustomizeNumberedListTitle": "Customize Numbered List",
  "ASPxRichEditStringId.CustomizeBulletedListTitle": "Customize Bulleted List",
  "ASPxRichEditStringId.CustomizeOutlineNumberedTitle": "Customize Outline List",
  "ASPxRichEditStringId.HyperlinkTitle": "فراپیوند",
  "ASPxRichEditStringId.TabsTitle": "Tabs",
  "ASPxRichEditStringId.SymbolsTitle": "Symbols",
  "ASPxRichEditStringId.OtherLabels_None": "none",
  "ASPxRichEditStringId.OtherLabels_All": "همه",
  "ASPxRichEditStringId.OtherLabels_ConfirmToRewriteExistingFile": "already exist. Do you want to replace it?",
  "ASPxRichEditStringId.Numbering_Character": "Character...",
  "ASPxRichEditStringId.Numbering_Font": "Font...",
  "ASPxRichEditStringId.Numbering_BulletCharacter": "Bullet character",
  "ASPxRichEditStringId.Numbering_BulletPosition": "Bullet position",
  "ASPxRichEditStringId.Numbering_TextPosition": "Text position",
  "ASPxRichEditStringId.Numbering_AlignedAt": "Aligned at",
  "ASPxRichEditStringId.Numbering_IndentAt": "Indent at",
  "ASPxRichEditStringId.Numbering_StartAt": "Start at",
  "ASPxRichEditStringId.Numbering_NumberFormat": "Number format",
  "ASPxRichEditStringId.Numbering_NumberStyle": "Number style",
  "ASPxRichEditStringId.Numbering_NumberPosition": "Number position",
  "ASPxRichEditStringId.Numbering_Left": "چپ",
  "ASPxRichEditStringId.Numbering_Center": "مرکز",
  "ASPxRichEditStringId.Numbering_Right": "راست",
  "ASPxRichEditStringId.Numbering_FollowNumberWith": "Follow Number With",
  "ASPxRichEditStringId.Numbering_Level": "سطح",
  "ASPxRichEditStringId.Numbering_TabCharacter": "Tab character",
  "ASPxRichEditStringId.Numbering_Space": "Space",
  "ASPxRichEditStringId.Numbering_Nothing": "Nothing",
  "ASPxRichEditStringId.Numbering_Customize": "Customize...",
  "ASPxRichEditStringId.Numbering_Bulleted": "Bulleted",
  "ASPxRichEditStringId.Numbering_Numbered": "Numbered",
  "ASPxRichEditStringId.Numbering_OutlineNumbered": "Outline Numbered",
  "ASPxRichEditStringId.Hyperlink_EmailAddress": "E-mail address",
  "ASPxRichEditStringId.Hyperlink_Url": "URL",
  "ASPxRichEditStringId.Hyperlink_Bookmark": "نشانه گذاری",
  "ASPxRichEditStringId.Hyperlink_WebPage": "Web page",
  "ASPxRichEditStringId.Hyperlink_PlaceInThisDocument": "Place in this document",
  "ASPxRichEditStringId.Hyperlink_EmailTo": "E-mail to",
  "ASPxRichEditStringId.Hyperlink_Subject": "موضوع",
  "ASPxRichEditStringId.Hyperlink_DisplayProperties": "DisplayProperties",
  "ASPxRichEditStringId.Hyperlink_Text": "متن",
  "ASPxRichEditStringId.Hyperlink_ToolTip": "ToolTip",
  "ASPxRichEditStringId.Hyperlink_InvalidEmail": "Invalid E-mail",
  "ASPxRichEditStringId.Tabs_Set": "Set",
  "ASPxRichEditStringId.Tabs_Clear": "پاک کردن",
  "ASPxRichEditStringId.Tabs_ClearAll": "پاک کردن همه",
  "ASPxRichEditStringId.Tabs_TabStopPosition": "Tab stop position",
  "ASPxRichEditStringId.Tabs_DefaultTabStops": "Default tab stops",
  "ASPxRichEditStringId.Tabs_TabStopsToBeCleared": "Tab stops to be cleared",
  "ASPxRichEditStringId.Tabs_Alignment": "تراز",
  "ASPxRichEditStringId.Tabs_Leader": "Leader",
  "ASPxRichEditStringId.Tabs_Left": "چپ",
  "ASPxRichEditStringId.Tabs_Center": "مرکز",
  "ASPxRichEditStringId.Tabs_Right": "راست",
  "ASPxRichEditStringId.Tabs_Decimal": "Decimal",
  "ASPxRichEditStringId.Tabs_None": "هیچکدام",
  "ASPxRichEditStringId.Tabs_Hyphens": "Hyphens",
  "ASPxRichEditStringId.Tabs_EqualSign": "Equal signs",
  "ASPxRichEditStringId.Tabs_Dots": "Dots",
  "ASPxRichEditStringId.Tabs_Underline": "زير خط دار",
  "ASPxRichEditStringId.Tabs_MiddleDots": "Middle dots",
  "ASPxRichEditStringId.Tabs_ThickLine": "Thick line",
  "ASPxRichEditStringId.FinishMerge_From": "From",
  "ASPxRichEditStringId.FinishMerge_Count": "تعداد",
  "ASPxRichEditStringId.FinishMerge_MergeMode": "Merge mode",
  "ASPxRichEditStringId.FinishMerge_AllRecords": "All records",
  "ASPxRichEditStringId.FinishMerge_CurrentRecord": "Current record",
  "ASPxRichEditStringId.FinishMerge_Range": "Range",
  "ASPxRichEditStringId.FinishMerge_NewParagraph": "New Paragraph",
  "ASPxRichEditStringId.FinishMerge_NewSection": "New Section",
  "ASPxRichEditStringId.FinishMerge_JoinTables": "Join Tables",
  "ASPxRichEditStringId.InsertMergeField_Fields": "فیلدها",
  "ASPxRichEditStringId.Bookmarks_BookmarkName": "Bookmark name",
  "ASPxRichEditStringId.Bookmarks_SortBy": "Sort by",
  "ASPxRichEditStringId.Bookmarks_Name": "نام",
  "ASPxRichEditStringId.Bookmarks_Location": "محل",
  "ASPxRichEditStringId.Bookmarks_Add": "اضافه کردن",
  "ASPxRichEditStringId.Bookmarks_Delete": "حذف",
  "ASPxRichEditStringId.Bookmarks_GoTo": "Go To",
  "ASPxRichEditStringId.Bookmarks_NameErrorText": "Bookmark names must begin with a letter",
  "ASPxRichEditStringId.FindReplace_Find": "یافتن",
  "ASPxRichEditStringId.FindReplace_AdvancedFind": "Advanced find",
  "ASPxRichEditStringId.FindReplace_Replace": "Replace",
  "ASPxRichEditStringId.FindReplace_ReplaceAll": "Replace All",
  "ASPxRichEditStringId.FindReplace_ReplaceWith": "Replace with",
  "ASPxRichEditStringId.FindReplace_Previous": "قبلی",
  "ASPxRichEditStringId.FindReplace_Next": "بعدی",
  "ASPxRichEditStringId.FindReplace_MatchCase": "Match case",
  "ASPxRichEditStringId.FindReplace_Results": "Results",
  "ASPxRichEditStringId.FindReplace_NoResult": "We couldn't find what you were looking for.",
  "ASPxRichEditStringId.FindReplace_TooLongResult": "The result is too long. Check out the pages to see your results in text.",
  "ASPxRichEditStringId.FindReplace_ReplaceAllNotify": "{0} entries have been replaced",
  "ASPxRichEditStringId.FindReplace_Items": "Items",
  "ASPxRichEditStringId.FindReplace_NoMatches": "No matches",
  "ASPxRichEditStringId.FindReplace_Of": "از",
  "ASPxRichEditStringId.SpellingCheckCompletedInformation": "The spelling check is complete.",
  "ASPxRichEditStringId.Spelling_IgnoreOnce": "Ignore Once",
  "ASPxRichEditStringId.Spelling_IgnoreAll": "نادیده گرفتن همه",
  "ASPxRichEditStringId.Spelling_AddToDictionary": "افزودن به واژه نامه",
  "ASPxRichEditStringId.Spelling_Delete": "حذف",
  "ASPxRichEditStringId.Spelling_Change": "Change",
  "ASPxRichEditStringId.Spelling_ChangeAll": "Change All",
  "ASPxRichEditStringId.Spelling_NotInDictionary": "Not in Dictionary:",
  "ASPxRichEditStringId.Spelling_RepeatedWord": "Repeated Word:",
  "ASPxRichEditStringId.Spelling_Suggestions": "Suggestions:",
  "ASPxRichEditStringId.Spelling_NoSpellingSuggestions": "(no spelling suggestions)",
  "ASPxRichEditStringId.MenuCmd_MakeTextSentenceCase": "Sentence case.",
  "ASPxRichEditStringId.MenuCmd_MakeTextSentenceCaseDescription": "Sentence case.",
  "ASPxRichEditStringId.MenuCmd_ShowCellOptionsForm": "Cell Margins",
  "ASPxRichEditStringId.MenuCmd_ShowCellOptionsFormDescription": "Customize cell margins",
  "ASPxRichEditStringId.MenuCmd_HeaderOffset": "Header from Top:",
  "ASPxRichEditStringId.MenuCmd_FooterOffset": "Footer from Bottom:",
  "ASPxRichEditStringId.MenuCmd_HeaderOffsetDescription": "Specify the distance from the top of the page to the top of the header.",
  "ASPxRichEditStringId.MenuCmd_FooterOffsetDescription": "Specify the distance from the bottom of the page to the bottom of the footer.",
  "ASPxRichEditStringId.LayoutOptions_Inline": "In line with text",
  "ASPxRichEditStringId.LayoutOptions_LockAnchor": "Lock Anchor",
  "ASPxRichEditStringId.LayoutOptions_LockAspectRatio": "Lock aspect ratio",
  "ASPxRichEditStringId.LayoutOptions_Reset": "تنظیم مجدد",
  "ASPxRichEditStringId.LayoutOptions_BothSides": "Both sides",
  "ASPxRichEditStringId.LayoutOptions_LeftOnly": "Left only",
  "ASPxRichEditStringId.LayoutOptions_RightOnly": "Right only",
  "ASPxRichEditStringId.LayoutOptions_LargestOnly": "Largest only",
  "ASPxRichEditStringId.LayoutOptions_HorizontalPositionAlignmentInside": "داخل",
  "ASPxRichEditStringId.LayoutOptions_HorizontalPositionAlignmentOutside": "Outside",
  "ASPxRichEditStringId.LayoutOptions_Position": "موقعیت",
  "ASPxRichEditStringId.LayoutOptions_Horizontal": "افقی",
  "ASPxRichEditStringId.LayoutOptions_Vertical": "عمودی",
  "ASPxRichEditStringId.LayoutOptions_RelativeTo": "relative to",
  "ASPxRichEditStringId.LayoutOptions_HorizontalBookLayoutOf": "از",
  "ASPxRichEditStringId.LayoutOptions_AbsolutePosition": "Absolute position",
  "ASPxRichEditStringId.LayoutOptions_RelativePosition": "Relative position",
  "ASPxRichEditStringId.LayoutOptions_Alignment": "تراز",
  "ASPxRichEditStringId.LayoutOptions_BookLayout": "Book layout",
  "ASPxRichEditStringId.LayoutOptions_ToTheRightOf": "to the right of",
  "ASPxRichEditStringId.LayoutOptions_Below": "below",
  "ASPxRichEditStringId.LayoutOptions_TextWrapping": "Text Wrapping",
  "ASPxRichEditStringId.LayoutOptions_WrappingStyle": "Wrapping style",
  "ASPxRichEditStringId.LayoutOptions_WrapText": "Wrap text",
  "ASPxRichEditStringId.LayoutOptions_DistanceFromText": "Distance from text",
  "ASPxRichEditStringId.LayoutOptions_Size": "اندازه",
  "ASPxRichEditStringId.LayoutOptions_Absolute": "Absolute",
  "ASPxRichEditStringId.LayoutOptions_Relative": "Relative",
  "ASPxRichEditStringId.LayoutOptions_Rotate": "چرخش",
  "ASPxRichEditStringId.LayoutOptions_Rotation": "Rotation",
  "ASPxRichEditStringId.LayoutOptions_Scale": "مقیاس",
  "ASPxRichEditStringId.LayoutOptions_OriginalSize": "Original size",
  "ASPxRichEditStringId.FileManager_OpenedFileDeleteErrorText": "The file cannot be deleted. It is already opened by another user.",
  "ASPxRichEditStringId.FileManager_OpenedFileMoveErrorText": "The file cannot be moved. It is already opened by another user.",
  "ASPxRichEditStringId.FileManager_OpenedFileRenameErrorText": "The file cannot be renamed. It is already opened by another user.",
  "ASPxRichEditStringId.CreateDateField": "DATE",
  "ASPxRichEditStringId.CreateDateFieldDescription": "Inserts the current date and time.",
  "ASPxRichEditStringId.CreateTimeField": "TIME",
  "ASPxRichEditStringId.CreateTimeFieldDescription": "Inserts the current time.",
  "ASPxRichEditStringId.CreatePageField": "PAGE",
  "ASPxRichEditStringId.CreatePageFieldDescription": "Inserts the number of the page containing the field.",
  "ASPxRichEditStringId.CreatePageCountField": "NUMPAGES",
  "ASPxRichEditStringId.CreatePageCountFieldDescription": "Inserts the total number of pages.",
  "ASPxRichEditStringId.CreateEmptyMergeField": "MERGEFIELD",
  "ASPxRichEditStringId.CreateEmptyMergeFieldDescription": "Retrieves a value from the bound data source.",
  "ASPxRichEditStringId.CreateEmptyDocVariableField": "DOCVARIABLE",
  "ASPxRichEditStringId.CreateEmptyDocVariableFieldDescription": "Enables you to programmatically insert complex content when this field is updated.",
  "ASPxRichEditStringId.InsertMergeField_NoFields": "no fields",
  "ASPxRichEditStringId.Tabs_NoTabs": "no tabs",
  "ASPxRichEditStringId.Bookmarks_NoBookmarks": "No bookmarks",
  "ASPxRichEditStringId.MenuCmd_Font_settings": "Font settings",
  "ASPxRichEditStringId.MenuCmd_Align_Paragraph": "Align Paragraph",
  "ASPxRichEditStringId.MenuCmd_Align_ParagraphDropDownHeader": "تراز",
  "ASPxRichEditStringId.MenuCmd_Clipboard": "Clipboard",
  "ASPxRichEditStringId.TableBorderStyle_None": "هیچکدام",
  "ASPxRichEditStringId.TableBorderStyle_Single": "Single",
  "ASPxRichEditStringId.TableBorderStyle_Dotted": "Dotted",
  "ASPxRichEditStringId.TableBorderStyle_Dashed": "Dashed",
  "ASPxRichEditStringId.TableBorderStyle_Double": "Double"
}